In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import json
from scipy.spatial import cKDTree

In [2]:
from methods import link_df_to_geojson
from methods import point_df_to_geojson
from methods import identify_dead_end_nodes

In [3]:
data_interim_dir = "../../data/interim/"

data_external_dir = "../../data/external/"

# Read network

In [501]:
shape_gdf = gpd.read_file(data_interim_dir + "step3_join_shst_extraction_with_osm/" 
                          + "shape.geojson")

In [502]:
node_file = data_interim_dir + "step3_join_shst_extraction_with_osm/" + "node.geojson"
node_gdf = gpd.read_file(node_file)

In [503]:
link_file = data_interim_dir + "step4_conflate_with_tomtom/" + "link.feather"

link_df = pd.read_feather(link_file)

In [504]:
shape_gdf.crs

{'init': 'epsg:4326'}

In [505]:
link_df[link_df.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,service,shstGeometryId,shstReferenceId,toIntersectionId,tunnel,u,v,walk_access,wayId,width
348788,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,nan,b5a13d71332300baf271a3dde50dd06d,6233a20ff0d9dc29be597a06ffd19727,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan

# Join county name to shapes and nodes

In [506]:
county_file = data_external_dir + "county_boundaries/cb_2018_us_county_500k/cb_2018_us_county_500k.shp"

county_gdf = gpd.read_file(county_file)

county_gdf = county_gdf.to_crs(shape_gdf.crs)

In [507]:
node_county_gdf = gpd.sjoin(node_gdf, county_gdf, how = "left", op = "intersects")

In [508]:
node_gdf.shape

(661159, 6)

In [509]:
node_county_gdf.shape

(661160, 16)

In [510]:
# use nearest match for nodes that did not get county match (e.g. in the Bay)

node_county_matched_gdf = node_county_gdf[node_county_gdf.NAME.notnull()].copy()
node_county_unmatched_gdf = node_county_gdf[node_county_gdf.NAME.isnull()].copy()

node_county_matched_gdf = node_county_matched_gdf.to_crs(epsg = 26915)
node_county_matched_gdf['X'] = node_county_matched_gdf.geometry.map(lambda g:g.x)
node_county_matched_gdf['Y'] = node_county_matched_gdf.geometry.map(lambda g:g.y)

node_matched_inventory_ref = node_county_matched_gdf[['X', 'Y']].values
node_matched_tree = cKDTree(node_matched_inventory_ref)

node_county_unmatched_gdf = node_county_unmatched_gdf.to_crs({'init' : 'epsg:26915'})
node_county_unmatched_gdf['X'] = node_county_unmatched_gdf['geometry'].apply(lambda p: p.x)
node_county_unmatched_gdf['Y'] = node_county_unmatched_gdf['geometry'].apply(lambda p: p.y)

node_county_rematch_gdf = pd.DataFrame()

for i in range(len(node_county_unmatched_gdf)):
    point = node_county_unmatched_gdf.iloc[i][['X', 'Y']].values
    dd, ii = node_matched_tree.query(point, k = 1)
    add_snap_gdf = gpd.GeoDataFrame(node_county_matched_gdf.iloc[ii][["NAME"]]).transpose().reset_index(drop = True)
    
    add_snap_gdf['shst_node_id'] = node_county_unmatched_gdf.iloc[i]['shst_node_id']
    
    if i == 0:
        node_county_rematch_gdf = add_snap_gdf.copy()
    else:
        node_county_rematch_gdf = node_county_rematch_gdf.append(add_snap_gdf, ignore_index=True, sort=False)

In [511]:
node_county_rematch_dict = dict(zip(node_county_rematch_gdf.shst_node_id, node_county_rematch_gdf.NAME))

In [512]:
node_county_gdf["NAME"] = node_county_gdf["NAME"].fillna(node_county_gdf.shst_node_id.map(node_county_rematch_dict))

In [513]:
node_county_gdf.NAME.value_counts()

Santa Clara      193106
Alameda          126021
Contra Costa      97374
San Mateo         56430
Sonoma            56166
Solano            47305
San Francisco     27656
Marin             26543
Napa              13838
Santa Cruz         5232
Yolo               4238
Lake               2890
San Joaquin        2120
San Benito         1095
Sacramento          383
Mendocino           324
Stanislaus          268
Monterey            124
Merced               47
Name: NAME, dtype: int64

In [514]:
shape_centroid_gdf = shape_gdf.copy()
shape_centroid_gdf["geometry"] = shape_centroid_gdf["geometry"].centroid

shape_centroid_gdf = gpd.sjoin(shape_centroid_gdf, county_gdf, how = "left", op = "intersects")

shape_county_gdf = pd.merge(
    shape_gdf,
    shape_centroid_gdf[["id", "NAME"]],
    how = "left",
    on = "id"
)

In [515]:
shape_gdf.shape

(908267, 6)

In [516]:
shape_county_gdf.shape

(908267, 7)

In [517]:
shape_county_gdf.NAME.value_counts().sum()

907992

In [518]:
shape_county_gdf[shape_county_gdf.NAME.isnull()]

,id,fromIntersectionId,toIntersectionId,forwardReferenceId,backReferenceId,geometry,NAME
115085,275584284bd772edbbb2dbf9fbb7bfde,e076bbf31b048f22833c391c7ad46bb3,d1915df70b5e646e70c8242ff06d5610,37cf6e02dae25f0ad166881851e79d17,b5889bfe79d125f681bc92f66a6dacfe,"LINESTRING (-122.1286524 37.4989011, -122.1283...",NaN
118263,e486664e0612f56f5ebaf275bd0b7c1b,aa3850bdf7a2925617183d97994f656e,3c98e5b6fb8993c575d67f179944f3d4,0714bd4d50ff52fb1ce5cb716f82d4eb,2a5c372be05b14fc71630c76803cc2d8,"LINESTRING (-122.1214496 37.4764155, -122.1212...",NaN
125376,0ec61d53f6c69ef515ba4009ffede64c,9ec988e879689deddc94e4388e6c5e41,dcbccd5feb582a817a3caedcb590640a,20871cef2e397727dffbfceb3d0bd360,59b0a677a3485914314c42c2c33b2710,"LINESTRING (-122.1529321 37.6418294, -122.1531...",NaN
126053,a4993fc2935164038331907ae2c0ef0f,72f5477ed221e106cad0a2bb449763d9,18001131b3cbb61bffbd46f232f9e116,0a20680ad7283456f4e795179413f9ae,,"LINESTRING (-122.1544879 37.6170117, -122.1536...",NaN
126055,42a0b071676831f8d245e694736f9324,72f5477ed221e106cad0a2bb449763d9,12c427672a8791d94bfcaf5378f8c34f,f7c7b1a57c9076b9c04818964378c0df,,"LINESTRING (-122.1544879 37.6170117, -122.1532...",NaN
126057,87fd1ba651b320516da2d253068922e7,dc47f9816efab67bcc3a6b8e3cb3068b,06e88fc49da5dcab64b5b5a6bd927775,74257e0ff098cc9c2b96e04835359062,,"LINESTRING (-122.1491637 37.6188537, -122.1496...",NaN
207079,cd08b2df696f8b1c28d5d5b0fe5b1b34,90e176fc9bb2c3837689b604acf81568,c8c50e5747d5e343caf6a85031b3993e,6e437e8872936b96a3deda5c42e6ffb3,2446660670456b561a866b41f14ebca2,"LINESTRING (-123.4361553 38.6912158, -123.4363...",NaN
207082,3f985789601fb7cb10ec68ab8582caf2,29f667a7c24bfb268ad1f65e005abfe4,426a523201d2d6db3c7767faba554155,63cb84e26634484a0d231bd1ca47a7d8,ef1b950b3ba3a105f3388cd44e20da00,"LINESTRING (-123.4392507 38.6970098, -123.4389...",NaN
208052,87112cba76db310cf77679e99672c83d,fa8b9299507eb4a25ddcca933134b2dd,b38a520e056d0e4b504b7edb3e9167ff,e45b6d9bee468411ae48e7e8443671df,663b405bfe82c29fb979b7882a2501f1,"LINESTRING (-123.3329598 38.5662247, -123.3329...",NaN
208053,c2d3447dfbadd15c5f3667db273b94f3,1481f6ac41cfaa7b0da87e341c72b7c2,fa8b9299507eb4a25ddcca933134b2dd,5ea536e33e7cc38536c19277cb409e23,d1180a6388809609873b8f96d2f68cff,"LINESTRING (-123.3318745 38.56634, -123.331805...",NaN
208114,909364678887d642809de3ec86eb6fb7,64d2116b15f7a5e6e2677ebfc70ec950,bc61021c252655f867cadf55dfa82c58,3560d3d0a3cbf7e70bdf1fecb002c2de,9db6f2317a32b4a84bbf72cf7507916c,"LINESTRING (-123.3666775 38.610556, -123.36678...",NaN
208153,3b096e5f37d10c3d49bea73c74b4cf91,0c9d224dda319ae3bd08d1f36ad9eb3d,f6e4b28bd9f62c74c158d100d2463e40,cb4d8b96663abcc005433b2909f417a9,92680bf66c9face82951ecfebc900df5,"LINESTRING (-123.3423296 38.58854700000001, -1...",NaN
208161,111b80417336abaa91e47d4185e9fd56,e6e5a2274f520721201ab0418768f7f0,ea53bcfd17495149c74865516a7120fd,eca2e3d23d76a5c301d49fc51f82059a,8ec5cde6a6e2dc3490fd441846a037f4,"LINESTRING (-123.3419324 38.5870962, -123.3419...",NaN
208162,943da1a2b504ebfd12bb4f3489ae5ff6,e6e5a2274f520721201ab0418768f7f0,efe5960b3cf624ac634859e23925343c,49cc82995286c78bba4964400a7bc659,5162f7a7e0070f56b271679c9a4c0d13,"LINESTRING (-123.3419324 38.5870962, -123.3419...",NaN
208163,c18072a850625a178a058d6c7a37169a,e6e5a2274f520721201ab0418768f7f0,118b584486266426c2d0edb67768b9f3,f78fd02e13370cb6d9b51942139f4db4,761eddf60c032b445c2bf17998a92af4,"LINESTRING (-123.3419324 38.5870962, -123.3419...",NaN
208164,cec05872489db1a9b3742d080534e185,f4659857794258af9fa1a0448a2c68e1,e6e5a2274f520721201ab0418768f7f0,967ce9c073fb4dc15839b0feef18775c,429f217460dd69dced5ad17a40144683,"LINESTRING (-123.3416532 38.5872789, -123.3417...",NaN
208186,2fdaa90e676099a1b0f026e2d24c9631,83b971c50b22a881d22b6595cdc54d6b,ae39d55086ccac79ff15407e348ffa1a,a79f1a79a2983745d370cf9dca72cc50,2404cbf0fda525f3127cb7ad9fea5035,"LINESTRING (-123.3492271 38.595749, -123.34919...",NaN
208187,98c147001067d96e18727244524802e6,d03c0da173459cdd2ce2641adb525041,ae39d55086ccac79ff15407e348ffa1a,6db729efbcbf76528c8538bf4b7a9cd3,3bfec6a51f0b9fbf22a7b65b017316fc,"LINESTRING (-123.3487267 38.5959556, -123.3487...",NaN
208189,c43a6d42b4b8d722d328bb718436cebc,c10fbdeefda33cbb327c4e57b3808e48,704f92c04d18218badc85bf24f93d0bc,cabd9253ce02ff21196876039c18d6ea,c23edcc5187ba540aa55ed6805267a68,"LINESTRING (-123.3469874 38.5939662, -123.3470...",NaN
208195,0431778c41029b22ecb0a7eb38278992,704f92c04d18218badc85bf24f93d0bc,28b10834c5f7db3730bb555861c327a1,ea7f5d20c49942d5d5b5b916c0792356,2477b4a73a1163e0df2680981f4b0c9a,"LINESTRING (-123.3474073 38.5946347, -123.3473...",NaN
208201,71ca15e777fa739d6e33a88d58e2ba61,957e15eebad3b8d14fb3420f81e742f1,825ac42f0ac58b2d5bbdf5ca4604b625,1f5ca088fa3031395de90a3cf93319d4,084c2792983468818c3f80efe040e3ec,"LINESTRING (-123.3451357 38.5919701, -123.3451...",NaN
208203,26e1257c8f67542ff431ad8c1afd11b7,10a99565199c3058f873176121c8bdb3,957e15eebad3b8d14fb3420f81e742f1,ec056fe187338b1157039024c35df423,4b96a199922e2641293b49a21e8b5ea2,"LINESTRING (-123.3449001 38.5913918, -123.3450...",NaN
208216,2233edc555a212adec4e66b8e47b3bf9,b38a520e056d0e4b504b7edb3e9167ff,452ebaefe67e132529c6393b6d840da3,a40ad7746ef0c89e8d966e45ed001d23,f7de2b6908c07bca6b782a4f3469e4ef,"LINESTRING (-123.3335767 38.566599, -123.33361...",NaN
208828,c42fb29adfc581438189875284e18363,722525f9b2e30346713f67d41ec5b7bd,8ebdf2fae33c01ced710c5c0de645432,3b96117dc1d512e42e1cc8d2d0fbead7,f3b763bf4868a247ad4c125b18542265,"LINESTRING (-123.0611853 38.3001632, -123.0612...",NaN
208830,30c6339bc83a39b79580bf4dc242738c,722525f9b2e30346713f67d41ec5b7bd,32606ae468bf6d193ef0babefef44fcd,32a90f624a2bfc73c6e7cf97a9c308aa,068baee0d459dd14d0effac6f87cee3d,"LINESTRING (-123.0611853 38.3001632, -123.0611...",NaN
209646,cb14a250c6061a2321772bf8751e4974,808783eb92e13b5cb6c9762bed03e634,45c80c3e4e609ae3b416a577e25cfb60,8c1cb4b4a56986faaf1548d0c7c108f7,90b870c0c744567bc52975b153f34e24,"LINESTRING (-123.1067157 38.41858300000001, -1...",NaN
215086,94f27fd17cb1490950db45f179fcbb4a,1616be6e049102921d6ae57b399c52c3,355c917c5afbf4440f319e31571860a5,27acdacc5b29baa6f7a07d040a90c1d0,1cd382e252caf29dd237ae5d0758f316,"LINESTRING (-123.4878015 38.7303119, -123.4876...",NaN
312776,72d1fda1db54e6c5e85f614d652c792a,fc1e7c3b8ff7aabd78ffba2fcdb5d34e,d1a987afae1bed2df1b11abd7e1aaece,a2b82c0aa171672aedd8941f849d3bd7,7ca0ae3eb44acccf6efe118c4b3a110a,"LINESTRING (-122.374589 37.708541, -122.374593...",NaN
312778,ad9dfcb1112e78adc10eac0516fc8984,d1a987afae1bed2df1b11abd7e1aaece,7198fe61c37be4fc1e48b1284c4f181b,d1d930856b4e2aa5471522fa1ac2fb18,6def2c39f54d18cc681c1f63a75d8c4a,"LINESTRING (-122.3745936 37.7086252, -122.3746...",NaN
312779,4459d71f06ff658da30bd3db5245bd81,ada5d165c833cb94004fd07bd706b90a,7198fe61c37be4fc1e48b1284c4f181b,dedaf3105adbac9c5844be55b3d5c8a3,893777318856b6e24d24051385667da3,"LINESTRING (-122.3748555 37.7088468, -122.3747...",NaN
...,...,...,...,...,...,...,...
599630,f0b8a2f8212a953ed6a6e6a93dced691,2c2fdc3b5b113b3f6b09a7a9a2c4f322,1ec6c673d311152e42a26b4c99e552a7,6b58f421c82bc80da746c5e8fecbf780,ead8e0ba31acfc39a088980e5e561425,"LINESTRING (-122.3575025 37.9000708, -122.3575...",NaN
599632,0a01b703f99cd2a565fd7c217ca279fc,1ec6c673d311152e42a26b4c99e552a7,78c2a5ff6dafc04a137eeea147db7d75,5bbda861511796e277a10cccab1b5fa1,517127d2fd6d5ee0f267373026670d7e,"LINESTRING (-122.3576226 37.8983166, -122.3576...",NaN
599634,b7e676f44a3d3775affaf17733f4aaac,2c2fdc3b5b113b3f6b09a7a9a2c4f322,2db7f90024454e31df968ae46db4484f,5831b7761e0af68c6d25fbf4b67366e9,0bbfb420716741b49cfef3204d472c0e,"LINESTRING (-122.3575025 37.9000708, -122.3576...",NaN
600922,cf048ab611b26a132682aca9b8bdbe60,d962fcd23ab23fff233f4c4e640578ea,27206ff104d8760ce4041168e996cb92,95b477e74a4e7da3d2b769cc941126cf,089f9ff2178b374761f266ff8aecf1c3,"LINESTRING (-122.3672771 37.97946750000001, -1...",NaN
600945,b77eca1dd45cb585005428098d416def,e838d991c822e59903441302b2edaad9,93192ce502ebc0d2812203958d5586cb,bad606ccfd4818d3c08db577a0be3f11,68a709d8f1725345b904b0ca42aab0c9,"LINESTRING (-122.3673679 37.9784714, -122.3681...",NaN
600947,555c4ae0d0b1e5da59a0787a0362d5fb,d962fcd23ab23fff233f4c4e640578ea,27206ff104d8760ce4041168e996cb92,77ea1225f58e4f818211b17b7a15bfd5,fce03a7aab9d9a6453ab59cacbf651d3,"LINESTRING (-122.3672771 37.97946750000001, -1...",NaN
600948,d270ae4ba35218c7e44b06d3fe4e9a99,27206ff104d8760ce4041168e996cb92,2a396ef1e4104a08f2c386987418f58f,69a856bbf80103e0782cbdb991481154,376122b27a0c7e0cd3c4836f89b035a4,"LINESTRING (-122.3668908 37.9804252, -122.3669...",NaN
600949,ade9b4a2dc9036f9704c5925592db923,ef90cf5fe1542e874a581fa6ad11e8fd,d962fcd23ab23fff233f4c4e640578ea,5fe5222624abcd213f0e2d349ceb0195,0e76fbcdeab321489cccd6f941b45ac2,"LINESTRING (-122.367092 37.9792963, -122.36719...",NaN
601160,6abac3075d7f87fb4343105f30760263,8865d912b35dbc6531891fe4801ded8b,93192ce502ebc0d2812203958d5586cb,5e445c8e602679467e7ee28a13c194b7,87107b2b4b23c15e0dc6661fdb50b3c1,"LINESTRING (-122.3719349 37.97879260000001, -1...",NaN
604846,d4e3b43b7327608056af1f37dc003bf8,80cd50cead015c333602a82a85a66fda,c4407f4339ddb636f220e5599cac5b4a,54ffbff6c5f3e8a4717df7fc3ad75e0c,3c927312bb82858b90deafc907d98cc6,"LINESTRING (-122.256299 37.7457004, -122.25598...",NaN
604901,69a6c095999624f46635048c974d6698,06d0fb2b55a0c9f7f88395a6f3b3273a,6741df1e8f3ec2869daefe1d23601970,b1e7eb00f8629f07795a1ae70389c921,067438d0f8ae49c0e57cb9e4488d89ba,"LINESTRING (-122.2568781 37.7365913, -122.2574...",NaN
607443,07ee3f4c9b767bdeaa565dd26ed40153,1933e10f8cab74d8665956c9a900196c,794faa444ca5f01f80b9085ffcf1905e,fdce6707ab8780d691bc7503dc3bc56a,10c9d1512cd72e139d380ddc55a3599a,"LINESTRING (-122.2801604 37.7667253, -122.2803...",NaN
607444,5b6c2ed18a9d091e57f3a906500c9868,1933e10f8cab74d8665956c9a900196c,dc782c039cfa4726f0f00f8d82b3f76d,46f0cdcf1a6e0c962edf7b5f72db8568,73cbecaec5efb0840a3a231ec8834ca9,"LINESTRING (-122.2801604 37.7667253, -122.2800...",NaN
607446,89ce8f165506874aaae8d1f1cd6938ff,dd0b16189f442d21d0667774e87953a0,dc782c039cfa4726f0f00f8d82b3f76d,04449e0b5379173b51dde8ce14c5606c,09cba2d618e79b9d68c04b37e000c3c9,"LINESTRING (-122.2788967 37.768039, -122.27891...",NaN
607447,a624f88b1fcba89b1325ab2acc6606fa,794faa444ca5f01f80b9085ffcf1905e,1933e10f8cab74d8665956c9a900196c,dc106cd34ad23ef806d53d9c4ec9e330,b2b4a9666c9f30e0e6b5b5f6427d8a36,"LINESTRING (-122.2805245 37.7665377, -122.2805...",NaN
607448,2824869fe8a8ff6c22b833d193a57181,22682967ae1abda562b2e4c68271121b,dd0b16189f442d21d0667774e87953a0,d1191aaf33b7cad5511750349555389b,71b9b3fbd4d13583c13bde153188411d,"LINESTRING (-122.2796182 37.7675652, -122.2795...",NaN
607449,ed4bc67cb9c431390c081dff6ebdadf9,dc782c039cfa4726f0f00f8d82b3f76d,22682967ae1abda562b2e4c68271121b,a8d2155c211c7a106f8a0939a8da08dd,4d59fb539633978f83d398fee1e31ddf,"LINESTRING (-122.2797376 37.7672832, -122.2797...",NaN
618956,a683bb026e3bc33df9269c8cef42cacb,be4a3ad0c9d1c7949a6067d23989382a,e8925c07d19ce7bef9c6a1f55e53fbdf,45760a62b2d8e7aa232983943c93c7e2,f7a9d56fbe7a339e60977bfa7d1503de,"LINESTRING (-122.3008388 37.84604, -122.300968...",NaN
619471,921879f76a534ee1132552f49825af43,65cb8a21de418e9b1390f6c7756ddaf3,f0cbb65c1b13e3a60db26601835d12b0,9a7e522c893cdc97f3c088000b86262e,1bd09bf07dba05d1c51e7df13a705daa,"LINESTRING (-122.3146734 37.840599, -122.31483...",NaN
619472,2f4d948262f90da2594f03c6949346fe,e962c9bce4a0665f47d2ae1a1756558f,f0cbb65c1b13e3a60db26601835d12b0,ffac2a05e54aa3115470cb5098047731,bc034874c6e8785dce5dc073de887723,"LINESTRING (-122.3135721 37.8420266, -122.3136...",NaN
619478,dae33d2a8ae8091451a41b3c710a7144,37dc3a72a8efb68b7c29ccb81b448642,9e0535b2612cf5c76928c954062d77b9,b3e81996467e825aadea15cfd54d8ae4,2bff4e95dd1c37942a8cb076f5424f4a,"LINESTRING (-122.3148381 37.83988590000001, -1...",NaN
619479,c3b2c6b2820ea216c9a9dee3c5e7dda0,9e0535b2612cf5c76928c954062d77b9,3cf449a80548b1f66ab855d62cf9c54b,8cc934b0c0bd56ef9f46dec9849868a4,9102982101dae8d271f019efa27bab3f,"LINESTRING (-122.315057 37.839931, -122.315219...",NaN
619480,8290bddea327c23b04b323c6abe09882,913eb21bb788159b43234b7108462c99,9e0535b2612cf5c76928c954062d77b9,ad0efa449e3da5fb5fe84790efd16ed6,17393600427867ab5f241eae1eface6f,"LINESTRING (-122.3147392 37.8405075, -122.3148...",NaN
619481,093697b71f4caa625aef9c5eb16c2474,f0cbb65c1b13e3a60db26601835d12b0,3cf449a80548b1f66ab855d62cf9c54b,c8778b2a7316be8eb470b85b99cbe454,8deac022742516b24c5f0015e596c7a2,"LINESTRING (-122.3148353 37.84066170000001, -1...",NaN
619484,68d749232cf810c934f9202c4c69149c,9e0535b2612cf5c76928c954062d77b9,6c376759b9e9dee7e7f4322d4831e12f,2a029429b16206b5e9dce0e865897acf,73e580944aa3c0d3253a95cdb3fb54aa,"LINESTRING (-122.315057 37.839931, -122.315077...",NaN
619533,d00b37fdd6647c34d3a06a8f7226de4d,3cf449a80548b1f66ab855d62cf9c54b,7932d889da7fd89dd862daa11797c6bb,4882001eaa068728baa3f1f4997a4855,d057b2f0bfc60c8f9abc8b8b45911e46,"LINESTRING (-122.315219 37.8399508, -122.31529...",NaN
658079,49ffad67570f9399a9be25d629469bdc,f67ea558343ac85cafb431ece2b54e20,f0969b1413d333294a969daf6f703569,9c0a11ee657a64dc4fa4008c9cce6be9,86796da1bb35145c75d92e0c1d02655d,"LINESTRING (-122.2516708 37.7479209, -122.2515...",NaN
658094,bd3d08e4025facb33210fa95092b00b1,c4407f4339ddb636f220e5599cac5b4a,a5622019aba308fc44e13efe496eb9f6,8b340e8b3a275fe8ca2f77cb5ac7e5f5,6638068bd72e805a1e677b05487d557b,"LINESTRING (-122.2524512 37.7475895, -122.2525...",NaN
658097,388c0dc5fa4e99f2fe270c9be4d1dce0,f67ea558343ac85cafb431ece2b54e20,c4407f4339ddb636f220e5599cac5b4a,7cf067fa8ff5e11167b041ca4514967a,fc9be57d01ce58866a805a7bb2b37790,"LINESTRING (-122.2516708 37.7479209, -122.2517...",NaN
658103,bae955737bc9d59c47084a640f30cd6e,a5622019aba308fc44e13efe496eb9f6,67c704c6470ca0aa0b0996fbd84cf7bb,3b226c8f419527af694fea920c10b753,96be1532b836791689c484f0ff44bab2,"LINESTRING (-122.2536555 37.7470599, -122.2537...",NaN

In [519]:
# use nearest for links that did not get county match
node_county_matched_gdf = node_county_gdf[node_county_gdf.NAME.notnull()].copy()

node_county_matched_gdf = node_county_matched_gdf.to_crs(epsg = 26915)
node_county_matched_gdf['X'] = node_county_matched_gdf.geometry.map(lambda g:g.x)
node_county_matched_gdf['Y'] = node_county_matched_gdf.geometry.map(lambda g:g.y)

node_matched_inventory_ref = node_county_matched_gdf[['X', 'Y']].values
node_matched_tree = cKDTree(node_matched_inventory_ref)

shape_county_unmatched_gdf = shape_county_gdf[shape_county_gdf.NAME.isnull()].copy()

shape_county_unmatched_gdf = shape_county_unmatched_gdf.to_crs({'init' : 'epsg:26915'})
shape_county_unmatched_gdf["geometry"] = shape_county_unmatched_gdf["geometry"].centroid
shape_county_unmatched_gdf['X'] = shape_county_unmatched_gdf['geometry'].apply(lambda p: p.x)
shape_county_unmatched_gdf['Y'] = shape_county_unmatched_gdf['geometry'].apply(lambda p: p.y)

shape_county_rematch_gdf = pd.DataFrame()

for i in range(len(shape_county_unmatched_gdf)):
    point = shape_county_unmatched_gdf.iloc[i][['X', 'Y']].values
    dd, ii = node_matched_tree.query(point, k = 1)
    add_snap_gdf = gpd.GeoDataFrame(node_county_matched_gdf.iloc[ii][["NAME"]]).transpose().reset_index(drop = True)
    
    add_snap_gdf['id'] = shape_county_unmatched_gdf.iloc[i]['id']
    
    if i == 0:
        shape_county_rematch_gdf = add_snap_gdf.copy()
    else:
        shape_county_rematch_gdf = shape_county_rematch_gdf.append(add_snap_gdf, ignore_index=True, sort=False)

In [520]:
shape_county_rematch_dict = dict(zip(shape_county_rematch_gdf.id, shape_county_rematch_gdf.NAME))

shape_county_gdf["NAME"] = shape_county_gdf["NAME"].fillna(shape_county_gdf.id.map(shape_county_rematch_dict))

# Remove duplicate shape/node in county match, e.g. geometry on the boundary

In [521]:
node_county_gdf.drop_duplicates(subset = ["shst_node_id"], inplace = True)

shape_county_gdf.drop_duplicates(subset = ["id"], inplace = True)

In [522]:
node_gdf.shape

(661159, 6)

In [523]:
node_county_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 661159 entries, 0 to 661158
Data columns (total 16 columns):
osm_node_id     661159 non-null int64
shst_node_id    661159 non-null object
drive_access    661159 non-null int64
walk_access     661159 non-null int64
bike_access     661159 non-null int64
geometry        661159 non-null object
index_right     660885 non-null float64
STATEFP         660885 non-null object
COUNTYFP        660885 non-null object
COUNTYNS        660885 non-null object
AFFGEOID        660885 non-null object
GEOID           660885 non-null object
NAME            661159 non-null object
LSAD            660885 non-null object
ALAND           660885 non-null float64
AWATER          660885 non-null float64
dtypes: float64(3), int64(4), object(9)
memory usage: 85.8+ MB

In [524]:
shape_gdf.shape

(908267, 6)

In [525]:
shape_county_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 908267 entries, 0 to 908266
Data columns (total 7 columns):
id                    908267 non-null object
fromIntersectionId    908267 non-null object
toIntersectionId      908267 non-null object
forwardReferenceId    908267 non-null object
backReferenceId       908267 non-null object
geometry              908267 non-null object
NAME                  908267 non-null object
dtypes: object(7)
memory usage: 55.4+ MB

In [526]:
shape_county_gdf[shape_county_gdf.id == "b5a13d71332300baf271a3dde50dd06d"]

,id,fromIntersectionId,toIntersectionId,forwardReferenceId,backReferenceId,geometry,NAME
482767,b5a13d71332300baf271a3dde50dd06d,f407efc156163c556b516200a966187e,7da9cd62c681f3425ba9b2e28d702fc9,6233a20ff0d9dc29be597a06ffd19727,239f1586cff1f2116ad5e26df9375927,"LINESTRING (-122.2339452 37.4206079, -122.2341...",San Mateo

# Remove links and nodes outside of the 9 counties

In [527]:
MPO_county_list = ['San Francisco', 'Santa Clara', 'Sonoma', 'Marin', 'San Mateo',
       'Contra Costa', 'Solano', 'Napa', 'Alameda']

In [528]:
node_gdf = pd.merge(
    node_gdf, 
    node_county_gdf[["shst_node_id", "NAME"]].rename(columns = {"NAME": "county"}), 
    how = "left", 
    on = "shst_node_id")

In [529]:
node_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 661159 entries, 0 to 661158
Data columns (total 7 columns):
osm_node_id     661159 non-null int64
shst_node_id    661159 non-null object
drive_access    661159 non-null int64
walk_access     661159 non-null int64
bike_access     661159 non-null int64
geometry        661159 non-null object
county          661159 non-null object
dtypes: int64(4), object(3)
memory usage: 40.4+ MB

In [530]:
shape_MPO_gdf = shape_county_gdf[shape_county_gdf.NAME.isin(MPO_county_list)].copy()

In [531]:
shape_MPO_gdf.columns

Index(['id', 'fromIntersectionId', 'toIntersectionId', 'forwardReferenceId',
       'backReferenceId', 'geometry', 'NAME'],
      dtype='object')

In [532]:
shape_MPO_gdf.shape

(888188, 7)

In [533]:
shape_MPO_gdf[shape_MPO_gdf.id == "b5a13d71332300baf271a3dde50dd06d"]

,id,fromIntersectionId,toIntersectionId,forwardReferenceId,backReferenceId,geometry,NAME
482767,b5a13d71332300baf271a3dde50dd06d,f407efc156163c556b516200a966187e,7da9cd62c681f3425ba9b2e28d702fc9,6233a20ff0d9dc29be597a06ffd19727,239f1586cff1f2116ad5e26df9375927,"LINESTRING (-122.2339452 37.4206079, -122.2341...",San Mateo

In [534]:
link_df[link_df.u == 5372055804][["roadway", "v", "drive_access", "walk_access", "bike_access"]]

          roadway           v  drive_access  walk_access  bike_access
142409    footway  5000827329             0            1            0
548904   cycleway   890045129             0            1            1
1221973   footway  5000826420             0            1            0

In [535]:
link_df[link_df.v == 5372055804][["roadway", "u", "drive_access", "walk_access", "bike_access"]]

        roadway           u  drive_access  walk_access  bike_access
338507  footway  5000826420             0            1            0
903556  service   890045140             1            1            1
926879  footway  5000827329             0            1            0

In [536]:
link_MPO_df = link_df[link_df.shstGeometryId.isin(shape_MPO_gdf.id.tolist())].copy()

node_MPO_gdf = node_gdf[node_gdf.shst_node_id.isin(link_MPO_df.fromIntersectionId.tolist() + 
                                                   link_MPO_df.toIntersectionId.tolist())].copy()

In [537]:
# nodes that are outside of MPO but used by MPO links, need to give them the internal county names for node numbering

node_MPO_rename_county_gdf = node_MPO_gdf[~node_MPO_gdf.county.isin(MPO_county_list)].copy()

node_link_county_names_df = pd.concat(
    [
        shape_MPO_gdf.groupby(["fromIntersectionId", "NAME"])["id"].count().reset_index().rename(
            columns = {"fromIntersectionId" : "shst_node_id", "NAME" : "county"}),
        shape_MPO_gdf.groupby(["toIntersectionId", "NAME"])["id"].count().reset_index().rename(
            columns = {"toIntersectionId" : "shst_node_id", "NAME" : "county"})
    ],
    sort = False,
    ignore_index = True
)

node_MPO_rename_county_gdf = pd.merge(
    node_MPO_rename_county_gdf.drop(["county"], axis = 1),
    node_link_county_names_df[["shst_node_id", "county"]],
    how = "left",
    on = "shst_node_id"
)

node_MPO_rename_county_gdf.drop_duplicates(subset = ["osm_node_id", "shst_node_id"], inplace = True)

In [538]:
node_MPO_rename_county_gdf.head(3)

,osm_node_id,shst_node_id,drive_access,walk_access,bike_access,geometry,county
0,90535719,9ac4414af3095d8b2fd034dda4ac6330,1,1,1,POINT (-121.7016325 38.1050639),Solano
1,86017483,1af41a838d805cc4ef50c28aa508f6da,1,1,1,POINT (-123.231362 38.81535),Sonoma
2,5040098253,0be862b72977b1f6e8398628c22be835,1,1,1,POINT (-121.5568837 37.7856817),Alameda

In [539]:
node_MPO_gdf.columns

Index(['osm_node_id', 'shst_node_id', 'drive_access', 'walk_access',
       'bike_access', 'geometry', 'county'],
      dtype='object')

In [540]:
node_MPO_rename_county_gdf.columns

Index(['osm_node_id', 'shst_node_id', 'drive_access', 'walk_access',
       'bike_access', 'geometry', 'county'],
      dtype='object')

In [541]:
node_MPO_gdf = pd.concat(
    [
        node_MPO_gdf[node_MPO_gdf.county.isin(MPO_county_list)],
        node_MPO_rename_county_gdf
    ],
    sort = False,
    ignore_index = True
)

In [542]:
link_MPO_gdf = pd.merge(
    link_MPO_df,
    shape_MPO_gdf[["id", "NAME", "geometry"]].rename(columns = {"NAME" : "county"}),
    how = "left", 
    on = "id"
)

link_MPO_gdf = gpd.GeoDataFrame(link_MPO_gdf, geometry = link_MPO_gdf["geometry"],
                            crs={"init" : "epsg:4326"})

In [543]:
link_MPO_gdf[link_MPO_gdf.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,shstReferenceId,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,6233a20ff0d9dc29be597a06ffd19727,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341..."

In [544]:
link_MPO_gdf.county.value_counts()

Santa Clara      524820
Alameda          321922
Contra Costa     243348
San Mateo        144181
Sonoma           138807
Solano           119966
San Francisco     74441
Marin             64637
Napa              34622
Name: county, dtype: int64

In [545]:
print(link_MPO_gdf.drive_access.value_counts())
print(link_MPO_gdf.walk_access.value_counts())
print(link_MPO_gdf.bike_access.value_counts())

1    1313716
0     353028
Name: drive_access, dtype: int64
1    1663966
0       2778
Name: walk_access, dtype: int64
1    1413044
0     253700
Name: bike_access, dtype: int64

In [546]:
node_MPO_gdf.county.value_counts()

Santa Clara      193195
Alameda          126035
Contra Costa      97375
San Mateo         56453
Sonoma            56183
Solano            47336
San Francisco     27656
Marin             26543
Napa              13841
Name: county, dtype: int64

In [547]:
print(node_MPO_gdf.drive_access.value_counts())
print(node_MPO_gdf.walk_access.value_counts())
print(node_MPO_gdf.bike_access.value_counts())

1    545584
0     99033
Name: drive_access, dtype: int64
1    644489
0       128
Name: walk_access, dtype: int64
1    581949
0     62668
Name: bike_access, dtype: int64

In [548]:
len(set(link_MPO_gdf.u.tolist() + link_MPO_gdf.v.tolist()))

644617

In [549]:
node_MPO_gdf.shape

(644617, 7)

# Add length

In [550]:
# add length in meters

geom_length = link_MPO_gdf[['geometry']].copy()
geom_length = geom_length.to_crs(epsg = 26915)
geom_length["length"] = geom_length.length

link_MPO_gdf["length"] = geom_length["length"]

# drop circular links (u == v)

In [551]:
circular_link_gdf = link_MPO_gdf[link_MPO_gdf.u == link_MPO_gdf.v].copy()
circular_link_gdf.shape

(5560, 33)

In [552]:
circular_link_gdf.id.nunique()

4921

In [553]:
link_MPO_gdf.shape

(1666744, 33)

In [554]:
link_MPO_gdf.shstReferenceId.nunique()

1666744

In [555]:
link_MPO_gdf[link_MPO_gdf.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276

In [556]:
link_MPO_gdf = link_MPO_gdf[~ link_MPO_gdf.shstReferenceId.isin(circular_link_gdf.shstReferenceId.tolist())]

In [557]:
link_MPO_gdf[link_MPO_gdf.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276

In [558]:
link_MPO_gdf.shape

(1661184, 33)

In [559]:
link_MPO_gdf.shstReferenceId.nunique()

1661184

In [560]:
link_MPO_gdf.id.nunique()

883267

In [561]:
shape_MPO_gdf = shape_MPO_gdf[shape_MPO_gdf.id.isin(link_MPO_gdf.id)]

In [562]:
shape_MPO_gdf.id.nunique()

883267

In [563]:
node_MPO_gdf = node_MPO_gdf[(node_MPO_gdf.osm_node_id.isin(link_MPO_gdf.u.tolist())) | 
                            (node_MPO_gdf.osm_node_id.isin(link_MPO_gdf.v.tolist()))]

In [564]:
node_MPO_gdf.shape

(643811, 7)

# Flag drive dead end

In [565]:
non_dead_end_link_handle_df = link_MPO_gdf[(link_MPO_gdf.drive_access == 1)][["u", "v"]]

dead_end_node_list = identify_dead_end_nodes(non_dead_end_link_handle_df)

cumulative_dead_end_node_list = []

while len(dead_end_node_list) > 0:
    cumulative_dead_end_node_list = cumulative_dead_end_node_list + dead_end_node_list
    
    non_dead_end_link_handle_df = non_dead_end_link_handle_df[~(non_dead_end_link_handle_df.u.isin(dead_end_node_list)) & 
                                            ~(non_dead_end_link_handle_df.v.isin(dead_end_node_list))].copy()
    
    dead_end_node_list = identify_dead_end_nodes(non_dead_end_link_handle_df)

In [566]:
len(cumulative_dead_end_node_list)

142963

In [567]:
5372055804 in cumulative_dead_end_node_list

True

In [568]:
link_df[link_df.u == 5372055804].v

142409     5000827329
548904      890045129
1221973    5000826420
Name: v, dtype: int64

In [569]:
non_dead_end_link_handle_df

                  u           v
0        2401244716  2401244712
1          57839068    57869731
2        1024388950   110424978
3          65561433  1325928459
4        4545575571  4545575563
5        3377850399  4313871331
6        4305402275  4305402282
8        4925258551  4332522355
9          65308539    65318508
10       4932240373  4616479310
11        260819917  5953032849
13         65344363    65306218
14        411850805  4925786614
15       5355267029  5355267028
16       4926262312  4926262310
17       5497483887  5497483892
18       3950618554  2438382223
19       2427308794  4899816254
20         62447197    62351895
21       4911339113   415279645
23       4932505529  4932505524
24         53051067    53116157
25         53038472   431038438
27       4923736926  4923736941
28         56004679  4926552787
31       3373432239  3373432236
34       2412751750  2412751742
35         57915056  3196060454
36       5835137873    65484925
37         53118723  4930036434
...             ...         ...
1666697    57876884    57835175
1666698  4913684840  4913684860
1666700    53098594    53098593
1666701    53043728  4917497055
1666702   266573157   266573155
1666703   416770469  4924658862
1666704  5435466336    65293777
1666706  1710615576  3044483378
1666707  4930526627  5487047034
1666708  3701798994    65579746
1666709    56075555   317143195
1666711    53048733    53123592
1666712  5744048116    65645138
1666714  4919403640   976346909
1666715    57905201  2398676078
1666716  3443683813    65388267
1666718    53149942    53017946
1666719  2399878700    65539622
1666720    65534610  5854113703
1666721  5905501472  1751510380
1666724    53100711    53054462
1666726    65657206    65591331
1666728  4926259593  4926259599
1666730    65294048    65294046
1666731  2282720491  2282720532
1666734  4605846592    65384626
1666737  4924227733    56128284
1666738  3009734317  3009734330
1666739  4915399180  4915399182
1666740  1386680695  1386680677

[1019187 rows x 2 columns]

In [570]:
link_MPO_gdf.drive_access.value_counts()

1    1309170
0     352014
Name: drive_access, dtype: int64

In [571]:
node_MPO_gdf.drive_access.value_counts()

1    545259
0     98552
Name: drive_access, dtype: int64

In [572]:
# update node and link drive access
# if u/v in dead end node list, then drive access = 0
# if osm_node_id in dead end node list, then drive access = 0

link_MPO_gdf['drive_access'] = np.where(((link_MPO_gdf.u.isin(cumulative_dead_end_node_list)) | 
                                               (link_MPO_gdf.v.isin(cumulative_dead_end_node_list))) &
                                        ~(link_MPO_gdf.roadway.isin(['primary', 'secondary', 'motorway', 'primary_link',
                                               'motorway_link', 'trunk_link', 'trunk', 'secondary_link',
                                               'tertiary_link'])),
                                               0,
                                               link_MPO_gdf.drive_access)

In [573]:
# update network type variable for node

A_B_df = pd.concat([link_MPO_gdf[["u", "fromIntersectionId", "drive_access", "walk_access", "bike_access"]].rename(
                            columns = {"u":"osm_node_id", "fromIntersectionId" : "shst_node_id"}),
                  link_MPO_gdf[["v", "toIntersectionId", "drive_access", "walk_access", "bike_access"]].rename(
                            columns = {"v":"osm_node_id", "toIntersectionId" : "shst_node_id"})],
                  sort = False,
                  ignore_index = True)

A_B_df.drop_duplicates(inplace = True)

A_B_df = A_B_df.groupby(["osm_node_id", "shst_node_id"]).max().reset_index()

node_MPO_gdf = pd.merge(node_MPO_gdf.drop(["drive_access", "walk_access", "bike_access"], axis = 1),
                      A_B_df,
                      how = "left",
                      on = ["osm_node_id", "shst_node_id"])

In [574]:
A_B_df.shape

(643811, 5)

In [575]:
link_MPO_gdf.drive_access.value_counts()

1    1019540
0     641644
Name: drive_access, dtype: int64

In [576]:
node_MPO_gdf.shape

(643811, 7)

In [577]:
node_MPO_gdf.drive_access.value_counts()

1    402361
0    241450
Name: drive_access, dtype: int64

In [578]:
link_MPO_gdf[(link_MPO_gdf.drive_access == 0) & (link_MPO_gdf.walk_access == 0) & (link_MPO_gdf.bike_access == 0)].roadway

Series([], Name: roadway, dtype: object)

In [579]:
link_MPO_gdf[link_MPO_gdf.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276

In [580]:
link_df.roadway.unique()

array(['service', 'residential', 'tertiary', 'primary', 'cycleway',
       'footway', 'secondary', 'motorway', 'primary_link',
       'motorway_link', 'trunk_link', 'trunk', 'secondary_link',
       'tertiary_link'], dtype=object)

In [581]:
link_MPO_gdf[(link_MPO_gdf.drive_access == 0)].roadway.value_counts()

footway        250682
service        156349
residential    132552
cycleway       101332
tertiary          729
Name: roadway, dtype: int64

In [582]:
node_MPO_gdf[node_MPO_gdf.shst_node_id.isin(node_MPO_rename_county_gdf.shst_node_id.tolist())]

,osm_node_id,shst_node_id,geometry,county,drive_access,walk_access,bike_access
643584,90535719,9ac4414af3095d8b2fd034dda4ac6330,POINT (-121.7016325 38.1050639),Solano,1,1,1
643585,86017483,1af41a838d805cc4ef50c28aa508f6da,POINT (-123.231362 38.81535),Sonoma,0,1,1
643586,5040098253,0be862b72977b1f6e8398628c22be835,POINT (-121.5568837 37.7856817),Alameda,0,1,1
643587,95722215,5d60a0cb1999ab51c0a043b8660a310a,POINT (-121.695261 38.514734),Solano,0,1,1
643588,624524794,5ce7982c8f26842d124adb37a07fbd2c,POINT (-121.7568325 37.0491931),Santa Clara,0,1,1
643589,89445717,c3faaf4edfb3666650660c48d8602251,POINT (-121.217535 37.122678),Santa Clara,0,1,1
643590,4003083628,acdea6b75887fafaf03ecd5341df6360,POINT (-121.5373077 37.8429623),Contra Costa,0,1,1
643591,4993578363,57e57e3ba4c52ba8948a03b870ad9aa1,POINT (-121.5564266 37.7588262),Alameda,0,1,1
643592,86452091,8069a166d33ca9002cc0e0d01f98e711,POINT (-123.220412 38.818201),Sonoma,0,1,1
643593,62394174,c0e3f6a6ad024fd6754e19228134509f,POINT (-122.0949798 38.5137149),Solano,1,1,1
643594,322507978,dddd914e805e1676c74d20ad2111ec59,POINT (-121.3149569 37.1691465),Santa Clara,0,1,1
643595,521074270,075f74021854dde4690ece0ce94b2f6c,POINT (-122.0753384 37.2196658),Santa Clara,1,1,1
643596,90535550,9700801ac33d90dfbcfbc9461cd745d8,POINT (-121.730341 38.080109),Solano,1,1,1
643597,624506934,d91bb56d41eeb9d3019d7333168e93af,POINT (-121.7418098 37.0295992),Santa Clara,0,1,1
643598,55939962,2244991d43671ed1da6ae4e2662bdade,POINT (-122.506626 38.695524),Napa,0,1,1
643599,91047274,c362578e033dd2630510a18e0e8f0168,POINT (-122.0371163 37.19308880000001),Santa Clara,0,1,1
643600,1839065836,3eb363a459415294ccb5a466d16f36f9,POINT (-121.800047 37.065424),Santa Clara,0,1,1
643601,31354449,a83ffa58bd80ef64d3511c8daf7b2417,POINT (-121.5534921 36.91178290000001),Santa Clara,1,0,0
643602,65444746,9f9ddc35e439cf6f9aeb15774151d12e,POINT (-122.1527258 37.21616640000001),San Mateo,1,1,1
643603,91101055,4e09d15941f4e821eee90d4856b5e15b,POINT (-122.1525567 37.244399),San Mateo,1,1,1
643604,279009487,f6711ee772b64c31a70025c6f00e4454,POINT (-121.9527953 38.5265933),Solano,1,0,0
643605,95715507,fcdc2c2a37b362115ac82390ed326584,POINT (-121.7376911 38.537813),Solano,0,1,1
643606,91065084,f2b0cbf4fecc47d4a1d144922ee5c927,POINT (-122.156575 37.214344),San Mateo,0,1,1
643607,65486504,085eb3882db4d9d07acd1dfcfcee425e,POINT (-121.8463445 37.0970505),Santa Clara,0,1,1
643608,2025528800,4deb88fffb12bad4a215318df0cc60ef,POINT (-121.7715819 37.0527645),Santa Clara,0,1,1
643609,315712813,7a7058c1a433d31c6af7e95f6cd7eb72,POINT (-121.4144577 37.1987834),Santa Clara,0,1,1
643610,65486755,57dbbd951e30a9fa46dfed8d8356152c,POINT (-121.9615442 37.1324999),Santa Clara,1,1,1
643611,559299122,8a1b2da9b14983c9414885c265a853f2,POINT (-122.3161227 37.1847795),San Mateo,0,1,1
643612,65612679,b3f5d67915c82f265f6c307a9b66f551,POINT (-121.9002076 37.1110303),Santa Clara,0,1,1
643613,85291560,83c4edfe3614efd1bb0917d5815fa05e,POINT (-122.795463 38.83686),Sonoma,0,1,1
...,...,...,...,...,...,...,...
643781,447908966,585e26f3967db51aa04b90246d816b4b,POINT (-121.6510884 36.9391413),Santa Clara,0,1,1
643782,86228874,a546705d70c57df8f1a19022d27a827a,POINT (-123.444496 38.77916800000001),Sonoma,0,1,1
643783,332793689,b1a23861d2ea46e9256b7da013d0f065,POINT (-122.6511692 38.70682410000001),Sonoma,0,1,1
643784,91044142,3d81506e221ef7f6d6214ce54099ec96,POINT (-122.1551688 37.2152566),San Mateo,1,1,1
643785,86256118,68f9a98a30b217515cce31f0f3d6ceb2,POINT (-123.0380131 38.8578691),Sonoma,1,0,0
643786,91101035,bb6460604f89110f9904bde31f6aaeb9,POINT (-122.1526784 37.219762),San Mateo,1,1,1
643787,65367996,dc704d19a9c6991a29916cd88675cbc0,POINT (-122.3106547 37.1458832),San Mateo,0,1,1
643788,55998666,776e2bb2c659d43f289bd3f52366610c,POINT (-122.883232 38.850465),Sonoma,0,1,1
643789,65383767,f740a21505ba7b71ab164116722a9646,POINT (-121.3776105 36.9604332),Santa Clara,0,1,1
643790,90873605,bcf8e18a590a071013272f5dc2c5a17e,POINT (-121.556661 37.756108),Alameda,1,1,1
643791,91101287,24f9da18400646e26b864b91590e3c7a,POINT (-122.2470339 37.18727730000001),San Mateo,0,1,1
643792,55972457,0cfdfe0b77ddd01b1b00e5db7baac905,POINT (-122.46389 38.705203),Napa,0,1,1
643793,55998594,1cc534c2bc59910c7df9d3b2b9ab3f2f,POINT (-122.886102 38.850413),Sonoma,0,1,1
643794,65412042,93e7afe35715d2ab6838f86f4a14c41c,POINT (-121.238438 37.034345),Santa Clara,0,1,1
643795,91100956,198ce198d16973d9764a4d205f8beac3,POINT (-122.1522318 37.2409271),San Mateo,1,1,1
643796,591391496,724ff15fb2944cdb861a19ad91652566,POINT (-121.7134632 38.5376817),Solano,0,1,1
643797,477027691,c592c53cb9f16d043a0ecc5c82fdaa3e,POINT (-122.0955114 37.2305977),Santa Clara,0,1,1
643798,65401859,c8e0df9e6c35e8a84bc200a637ff0c6e,POINT (-121.462151 37.442334),Santa Clara,0,1,1
643799,62372616,0f7b7a55379186b34a2138acf83d5f61,POINT (-121.7831719 38.5267069),Solano,0,1,1
643800,95710107,5555f58a3dae1a8ce405d05b732aae9b,POINT (-121.8034998 38.5272237),Solano,1,1,1
643801,65415044,715b51aa83940a21b5f01e37169a3454,POINT (-122.1814107 37.2150772),San Mateo,0,1,1
643802,85740766,86bc31b9ce62a9196aa3f0a969e78859,POINT (-122.403233 38.856413),Napa,0,1,1
643803,86880757,43fdab12fead0743bdde7981a5f4f29e,POINT (-123.0331878 38.8554962),Sonoma,0,1,1
643804,280821212,0019646747644857beb064b64d6d3fa9,POINT (-122.0119214 38.4891356),Solano,1,1,1
643805,56043215,365102d4a338fada8915bcabfd8826fa,POINT (-122.996249 38.85126),Sonoma,0,1,1
643806,1768967728,e60809e8c798f84f89859e3978724e88,POINT (-122.3663306 38.8442738),Napa,0,1,1
643807,86858845,0484ebc2bdeb0b3ee4de8542f6e3cf81,POINT (-122.9343702 38.8540618),Sonoma,0,1,1
643808,62186376,f1db100a0afaa25599e0e1adcf089516,POINT (-121.69622 38.526941),Solano,0,1,1
643809,275049562,e622d196cdd34dba2c9ca1a91cc29c80,POINT (-122.1038914 38.5147679),Napa,0,1,1
643810,85370805,cbff06db15508a4d2e626bad11f00477,POINT (-122.7231945 38.7631786),Sonoma,0,1,1

In [583]:
link_MPO_gdf[link_MPO_gdf.v == 62394174]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
1252258,"['nan', 'nan']","['nan', 'nan']",1,"['yes', 'nan']",1,"['nan', 'nan']",b6e691d77bc53a92d4f6a62e91301ccc,"['secondary', 'secondary']",3d6d41eef3868e2d4448c5edd8703bc6,"['nan', 'nan']",...,c0e3f6a6ad024fd6754e19228134509f,"['nan', 'nan']",387990215,62394174,1,"[8713932, 25749628]","['nan', 'nan']",Solano,"LINESTRING (-122.0949798 38.5137149, -122.0952...",211.216796

# Drop duplicate links between same AB node pair

In [584]:
non_unique_AB_links_df = link_MPO_gdf.groupby(["u", "v"]).shstReferenceId.count().sort_values().reset_index()
non_unique_AB_links_df = non_unique_AB_links_df[non_unique_AB_links_df.shstReferenceId > 1]

non_unique_AB_links_df = pd.merge(non_unique_AB_links_df[["u", "v"]],
                              link_MPO_gdf[["u", "v", "highway", "roadway", "drive_access", "bike_access", "walk_access", "length",
                                      "wayId", "shstGeometryId", "shstReferenceId", "geometry"]],
                              how = "left",
                              on = ["u", "v"])

In [585]:
non_unique_AB_links_df.roadway.value_counts()

service          34111
residential      10503
footway           5318
cycleway          5021
tertiary           876
secondary          627
primary            266
trunk               20
motorway            10
trunk_link           4
primary_link         3
motorway_link        3
Name: roadway, dtype: int64

In [586]:
link_MPO_gdf[(link_MPO_gdf.u == 4075004794) & (link_MPO_gdf.v == 4075001784)]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276
1104417,"['nan', 'nan']","['nan', 'nan']",1,"['nan', 'nan']",0,"['nan', 'nan']",f407efc156163c556b516200a966187e,"['service', 'track']",b6f6f29894314a39e1b7069bd4f53d96,"['nan', 'nan']",...,7da9cd62c681f3425ba9b2e28d702fc9,"['nan', 'nan']",4075004794,4075001784,1,"[405292128, 405292129]","['nan', 'nan']",San Mateo,"LINESTRING (-122.2364996 37.4191189, -122.2365...",753.540618

In [587]:
non_unique_AB_links_df[non_unique_AB_links_df.shstGeometryId == "b5a13d71332300baf271a3dde50dd06d"]

,u,v,highway,roadway,drive_access,bike_access,walk_access,length,wayId,shstGeometryId,shstReferenceId,geometry
24752,4075004794,4075001784,track,cycleway,0,1,1,314.736276,405292130,b5a13d71332300baf271a3dde50dd06d,6233a20ff0d9dc29be597a06ffd19727,"LINESTRING (-122.2339452 37.4206079, -122.2341..."
24755,4075001784,4075004794,track,cycleway,0,1,1,314.736276,405292130,b5a13d71332300baf271a3dde50dd06d,239f1586cff1f2116ad5e26df9375927,"LINESTRING (-122.2339452 37.4206079, -122.2341..."

In [588]:
non_unique_AB_links_df

,u,v,highway,roadway,drive_access,bike_access,walk_access,length,wayId,shstGeometryId,shstReferenceId,geometry
0,5493358061,832260450,service,service,0,1,1,86.998878,571633507,c292f727d9fe1ee89d2f932d8430a26e,7e0b71e0f01f53edb659eb3dac84cd3d,"LINESTRING (-122.0528345 37.6717391, -122.0527..."
1,5493358061,832260450,residential,residential,0,1,1,31.942883,6384706,90af9682dc8d0b560d7e605665b4e4c3,f9a60d2b6947ec00edfa38d4a6258068,"LINESTRING (-122.0531519 37.6718225, -122.0528..."
2,2482062375,2482062433,service,service,1,1,1,70.956734,240472662,a64eaea7a3c5a2d1f13efe765778c5b7,742720d65a97f85124a271f64d86e6fd,"LINESTRING (-122.3057263 37.9939809, -122.3049..."
3,2482062375,2482062433,service,service,1,1,1,96.796573,240472660,87c9a6825ae6ac44b9955b02b46270ec,ebd39faab6f92c45dc0e17b766498c86,"LINESTRING (-122.3049843 37.9939249, -122.3053..."
4,1233081811,1233081567,footway,footway,0,0,1,93.183199,107254877,b5d1cb445985832fb22e4b1e0fa0a407,d5f3dd21781045308b45fda2a0531852,"LINESTRING (-122.1951368 37.7605487, -122.1950..."
5,1233081811,1233081567,footway,footway,0,0,1,82.435365,107254921,23554584c8fe5e0f3c6c21e17ffea0b4,f0a961cc31265126ac3555b668472e79,"LINESTRING (-122.1951368 37.7605487, -122.1952..."
6,4931835557,4931835550,service,service,0,1,1,113.120135,502811696,bcf9a41b094b908b88a4bdeadef7b76a,96838728dbacacd57731a31df56ad185,"LINESTRING (-122.8787877 38.4046133, -122.8787..."
7,4931835557,4931835550,service,service,0,1,1,84.092560,502811696,bd50f5f1b1653b1a4647cb3c5e109d4b,940a390c1ebfc1c5d325a786cf40b9c4,"LINESTRING (-122.8779668 38.4046001, -122.8780..."
8,4930090412,4930090405,service,service,1,1,1,211.750991,502576004,d3a99ae8a5b124abe8a92a8853e46501,56f87be49662475a9c84cb1644d6bec6,"LINESTRING (-121.9517985 38.256374, -121.95173..."
9,4930090412,4930090405,,residential,1,1,1,17.261674,502558445,972a1e9b02614ffa5a32ee9b75dc0fd3,462f81c1c87c6b26efa7f3622b5369e9,"LINESTRING (-121.9519131 38.2562623, -121.9518..."
10,2506767120,2506767114,"['footway', 'steps', 'footway']",footway,0,0,1,12.220409,"[109141784, 243255257, 243255258]",33362fd8a390cb442eb3dbd2757803d3,33fb4f45b983c0358ab0693d594da535,"LINESTRING (-122.40113 37.7822656, -122.401143..."
11,2506767120,2506767114,footway,footway,0,0,1,28.837782,243255261,bdd3e135a3d51b4281a5e211eaafcfe4,928ee74fece19bdb0951982352910be6,"LINESTRING (-122.40113 37.7822656, -122.401193..."
12,6141090993,6141090999,service,service,1,1,1,36.400303,655455923,a21d64d851ed938a5974436bc561a83e,c12e440c18d4b2bc49a2607bf9cca5bf,"LINESTRING (-122.6313777 38.4626537, -122.6313..."
13,6141090993,6141090999,residential,residential,1,1,1,22.371015,7712833,4eb79db7f4247b51255cee6bdb0b49db,51dcaff3f3a1349a7daae0c88a0db11e,"LINESTRING (-122.6315987 38.4625878, -122.6313..."
14,5360031411,5360031419,service,service,1,1,1,36.190617,555581712,d20d14ecbe7165c97be5734e3800c305,7aae6824d706ed6939b609b6ab11c15a,"LINESTRING (-122.5414364 37.9998112, -122.5414..."
15,5360031411,5360031419,service,service,1,1,1,71.437525,555581713,2c4f27c44d7631ac4e7434949d1f802c,98a36d3396ba61e4653e4aaeeff19a69,"LINESTRING (-122.5414364 37.9998112, -122.5416..."
16,4555819573,4555819575,service,service,1,1,1,83.612158,459851064,0709b06b2bc0e3bca2b702030bbf7ae5,562710e9c94552572d79f34943d11c9e,"LINESTRING (-121.9484157 38.0265826, -121.9476..."
17,4555819573,4555819575,service,service,1,1,1,84.210505,459851063,64ebdabc1d28124e7d05325c899c4048,783d355b932af8bc458e0143567f33db,"LINESTRING (-121.9484157 38.0265826, -121.9484..."
18,5491823934,5491823936,,cycleway,0,1,1,93.109383,571425649,9b0070d6526cb4a5ae5dddffc5f0e946,e20ac2c01f685713039131d89ffa73f4,"LINESTRING (-121.9675897 37.5246535, -121.9676..."
19,5491823934,5491823936,,cycleway,0,1,1,58.668902,571425650,654d728ba119cd7ac31138fe9df787f3,fcc278c56bab8cd0e2d314b5f4b22b22,"LINESTRING (-121.9675897 37.5246535, -121.9681..."
20,5492254242,5492254245,service,service,1,1,1,39.960809,571477117,bee70ddf53daef1b65d095ef8ac981d3,ab6b075d46e838e43736ba3d053e3f17,"LINESTRING (-122.0874412 37.6729818, -122.0872..."
21,5492254242,5492254245,service,service,1,1,1,75.811231,571477117,58f52254394dc085e9c61972c08f6fd0,598c003b88fbba08db0fc00d963f846f,"LINESTRING (-122.0872356 37.6726924, -122.0870..."
22,4919327265,4919327261,service,service,1,1,1,145.459128,501026435,ecfc10cba6e6dfc059c0ab4a5993b371,0bb788ec633ebd2ce7c69948c29e30bd,"LINESTRING (-121.8584074 37.6666874, -121.8583..."
23,4919327265,4919327261,service,service,1,1,1,65.879890,501026434,4f980838b5f73ee8010f724f9eff0ee2,e43257e304231556c519ef03fdfde6b1,"LINESTRING (-121.8584074 37.6666874, -121.8582..."
24,62204749,62204755,service,service,1,1,1,46.677135,8698404,0e4b494da41575b465bf33dce088851a,066ca7a7126c6858bd07e5b1e0078cdf,"LINESTRING (-122.189582 38.07852800000001, -12..."
25,62204749,62204755,service,service,1,1,1,48.307365,8698517,0b2365995bb7db5f7fcd6d430255d3ee,600fb55c5d019c41205a63044c2cfde3,"LINESTRING (-122.189582 38.07852800000001, -12..."
26,6141090999,6141090993,residential,residential,1,1,1,22.371015,7712833,4eb79db7f4247b51255cee6bdb0b49db,b711ac27876596e327cdb0562f78d99d,"LINESTRING (-122.6315987 38.4625878, -122.6313..."
27,6141090999,6141090993,service,service,1,1,1,36.400303,655455923,a21d64d851ed938a5974436bc561a83e,705d18916aae9d9e5a04099cd70ff2b9,"LINESTRING (-122.6313777 38.4626537, -122.6313..."
28,360879954,360880062,footway,footway,0,0,1,139.596724,32145562,372a97746230324e4b840bfa2aa1ebe9,946bb2e298795c7d659a8600fd73bb84,"LINESTRING (-122.4210025 37.73284080000001, -1..."
29,360879954,360880062,footway,footway,0,0,1,22.233468,32145562,f4e6b286b88d2a92a5117178416f1024,fa37ffd164c0c7b1eaa4a0848cd216c0,"LINESTRING (-122.4208475 37.7327068, -122.4209..."
...,...,...,...,...,...,...,...,...,...,...,...,...
56732,2750790937,2750790968,path,cycleway,0,1,1,204.301227,269970395,e35cbea090c432b49f69f56b04608419,7970d30d2bf611aa5931ab04b72f3201,"LINESTRING (-121.6445676 37.132112, -121.64441..."
56733,2750790968,2750790937,path,cycleway,0,1,1,204.301227,269970395,e35cbea090c432b49f69f56b04608419,0e8fe01ba347841ea02f1a6ee8cb694c,"LINESTRING (-121.6445676 37.132112, -121.64441..."
56734,2750790968,2750790937,footway,footway,0,0,1,138.616565,269970391,fafffb25c27c8d148a9cf9fc54bf9747,057e3097018ca80b682ef266dd424724,"LINESTRING (-121.6436245 37.1312657, -121.6436..."
56735,2750790968,2750790937,path,cycleway,0,1,1,198.593837,269970395,6c6c311e66bb13635e7c3c41a5346106,5ce6065980de4ed5f8dfa8df167cdfe5,"LINESTRING (-121.6436245 37.1312657, -121.6437..."
56736,55988469,55988471,service,service,0,1,1,137.967942,215919670,642dd91642eb727258530c4617d491a3,7a94da629e20069a6562bc478e28c3d1,"LINESTRING (-122.5860656 38.2452978, -122.5862..."
56737,55988469,55988471,service,service,0,1,1,95.738759,7703907,60dd0694342e83784477ccb07cf028a3,e974773dbb09165cca03457bc68b2177,"LINESTRING (-122.5860656 38.2452978, -122.5854..."
56738,55988469,55988471,service,service,0,1,1,137.972809,215919670,d974a74bb1d8af68851f6079c649018e,087da2ed3fbbf66e1e4e87f5cc2ee1ab,"LINESTRING (-122.58549 38.2459506, -122.585294..."
56739,65409920,670714007,path,cycleway,0,1,1,98.558858,86694352,887f1ff551ec334fd67b95b7a0469d41,33714a118116e94595631bc42b03be42,"LINESTRING (-121.9061207 37.1500951, -121.9057..."
56740,65409920,670714007,"['path', 'path']",cycleway,0,1,1,570.491776,"[86694339, 86694352]",85af9c435673677eed4855ad23792e38,db8b145d1575cd8b3a60dea25d38089c,"LINESTRING (-121.9061207 37.1500951, -121.9059..."
56741,65409920,670714007,path,cycleway,0,1,1,97.411377,86694352,7b76bf779f707ec0bbc461bc1e4aa4ff,da4955abd6a4b1fbd42950dacc9abcdd,"LINESTRING (-121.9055922 37.1506137, -121.9060..."
56742,4913479606,4913479605,"['service', 'service', 'service']",service,0,1,1,108.500238,"[500248342, 500248343, 500248344]",f9ecb897268753f6cab05008bb1ccda7,aac2fdffe6f54211523245ee4902def9,"LINESTRING (-121.8590795 37.2453766, -121.8590..."
56743,4913479606,4913479605,service,service,0,1,1,65.984032,500248339,31f3b243784e44cb77c3d575e4ae0e67,da4aacff4221de14dbe879c6bd1dda35,"LINESTRING (-121.8590795 37.2453766, -121.8597..."
56744,4913479606,4913479605,"['service', 'service', 'service']",service,0,1,1,110.600441,"[500248344, 500248340, 500248342]",2144929bc2cd5922482e885d64c022f0,b08c93892ff52ded2e62bd4984dd16e0,"LINESTRING (-121.8597349 37.2455404, -121.8598..."
56745,747649693,747649688,"['service', 'service', 'service']",service,1,1,1,52.403340,"[60194673, 537654989, 537654988]",5bb871af1e8fae2a144e85845cf2aa62,35a64882e3cc06d682f9dff7a9bd75b9,"LINESTRING (-121.9529958 38.3349509, -121.9529..."
56746,747649693,747649688,"['service', 'service', 'service']",service,1,1,1,48.327882,"[60194675, 537654987, 537654986]",6e6c53eba9efc9add3bcc81e5ed5ef4f,47cbbf4dc4f9568820d57fb3ea52e706,"LINESTRING (-121.9529958 38.3349509, -121.9529..."
56747,747649693,747649688,"['service', 'service', 'service']",service,1,1,1,59.711112,"[60194679, 537654991, 537654990]",5ab9d00bcf7d27618448977170b77cb1,b9539590e83eb15ff9f27c57cc7404f0,"LINESTRING (-121.9529958 38.3349509, -121.9530..."
56748,747649693,747649688,service,service,1,1,1,46.264814,60194680,cd1e67458a709b495f6d0f55b0727792,e948526812020bdedb479594570b93cd,"LINESTRING (-121.9529958 38.3349509, -121.9526..."
56749,747649693,747649688,"['service', 'service', 'service']",service,1,1,1,65.533017,"[60194674, 537654993, 537654992]",5395de834d507a4c37055ffee89ebf49,1d0f70f236e535d5127692abe5d21951,"LINESTRING (-121.9526291 38.3352064, -121.9529..."
56750,747649688,747649693,"['service', 'service', 'service']",service,1,1,1,65.533017,"[60194674, 537654993, 537654992]",5395de834d507a4c37055ffee89ebf49,069bf0ec569ea84cefb80de44bf3e00e,"LINESTRING (-121.9526291 38.3352064, -121.9529..."
56751,747649688,747649693,"['service', 'service', 'service']",service,1,1,1,52.403340,"[60194673, 537654989, 537654988]",5bb871af1e8fae2a144e85845cf2aa62,50bde8ac09fb65388bb7b79edc5d5e31,"LINESTRING (-121.9529958 38.3349509, -121.9529..."
56752,747649688,747649693,"['service', 'service', 'service']",service,1,1,1,59.711112,"[60194679, 537654991, 537654990]",5ab9d00bcf7d27618448977170b77cb1,5e531d6d1a773efaecb53dce60bab4da,"LINESTRING (-121.9529958 38.3349509, -121.9530..."
56753,747649688,747649693,service,service,1,1,1,46.264814,60194680,cd1e67458a709b495f6d0f55b0727792,7991650289bf69f47691377d87f98e99,"LINESTRING (-121.9529958 38.3349509, -121.9526..."
56754,747649688,747649693,"['service', 'service', 'service']",service,1,1,1,48.327882,"[60194675, 537654987, 537654986]",6e6c53eba9efc9add3bcc81e5ed5ef4f,d9de617a4b09bba42d11e341488fe7c9,"LINESTRING (-121.9529958 38.3349509, -121.9529..."
56755,4281289216,4281289265,service,service,1,1,1,233.442341,428998308,6d38e659163d0411ce3af359437b43f5,6f3814999e5f7c535a3f20e09538b78a,"LINESTRING (-122.1089577 38.2312537, -122.1083..."
56756,4281289216,4281289265,service,service,1,1,1,229.259076,428998312,a1062e0c565dadb5c1edaf8ec7e4b694,703dcad02b076087727ef0fa54609653,"LINESTRING (-122.1089577 38.2312537, -122.1085..."
56757,4281289216,4281289265,service,service,1,1,1,232.691087,428998310,a5c5788ff7d23703545f5b6be9540191,b178c4bec3dbff3384cb0d00c2155981,"LINESTRING (-122.1089577 38.2312537, -122.1085..."
56758,4281289216,4281289265,service,service,1,1,1,227.680223,428998313,f74398078a011d0771c5a975c38ee93e,b7ebc134058619749ee60b17746dd596,"LINESTRING (-122.1089577 38.2312537, -122.1085..."
56759,4281289216,4281289265,service,service,1,1,1,229.733471,428998306,a3060bc89bfbca7e6da4f068a781815b,c4c6ee82ee55af4e15bfde788fc43e6c,"LINESTRING (-122.1089577 38.2312537, -122.1084..."
56760,4281289216,4281289265,service,service,1,1,1,237.544806,428998304,489206057626022993615189e3547ee8,eaacaed573b40a6282943db940f0e15b,"LINESTRING (-122.1089577 38.2312537, -122.1086..."
56761,4281289216,4281289265,service,service,1,1,1,227.763888,428998305,32853ac5a530cf38dbed93b8e4d8284f,ff2f92dccd8760977d3e91e366c2456c,"LINESTRING (-122.1089577 38.2312537, -122.1084..."

In [589]:
link_MPO_gdf[link_MPO_gdf.u == link_MPO_gdf.v]

Empty GeoDataFrame
Columns: [access, area, bike_access, bridge, drive_access, est_width, fromIntersectionId, highway, id, junction, key, landuse, lanes, link, maxspeed, name, oneWay, ref, roadway, roundabout, service, shstGeometryId, shstReferenceId, toIntersectionId, tunnel, u, v, walk_access, wayId, width, county, geometry, length]
Index: []

[0 rows x 33 columns]

In [590]:
non_unique_AB_links_df.shape

(56762, 12)

In [591]:
link_MPO_gdf[link_MPO_gdf.shstGeometryId == "c6aa967814865bf0eec8ebd0e5b27d3c"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
871576,nan,nan,1,nan,0,nan,40b7757ac264ef8fc3deeee11d25514f,residential,c6aa967814865bf0eec8ebd0e5b27d3c,nan,...,4319c448c6e983dc44395113accaae58,nan,55956915,1129773955,1,7699978,nan,Napa,"LINESTRING (-122.2577045 38.1849324, -122.2577...",113.890865
1386565,nan,nan,1,nan,0,nan,4319c448c6e983dc44395113accaae58,residential,c6aa967814865bf0eec8ebd0e5b27d3c,nan,...,40b7757ac264ef8fc3deeee11d25514f,nan,1129773955,55956915,1,7699978,nan,Napa,"LINESTRING (-122.2577045 38.1849324, -122.2577...",113.890865

In [592]:
link_MPO_gdf[link_MPO_gdf.shstGeometryId == "b5a13d71332300baf271a3dde50dd06d"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,toIntersectionId,tunnel,u,v,walk_access,wayId,width,county,geometry,length
341082,nan,nan,1,nan,0,nan,f407efc156163c556b516200a966187e,track,b5a13d71332300baf271a3dde50dd06d,nan,...,7da9cd62c681f3425ba9b2e28d702fc9,nan,4075004794,4075001784,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276
996413,nan,nan,1,nan,0,nan,7da9cd62c681f3425ba9b2e28d702fc9,track,b5a13d71332300baf271a3dde50dd06d,nan,...,f407efc156163c556b516200a966187e,nan,4075001784,4075004794,1,405292130,nan,San Mateo,"LINESTRING (-122.2339452 37.4206079, -122.2341...",314.736276

In [593]:
roadway_hierarchy_df = pd.read_csv("../../data/interim/highway_to_roadway.csv")

In [594]:
roadway_hierarchy_df = roadway_hierarchy_df.drop_duplicates(subset = "roadway")

In [595]:
non_unique_AB_links_df = pd.merge(non_unique_AB_links_df,
                              roadway_hierarchy_df[["roadway", "hierarchy"]],
                              how = "left",
                              on = "roadway")

In [596]:
non_unique_AB_links_df.shape

(56762, 13)

In [597]:
non_unique_AB_links_df[(non_unique_AB_links_df.u == 4075004794) & 
                       (non_unique_AB_links_df.v == 4075001784)]

,u,v,highway,roadway,drive_access,bike_access,walk_access,length,wayId,shstGeometryId,shstReferenceId,geometry,hierarchy
24752,4075004794,4075001784,track,cycleway,0,1,1,314.736276,405292130,b5a13d71332300baf271a3dde50dd06d,6233a20ff0d9dc29be597a06ffd19727,"LINESTRING (-122.2339452 37.4206079, -122.2341...",13
24753,4075004794,4075001784,"['service', 'track']",service,0,1,1,753.540618,"[405292128, 405292129]",b6f6f29894314a39e1b7069bd4f53d96,4715d32ebbf18e592af26b06ce167ac0,"LINESTRING (-122.2364996 37.4191189, -122.2365...",12

In [598]:
# sort on hierarchy (ascending), drive_access(descending), bike_access(descending), walk_access(descending), length(ascending)

non_unique_AB_links_sorted_df =  non_unique_AB_links_df.sort_values(
    by = ["hierarchy", "drive_access", "bike_access", "walk_access", "length"],
    ascending = [True, False, False, False, True])

unique_AB_links_df = non_unique_AB_links_sorted_df.drop_duplicates(subset = ["u", "v"], keep = "first")

In [599]:
unique_AB_links_df[(unique_AB_links_df.u == 4075004794) & 
                       (unique_AB_links_df.v == 4075001784)]

,u,v,highway,roadway,drive_access,bike_access,walk_access,length,wayId,shstGeometryId,shstReferenceId,geometry,hierarchy
24753,4075004794,4075001784,"['service', 'track']",service,0,1,1,753.540618,"[405292128, 405292129]",b6f6f29894314a39e1b7069bd4f53d96,4715d32ebbf18e592af26b06ce167ac0,"LINESTRING (-122.2364996 37.4191189, -122.2365...",12

In [600]:
from_list = non_unique_AB_links_df.shstReferenceId.tolist()
to_list = unique_AB_links_df.shstReferenceId.tolist()

drop_link_model_link_id_list = [c for c in from_list if c not in to_list]

In [601]:
link_MPO_gdf = link_MPO_gdf[~ link_MPO_gdf.shstReferenceId.isin(drop_link_model_link_id_list)]

In [602]:
shape_MPO_gdf = shape_MPO_gdf[shape_MPO_gdf.id.isin(link_MPO_gdf.id)].copy()

In [603]:
len(set(link_MPO_gdf.u.tolist() + link_MPO_gdf.v.tolist()))

643811

In [604]:
node_MPO_gdf.shape

(643811, 7)

In [605]:
link_MPO_gdf.id.nunique()

868567

In [606]:
shape_MPO_gdf.shape

(868567, 7)

In [607]:
link_MPO_gdf.shape

(1632702, 33)

In [608]:
link_MPO_gdf.groupby(["u", "v"]).shstReferenceId.count().shape

(1632702,)

In [609]:
node_MPO_gdf.osm_node_id.nunique()

643811

In [610]:
shape_MPO_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 868567 entries, 0 to 908266
Data columns (total 7 columns):
id                    868567 non-null object
fromIntersectionId    868567 non-null object
toIntersectionId      868567 non-null object
forwardReferenceId    868567 non-null object
backReferenceId       868567 non-null object
geometry              868567 non-null object
NAME                  868567 non-null object
dtypes: object(7)
memory usage: 53.0+ MB

In [611]:
link_MPO_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1632702 entries, 0 to 1666743
Data columns (total 33 columns):
access                1632702 non-null object
area                  1632702 non-null object
bike_access           1632702 non-null int64
bridge                1632702 non-null object
drive_access          1632702 non-null int64
est_width             1632702 non-null object
fromIntersectionId    1632702 non-null object
highway               1632702 non-null object
id                    1632702 non-null object
junction              1632702 non-null object
key                   1632702 non-null object
landuse               1632702 non-null object
lanes                 1632702 non-null object
link                  1632702 non-null object
maxspeed              1632702 non-null object
name                  1632702 non-null object
oneWay                1632702 non-null object
ref                   1632702 non-null object
roadway               1632702 non-null object
roundabout            1632702 non-null object
service               1632702 non-null object
shstGeometryId        1632702 non-null object
shstReferenceId       1632702 non-null object
toIntersectionId      1632702 non-null object
tunnel                1632702 non-null object
u                     1632702 non-null int64
v                     1632702 non-null int64
walk_access           1632702 non-null int64
wayId                 1632702 non-null object
width                 1632702 non-null object
county                1632702 non-null object
geometry              1632702 non-null object
length                1632702 non-null float64
dtypes: float64(1), int64(5), object(27)
memory usage: 423.5+ MB

# Rename attributes

In [612]:
node_MPO_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 643811 entries, 0 to 643810
Data columns (total 7 columns):
osm_node_id     643811 non-null int64
shst_node_id    643811 non-null object
geometry        643811 non-null object
county          643811 non-null object
drive_access    643811 non-null int64
walk_access     643811 non-null int64
bike_access     643811 non-null int64
dtypes: int64(4), object(3)
memory usage: 39.3+ MB

In [613]:
shape_MPO_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 868567 entries, 0 to 908266
Data columns (total 7 columns):
id                    868567 non-null object
fromIntersectionId    868567 non-null object
toIntersectionId      868567 non-null object
forwardReferenceId    868567 non-null object
backReferenceId       868567 non-null object
geometry              868567 non-null object
NAME                  868567 non-null object
dtypes: object(7)
memory usage: 53.0+ MB

In [614]:
link_MPO_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1632702 entries, 0 to 1666743
Data columns (total 33 columns):
access                1632702 non-null object
area                  1632702 non-null object
bike_access           1632702 non-null int64
bridge                1632702 non-null object
drive_access          1632702 non-null int64
est_width             1632702 non-null object
fromIntersectionId    1632702 non-null object
highway               1632702 non-null object
id                    1632702 non-null object
junction              1632702 non-null object
key                   1632702 non-null object
landuse               1632702 non-null object
lanes                 1632702 non-null object
link                  1632702 non-null object
maxspeed              1632702 non-null object
name                  1632702 non-null object
oneWay                1632702 non-null object
ref                   1632702 non-null object
roadway               1632702 non-null object
roundabout            1632702 non-null object
service               1632702 non-null object
shstGeometryId        1632702 non-null object
shstReferenceId       1632702 non-null object
toIntersectionId      1632702 non-null object
tunnel                1632702 non-null object
u                     1632702 non-null int64
v                     1632702 non-null int64
walk_access           1632702 non-null int64
wayId                 1632702 non-null object
width                 1632702 non-null object
county                1632702 non-null object
geometry              1632702 non-null object
length                1632702 non-null float64
dtypes: float64(1), int64(5), object(27)
memory usage: 423.5+ MB

In [615]:
not_to_export_link_json = ["id", "link"]

In [616]:
link_MPO_gdf.roadway.value_counts()

service           541982
residential       538666
footway           247489
cycleway           98615
tertiary           93947
secondary          68529
primary            26492
motorway_link       4983
trunk               4160
motorway            2774
secondary_link      1566
primary_link        1506
trunk_link          1382
tertiary_link        611
Name: roadway, dtype: int64

# Numbering Nodes

In [617]:
county_node_numbering_start_dict = {
    "San Francisco" : 1000000, 
    "San Mateo" : 1500000,
    "Santa Clara" : 2000000,
    "Alameda" : 2500000,
    "Contra Costa" : 3000000,
    "Solano" : 3500000,
    "Napa" : 4000000,
    "Sonoma" : 4500000,
    "Marin" : 5000000
}

In [618]:
node_MPO_gdf["model_node_id"] = node_MPO_gdf.groupby(["county"]).cumcount()

In [619]:
node_MPO_gdf["county_numbering_start"] = node_MPO_gdf["county"].map(county_node_numbering_start_dict)

node_MPO_gdf["model_node_id"] = node_MPO_gdf["model_node_id"] + node_MPO_gdf["county_numbering_start"]

In [620]:
node_MPO_gdf[node_MPO_gdf.model_node_id.isnull()].county.unique()

array([], dtype=object)

In [621]:
node_MPO_gdf.county.value_counts()

Santa Clara      192799
Alameda          125942
Contra Costa      97273
San Mateo         56363
Sonoma            56146
Solano            47318
San Francisco     27608
Marin             26529
Napa              13833
Name: county, dtype: int64

In [622]:
node_MPO_gdf.model_node_id.nunique()

643811

In [623]:
node_MPO_gdf[node_MPO_gdf.county.isin(county_node_numbering_start_dict.keys())].shape

(643811, 9)

# Numbering Links

In [624]:
county_link_numbering_start_dict = {
    "San Francisco" : 1, 
    "San Mateo" : 1000000,
    "Santa Clara" : 2000000,
    "Alameda" : 3000000,
    "Contra Costa" : 4000000,
    "Solano" : 5000000,
    "Napa" : 6000000,
    "Sonoma" : 7000000,
    "Marin" : 8000000
}

In [625]:
link_MPO_gdf.county.value_counts()

Santa Clara      516565
Alameda          315314
Contra Costa     237448
San Mateo        140927
Sonoma           135042
Solano           117102
San Francisco     73440
Marin             63184
Napa              33680
Name: county, dtype: int64

In [626]:
link_MPO_gdf["model_link_id"] = link_MPO_gdf.groupby(["county"]).cumcount()

link_MPO_gdf["county_numbering_start"] = link_MPO_gdf["county"].map(county_link_numbering_start_dict)

link_MPO_gdf["model_link_id"] = link_MPO_gdf["model_link_id"] + link_MPO_gdf["county_numbering_start"]

In [627]:
link_MPO_gdf[link_MPO_gdf.model_link_id.isnull()].county.unique()

array([], dtype=object)

In [628]:
link_MPO_gdf.model_link_id.nunique()

1632702

In [629]:
link_MPO_gdf[link_MPO_gdf.county.isin(county_link_numbering_start_dict.keys())].shape

(1632702, 35)

# Numbering Link A/B nodes

In [630]:
node_shst_model_id_dict = dict(zip(node_MPO_gdf.shst_node_id, node_MPO_gdf.model_node_id))

In [631]:
link_MPO_gdf["A"] = link_MPO_gdf["fromIntersectionId"].map(node_shst_model_id_dict)
link_MPO_gdf["B"] = link_MPO_gdf["toIntersectionId"].map(node_shst_model_id_dict)

In [632]:
link_MPO_gdf.head(3)

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,walk_access,wayId,width,county,geometry,length,model_link_id,county_numbering_start,A,B
0,nan,nan,1,nan,1,nan,505d64eb98f1da8d812a3b3801034308,service,208e093f10a62dcc6646a8efa0bde136,nan,...,1,231794292,nan,Contra Costa,"LINESTRING (-122.3315542 37.9812044, -122.3315...",84.645250,4000000,4000000,3000000,3007836
1,nan,nan,1,nan,1,nan,473979c78435732f01ca5a168afb62e0,residential,5fe3056a5583474c0c898983cd6a638b,nan,...,1,7864473,nan,Contra Costa,"LINESTRING (-121.94477 37.953322, -121.9443904...",509.283331,4000001,4000000,3000001,3077456
2,nan,nan,1,nan,1,nan,fc7b575d5d8c961d4a70fca846ae7f80,tertiary,38e962038ecf17c6c7394ba88bc3b4c1,nan,...,1,12183318,nan,Marin,"LINESTRING (-122.5398278 37.8979989, -122.5400...",128.106786,8000000,8000000,5000000,5014577

In [633]:
link_MPO_gdf[link_MPO_gdf.shstGeometryId == "38e962038ecf17c6c7394ba88bc3b4c1"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,walk_access,wayId,width,county,geometry,length,model_link_id,county_numbering_start,A,B
2,nan,nan,1,nan,1,nan,fc7b575d5d8c961d4a70fca846ae7f80,tertiary,38e962038ecf17c6c7394ba88bc3b4c1,nan,...,1,12183318,nan,Marin,"LINESTRING (-122.5398278 37.8979989, -122.5400...",128.106786,8000000,8000000,5000000,5014577
1413864,nan,nan,1,nan,1,nan,7550e87fc64657a10282672d814ab3c5,tertiary,38e962038ecf17c6c7394ba88bc3b4c1,nan,...,1,12183318,nan,Marin,"LINESTRING (-122.5398278 37.8979989, -122.5400...",128.106786,8053564,8000000,5014577,5000000

In [634]:
link_MPO_gdf[link_MPO_gdf.A.isnull()].county.value_counts()

Series([], Name: county, dtype: int64)

In [635]:
node_MPO_gdf[node_MPO_gdf.osm_node_id == 322507978]

,osm_node_id,shst_node_id,geometry,county,drive_access,walk_access,bike_access,model_node_id,county_numbering_start
643594,322507978,dddd914e805e1676c74d20ad2111ec59,POINT (-121.3149569 37.1691465),Santa Clara,0,1,1,2192698,2000000

In [636]:
node_MPO_gdf.model_node_id.nunique()

643811

# Write out

In [637]:
print("-------write out link shape geojson---------")

shape_prop = ['id', 'fromIntersectionId', 'toIntersectionId', 'forwardReferenceId', 'backReferenceId']
shape_geojson = link_df_to_geojson(shape_MPO_gdf, shape_prop)

with open("../../data/interim/step5_tidy_roadway/shape.geojson", "w") as f:
    json.dump(shape_geojson, f)

    
print("-------write out link json---------")

link_prop = link_MPO_gdf.drop(["geometry"] + not_to_export_link_json, axis = 1).columns.tolist()

out = link_MPO_gdf[link_prop].to_json(orient = "records")

with open('../../data/interim/step5_tidy_roadway/link.json', 'w') as f:
    f.write(out)

    
print("-------write out node geojson---------")

node_prop = node_MPO_gdf.drop("geometry", axis = 1).columns.tolist()
node_geojson = point_df_to_geojson(node_MPO_gdf, node_prop)

with open("../../data/interim/step5_tidy_roadway/node.geojson", "w") as f:
    json.dump(node_geojson, f)

-------write out link shape geojson---------
-------write out link json---------
-------write out node geojson---------

In [638]:
link_MPO_gdf.columns

Index(['access', 'area', 'bike_access', 'bridge', 'drive_access', 'est_width',
       'fromIntersectionId', 'highway', 'id', 'junction', 'key', 'landuse',
       'lanes', 'link', 'maxspeed', 'name', 'oneWay', 'ref', 'roadway',
       'roundabout', 'service', 'shstGeometryId', 'shstReferenceId',
       'toIntersectionId', 'tunnel', 'u', 'v', 'walk_access', 'wayId', 'width',
       'county', 'geometry', 'length', 'model_link_id',
       'county_numbering_start', 'A', 'B'],
      dtype='object')

In [639]:
print("-------write out link feather---------")

link_feather = link_MPO_gdf.reset_index(drop = True).drop("geometry", axis = 1).copy()

link_feather.to_feather(data_interim_dir + 'step5_tidy_roadway/link.feather')

-------write out link feather---------

In [640]:
link_feather.columns

Index(['access', 'area', 'bike_access', 'bridge', 'drive_access', 'est_width',
       'fromIntersectionId', 'highway', 'id', 'junction', 'key', 'landuse',
       'lanes', 'link', 'maxspeed', 'name', 'oneWay', 'ref', 'roadway',
       'roundabout', 'service', 'shstGeometryId', 'shstReferenceId',
       'toIntersectionId', 'tunnel', 'u', 'v', 'walk_access', 'wayId', 'width',
       'county', 'length', 'model_link_id', 'county_numbering_start', 'A',
       'B'],
      dtype='object')

In [641]:
link_df[link_df.u == 890045140][["roadway", "drive_access", "walk_access", "bike_access"]]

         roadway  drive_access  walk_access  bike_access
246811   service             1            1            1
903556   service             1            1            1
1598733  service             1            1            1

In [642]:
link_MPO_gdf[link_MPO_gdf.u == 890045140][["roadway", "drive_access", "walk_access", "bike_access"]]

         roadway  drive_access  walk_access  bike_access
241376   service             1            1            1
883586   service             0            1            1
1562251  service             1            1            1

In [643]:
link_df[link_df.shstReferenceId == "cb711b2cd73ebb6ac0548350ae9f226e"]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,service,shstGeometryId,shstReferenceId,toIntersectionId,tunnel,u,v,walk_access,wayId,width
721952,no,nan,1,yes,1,nan,0be640da7eb02b44a6fbe14339f5b275,service,3b1b9350f00aa409e5e6ba1c508d6a98,nan,...,busway,3b1b9350f00aa409e5e6ba1c508d6a98,cb711b2cd73ebb6ac0548350ae9f226e,db1880b5dd0773e65d41989bf5775203,nan,5826305757,5826305760,1,616216455,nan

In [644]:
shape_gdf[shape_gdf.id == "3b1b9350f00aa409e5e6ba1c508d6a98"]

,id,fromIntersectionId,toIntersectionId,forwardReferenceId,backReferenceId,geometry
301211,3b1b9350f00aa409e5e6ba1c508d6a98,0be640da7eb02b44a6fbe14339f5b275,db1880b5dd0773e65d41989bf5775203,cb711b2cd73ebb6ac0548350ae9f226e,,"LINESTRING (-122.396039 37.7863407, -122.39615..."

In [645]:
link_MPO_gdf[link_MPO_gdf.shstReferenceId == "6233a20ff0d9dc29be597a06ffd19727"]

Empty GeoDataFrame
Columns: [access, area, bike_access, bridge, drive_access, est_width, fromIntersectionId, highway, id, junction, key, landuse, lanes, link, maxspeed, name, oneWay, ref, roadway, roundabout, service, shstGeometryId, shstReferenceId, toIntersectionId, tunnel, u, v, walk_access, wayId, width, county, geometry, length, model_link_id, county_numbering_start, A, B]
Index: []

[0 rows x 37 columns]