# This notebook goes through building drive, walk, and bike centroids and centorid connectors

1. centroid nodes come from existing network
2. drive centroid connector built by finding the new non-freeway drive node closest to the existing network's drive loading point
3. bike and walk centroid connector built by finding the closest new walk and bike node to the centroid

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point, shape, LineString
from scipy.spatial import cKDTree
import json


%matplotlib inline

import matplotlib.pyplot as plt

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from methods import link_df_to_geojson
from methods import point_df_to_geojson
from methods import reproject
from methods import num_of_drive_loadpoint_per_centroid
from methods import num_of_walk_bike_loadpoint_per_centroid
from methods import find_new_load_point
from methods import generate_centroid_connectors
from methods import consolidate_cc

from methods import project_geometry
from methods import project_gdf
from methods import buffer1
from methods import buffer2
from methods import get_non_near_connectors

In [4]:
step6_output_folder = "../../data/interim/step6_gtfs/"
county_shape_folder = "../data/external/county/"

In [5]:
link_file = step6_output_folder + "link.feather"
link_df = pd.read_feather(link_file)

node_file = step6_output_folder + "node.geojson"
node_gdf = gpd.read_file(node_file)

shape_file = step6_output_folder + "shape.geojson"
shape_gdf = gpd.read_file(shape_file)

In [6]:
link_df[link_df.shstReferenceId == "02b0be7186de823a19b1bbd0ae45ddec"][["A", "B"]]

            A        B
9112  4500775  4500852

In [7]:
taz_poly_gdf = gpd.read_file("../../../travel-model-two/maz_taz/shapefiles/tazs_TM2_v2_2.shp")

taz_poly_gdf = taz_poly_gdf.to_crs(epsg = 4326)

In [8]:
maz_poly_gdf = gpd.read_file("../../../travel-model-two/maz_taz/shapefiles/mazs_TM2_v2_2.shp")

maz_poly_gdf = maz_poly_gdf.to_crs(epsg = 4326)

In [9]:
# legacy lookup for assignable
tm2_lookup_df = pd.read_csv("../../../Lasso/mtc_data/lookups/legacy_tm2_attributes.csv")

In [10]:
tm2_lookup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757723 entries, 0 to 757722
Data columns (total 6 columns):
shstReferenceId    757723 non-null object
A_node             757723 non-null int64
B_node             757723 non-null int64
lanes              757723 non-null int64
assignable         757723 non-null int64
ft                 757723 non-null object
dtypes: int64(4), object(2)
memory usage: 34.7+ MB

In [11]:
link_gdf = pd.merge(link_df,
                    shape_gdf[["id", "geometry"]],
                    how = "left",
                    on = "id")

link_gdf = gpd.GeoDataFrame(link_gdf, 
                            geometry = link_gdf["geometry"],
                            crs={"init" : "epsg:4326"})

link_gdf = pd.merge(
    link_gdf,
    tm2_lookup_df[["shstReferenceId", "assignable"]],
    how = "left",
    on = "shstReferenceId"
)

In [12]:
link_gdf.assignable.value_counts()

1.000    695049
0.000     57163
Name: assignable, dtype: int64

In [13]:
node_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 644475 entries, 0 to 644474
Data columns (total 9 columns):
osm_node_id      643811 non-null float64
shst_node_id     644475 non-null object
county           644475 non-null object
drive_access     644475 non-null int64
walk_access      644475 non-null int64
bike_access      644475 non-null int64
model_node_id    644475 non-null int64
rail_only        644475 non-null int64
geometry         644475 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 44.3+ MB

In [14]:
link_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1634769 entries, 0 to 1634768
Data columns (total 39 columns):
access                1632702 non-null object
area                  1632702 non-null object
bike_access           1634769 non-null int64
bridge                1632702 non-null object
drive_access          1634769 non-null int64
est_width             1632702 non-null object
fromIntersectionId    1632702 non-null object
highway               1632702 non-null object
id                    1634769 non-null object
junction              1632702 non-null object
key                   1632702 non-null object
landuse               1632702 non-null object
lanes                 1632702 non-null object
link                  1632702 non-null object
maxspeed              1632702 non-null object
name                  1632702 non-null object
oneWay                1632702 non-null object
ref                   1632702 non-null object
roadway               1632702 non-null object
roundabout            1632702 non-null object
service               1632702 non-null object
shstGeometryId        1634769 non-null object
shstReferenceId       1632702 non-null object
toIntersectionId      1632702 non-null object
tunnel                1632702 non-null object
u                     1632702 non-null float64
v                     1632702 non-null float64
walk_access           1634769 non-null int64
wayId                 1632702 non-null object
width                 1632702 non-null object
county                1634769 non-null object
length                1634030 non-null float64
model_link_id         1634769 non-null int64
A                     1634769 non-null int64
B                     1634769 non-null int64
rail_traveltime       607 non-null float64
rail_only             1634769 non-null int64
geometry              1634769 non-null object
assignable            752212 non-null float64
dtypes: float64(5), int64(7), object(27)
memory usage: 498.9+ MB

# centroid connector

In [15]:
# read existing network

existing_network_link_gdf = gpd.read_file("../../data/external/TM2_nonMarin/tm2_links.shp")
existing_network_node_gdf = gpd.read_file("../../data/external/TM2_nonMarin/tm2_nodes.shp")

existing_network_link_gdf.crs = {"init" : "esri:102646"}
existing_network_node_gdf.crs = {"init" : "esri:102646"}

In [16]:
# convert to ESPG lat-lon

existing_network_link_gdf = existing_network_link_gdf.to_crs({'init': 'epsg:4326'})
existing_network_link_gdf.crs

existing_network_node_gdf = existing_network_node_gdf.to_crs({'init': 'epsg:4326'})
existing_network_node_gdf.crs

{'init': 'epsg:4326'}

existing_network_link_gdf[["CNTYPE","geometry"]].to_file("../../data/interim/step7_centroid_connector/tm2_connectors.geojson",
                                                        driver = "GeoJSON")

In [17]:
existing_network_link_gdf.geometry

0          LINESTRING (-122.4235552308525 37.770461316487...
1          LINESTRING (-122.4235552308525 37.770461316487...
2          LINESTRING (-122.4235552308525 37.770461316487...
3          LINESTRING (-122.4235552308525 37.770461316487...
4          LINESTRING (-122.4235552308525 37.770461316487...
5          LINESTRING (-122.4235552308525 37.770461316487...
6          LINESTRING (-122.4235552308525 37.770461316487...
7          LINESTRING (-122.4185110411505 37.764307980971...
8          LINESTRING (-122.4185110411505 37.764307980971...
9          LINESTRING (-122.4185110411505 37.764307980971...
10         LINESTRING (-122.4185110411505 37.764307980971...
11         LINESTRING (-122.4185110411505 37.764307980971...
12         LINESTRING (-122.4185110411505 37.764307980971...
13         LINESTRING (-122.4185110411505 37.764307980971...
14         LINESTRING (-122.4185110411505 37.764307980971...
15         LINESTRING (-122.424376790239 37.7677676751334...
16         LINESTRING (-122.424376790239 37.7677676751334...
17         LINESTRING (-122.424376790239 37.7677676751334...
18         LINESTRING (-122.424376790239 37.7677676751334...
19         LINESTRING (-122.424376790239 37.7677676751334...
20         LINESTRING (-122.424376790239 37.7677676751334...
21         LINESTRING (-122.424376790239 37.7677676751334...
22         LINESTRING (-122.424376790239 37.7677676751334...
23         LINESTRING (-122.3723843332867 37.825463786160...
24         LINESTRING (-122.3723843332867 37.825463786160...
25         LINESTRING (-122.3723843332867 37.825463786160...
26         LINESTRING (-122.4275951118974 37.766541006572...
27         LINESTRING (-122.4275951118974 37.766541006572...
28         LINESTRING (-122.4275951118974 37.766541006572...
29         LINESTRING (-122.4275951118974 37.766541006572...
                                 ...
1405115    LINESTRING (-122.0585782489224 37.969492628387...
1405116    LINESTRING (-122.0585782489224 37.969492628387...
1405117    LINESTRING (-122.0553163132704 37.965431450985...
1405118    LINESTRING (-122.0553163132704 37.965431450985...
1405119    LINESTRING (-122.0536735677819 37.962469487389...
1405120    LINESTRING (-122.0536735677819 37.962469487389...
1405121    LINESTRING (-122.052767878148 37.9606813567640...
1405122    LINESTRING (-122.0521247631781 37.958930062125...
1405123    LINESTRING (-122.0521247631781 37.958930062125...
1405124    LINESTRING (-122.0558358708939 37.966078643660...
1405125    LINESTRING (-122.0558358708939 37.966078643660...
1405126    LINESTRING (-122.0560775995547 37.966369625047...
1405127    LINESTRING (-121.7513750181723 38.015667947854...
1405128    LINESTRING (-121.751380145405 38.015396274743,...
1405129    LINESTRING (-121.751380145405 38.015396274743,...
1405130    LINESTRING (-122.5550666776635 38.088826146996...
1405131    LINESTRING (-122.5550666776635 38.088826146996...
1405132    LINESTRING (-122.5586283777897 38.092345431888...
1405133    LINESTRING (-122.5586283777897 38.092345431888...
1405134    LINESTRING (-122.5611650574052 38.096544433899...
1405135    LINESTRING (-122.5609969509419 38.102418185761...
1405136    LINESTRING (-122.5618482548117 38.104931818004...
1405137    LINESTRING (-122.5633606079494 38.110063898335...
1405138    LINESTRING (-122.5554383363001 38.088293550965...
1405139    LINESTRING (-122.5554383363001 38.088293550965...
1405140    LINESTRING (-122.5622294927359 38.096513409289...
1405141    LINESTRING (-122.5622294927359 38.096513409289...
1405142    LINESTRING (-122.5620939248964 38.102553554679...
1405143    LINESTRING (-122.5620939248964 38.102553554679...
1405144    LINESTRING (-122.563820432232 38.1085202804263...
Name: geometry, Length: 1405145, dtype: object

In [18]:
print(existing_network_node_gdf.columns)
print(existing_network_node_gdf.crs)

Index(['N', 'FAREZONE', 'X', 'Y', 'COUNTY', 'MODE', 'TYPE', 'ID', 'PNR_CAP',
       'PNR1', 'PNR_FEE1', 'PNR2', 'PNR_FEE2', 'PNR3', 'PNR_FEE3', 'PNR4',
       'PNR_FEE4', 'PNR5', 'PNR_FEE5', 'STOP', 'RTDMODE', 'TAZSEQ', 'MAZSEQ',
       'TAPSEQ', 'EXTSEQ', 'NEW_NODE', 'OLD_NODE', 'TEMP', 'TEMP2',
       'geometry'],
      dtype='object')
{'init': 'epsg:4326'}

In [19]:
existing_network_node_gdf.TAZSEQ.nunique()

4686

In [20]:
existing_network_node_gdf.EXTSEQ.nunique()

22

In [21]:
existing_network_node_gdf.TAZSEQ.min()

0

In [22]:
existing_network_node_gdf.MAZSEQ.nunique()

39676

In [23]:
existing_network_node_gdf.MAZSEQ.min()

0

In [24]:
existing_network_link_gdf.CNTYPE.value_counts()

TANA     807224
MAZ      252437
PED      221905
TAZ       63182
TAP       43512
USE        8981
BIKE       6678
LRAIL       864
CRAIL       144
HRAIL        90
FERRY        52
EXT          44
Name: CNTYPE, dtype: int64

In [25]:
existing_network_link_gdf[existing_network_link_gdf.CNTYPE == "EXT"]

,A,B,NUMLANES,F_JNCTID,T_JNCTID,FRC,NAME,FREEWAY,TOLLRD,ONEWAY,...,TAP_DRIVE,FT,FFS,USECLASS,TOLLBOOTH,DANGLING,HASTRANSIT,DELETE,TOLLSEG,geometry
178864,900001,4536205,9,0,0,2,CAL 1 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.5190457272354 38.760762464191...
178865,900002,4536973,9,0,0,2,CAL 128 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0726942858131 38.855409819300...
178866,900003,4535977,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0336024327497 38.855188781886...
178867,900004,4013616,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.5942129152742 38.680411102858...
178868,900005,4008102,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.103303766366 38.5132350248262...
178869,900006,3504977,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,"LINESTRING (-121.9529173734 38.52623326864123,..."
178870,900007,3501135,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.768232430548 38.5313499680038...
178871,900008,3502245,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7388852272142 38.541664183304...
178872,900009,3521560,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.6850500443406 38.158456006531...
178873,900010,3016324,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7514279132374 38.020180672387...
178874,900011,3069798,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5695482626224 37.890249223397...
178875,900012,2555322,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5553151839901 37.797602888466...
178876,900013,2509728,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5531399666439 37.735905704050...
178877,900013,2560310,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5531399666439 37.735905704050...
178878,900014,2036915,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.2116672497266 37.069933231247...
178879,900015,2033921,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.3825025521439 36.958981796361...
178880,900016,2105963,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5109684571735 36.946694739583...
178881,900017,2032120,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5480897982576 36.917204869943...
178882,900018,2105359,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7179431540748 36.995542529703...
178883,900019,2035881,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9856722566802 37.141894643476...
178884,900020,2099887,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.1222278205091 37.258329146284...
178885,900021,1542334,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.2936188830901 37.105994489854...
380762,1542334,900021,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.2926740131276 37.107688004556...
471564,2033921,900015,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.3835563126751 36.961478803194...
474872,2035276,900019,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9852110007008 37.142397008077...
479050,2036992,900017,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5479500041068 36.917706012872...
480336,2037510,900014,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.2126089856084 37.068551999500...
632897,2099887,900020,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.1220276083933 37.258641501614...
645851,2105359,900018,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7179359991712 36.995539866627...
663737,2112924,900016,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5121953055058 36.948041009718...
804920,2552507,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5571339971502 37.743046002254...
811844,2555322,900012,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5571265936284 37.798944604373...
817172,2557464,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5590020137725 37.739890000308...
952161,3016164,900010,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7514909966229 38.019698010394...
1086927,3069798,900011,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5701859959394 37.891489994747...
1119204,3501279,900008,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7387589841741 38.537299991808...
1120513,3501725,900007,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7685910011076 38.527906991170...
1174108,3521293,900006,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9527799869325 38.525417992335...
1174779,3521560,900009,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.685779006052 38.1598290131304...
1207679,4008102,900005,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.103733997653 38.5145250018436...
1219207,4013616,900004,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.592041352952 38.6758400590330...
1313393,4535799,900003,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0319120165573 38.852708003605...
1314499,4536205,900001,9,0,0,2,CAL 1 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.5184480103137 38.759788789023...
1316681,4536973,900002,9,0,0,2,CAL 128 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0773400138313 38.852242002691...

#covert networks to espg 26915 for nearest node operation

link_gdf, node_gdf = reproject(link_gdf, 
                                node_gdf, 
                                26915)

existing_network_link_gdf, existing_network_node_gdf = reproject(existing_network_link_gdf,
                                                                existing_network_node_gdf,
                                                                26915)

In [26]:
existing_network_link_gdf, existing_network_node_gdf = reproject(existing_network_link_gdf,
                                                                existing_network_node_gdf,
                                                                26915)

In [27]:
taz_N_list = list(range(1, 10000)) + list(range(100001, 110000)) + list(range(200001, 210000)) + list(range(300001, 310000))\
+ list(range(400001, 410000)) + list(range(500001, 510000)) + list(range(600001, 610000)) + list(range(700001, 710000))\
+ list(range(800001, 810000)) + list(range(900001, 1000000))

maz_N_list = list(range(10001, 90000)) + list(range(110001, 190000)) + list(range(210001, 290000)) + list(range(310001, 390000))\
+ list(range(410001, 490000)) + list(range(510001, 590000)) + list(range(610001, 690000)) + list(range(710001, 790000))\
+ list(range(810001, 890000))

# existing taz centorid and centroid connectors

In [28]:
# existing taz level centroids
taz_node_gdf = existing_network_node_gdf[existing_network_node_gdf.N.isin(taz_N_list)].copy()

# existing taz level centroid connectors
taz_connectors_gdf = existing_network_link_gdf[existing_network_link_gdf.CNTYPE.isin(["TAZ", "EXT"])].copy()

taz_connectors_gdf = taz_connectors_gdf[(taz_connectors_gdf.A.isin(taz_N_list)) | 
                                       (taz_connectors_gdf.B.isin(taz_N_list))].copy()

# identify centroid (c) and non-centroid (non-c) for each centroid connector
taz_connectors_gdf["c"] = np.where(taz_connectors_gdf["A"].isin(taz_N_list),
                                  taz_connectors_gdf["A"],
                                  taz_connectors_gdf["B"])
taz_connectors_gdf["non_c"] = np.where(taz_connectors_gdf["A"].isin(taz_N_list),
                                  taz_connectors_gdf["B"],
                                  taz_connectors_gdf["A"])

taz_connectors_gdf.drop_duplicates(subset = ["c", "non_c"], inplace = True)

In [29]:
taz_connectors_gdf.c.nunique()

4756

In [30]:
taz_connectors_gdf.FT.value_counts()

6    31624
Name: FT, dtype: int64

In [31]:
def q15(x):
    m = x.quantile(q=0.15)
    return m

def q85(x):
    m = x.quantile(q=0.85)
    return m

In [32]:
taz_connectors_gdf["length"] = taz_connectors_gdf.geometry.length

taz_connectors_gdf["length_mean"] = taz_connectors_gdf.groupby(["c"]).length.transform("mean") 

taz_connectors_gdf["length_std"] = taz_connectors_gdf.groupby(["c"]).length.transform("std") 

taz_connectors_gdf["length_norm"] = (taz_connectors_gdf["length"] - taz_connectors_gdf["length_mean"]) / taz_connectors_gdf["length_std"]

taz_connectors_gdf["length_15"] = taz_connectors_gdf.groupby(["c"])["length"].transform(q15)
taz_connectors_gdf["length_85"] = taz_connectors_gdf.groupby(["c"])["length"].transform(q85)

taz_connectors_gdf["keep"] = np.where((taz_connectors_gdf.length <= taz_connectors_gdf.length_mean + taz_connectors_gdf.length_std) |
                                      (taz_connectors_gdf.length_std < taz_connectors_gdf.length_mean * 0.6) | 
                                      (taz_connectors_gdf.length_std.isnull()),
                                     1,
                                     0)

taz_drop_long_connectors_gdf = taz_connectors_gdf[taz_connectors_gdf.keep == 1].copy()

In [33]:
taz_drop_long_connectors_gdf.c.nunique()

4756

In [34]:
taz_drop_long_connectors_gdf.crs

{'init': 'epsg:26915', 'no_defs': True}

In [35]:
taz_node_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4756 entries, 0 to 50697
Data columns (total 30 columns):
N           4756 non-null int64
FAREZONE    4756 non-null int64
X           4756 non-null float64
Y           4756 non-null float64
COUNTY      4756 non-null int64
MODE        4756 non-null int64
TYPE        4756 non-null int64
ID          4756 non-null int64
PNR_CAP     4756 non-null int64
PNR1        4756 non-null int64
PNR_FEE1    4756 non-null float64
PNR2        4756 non-null int64
PNR_FEE2    4756 non-null float64
PNR3        4756 non-null int64
PNR_FEE3    4756 non-null float64
PNR4        4756 non-null int64
PNR_FEE4    4756 non-null int64
PNR5        4756 non-null int64
PNR_FEE5    4756 non-null int64
STOP        0 non-null object
RTDMODE     4756 non-null int64
TAZSEQ      4756 non-null int64
MAZSEQ      4756 non-null int64
TAPSEQ      4756 non-null int64
EXTSEQ      4756 non-null int64
NEW_NODE    4756 non-null int64
OLD_NODE    4756 non-null int64
TEMP        4756 non-null int64
TEMP2       4756 non-null int64
geometry    4756 non-null object
dtypes: float64(5), int64(23), object(2)
memory usage: 1.1+ MB

In [36]:
taz_connectors_gdf.CNTYPE.value_counts()

TAZ    31591
EXT       33
Name: CNTYPE, dtype: int64

# existing maz centroid and centroid connectors

In [37]:
# existing maz level centroids
maz_node_gdf = existing_network_node_gdf[existing_network_node_gdf.N.isin(maz_N_list)].copy()

# existing taz level centroid connectors
maz_connectors_gdf = existing_network_link_gdf[existing_network_link_gdf.CNTYPE == "MAZ"].copy()

maz_connectors_gdf = maz_connectors_gdf[(maz_connectors_gdf.A.isin(maz_N_list)) | 
                                       (maz_connectors_gdf.B.isin(maz_N_list))].copy()

# identify centroid (c) and non-centroid (non-c) for each centroid connector

maz_connectors_gdf["c"] = np.where(maz_connectors_gdf["A"].isin(maz_N_list),
                                  maz_connectors_gdf["A"],
                                  maz_connectors_gdf["B"])
maz_connectors_gdf["non_c"] = np.where(maz_connectors_gdf["A"].isin(maz_N_list),
                                  maz_connectors_gdf["B"],
                                  maz_connectors_gdf["A"])

maz_connectors_gdf.drop_duplicates(subset = ["c", "non_c"], inplace = True)

In [38]:
maz_node_gdf.N.nunique()

39726

In [39]:
maz_connectors_gdf.c.nunique()

39721

In [40]:
np.setdiff1d(maz_node_gdf.N.tolist(), maz_connectors_gdf.c.tolist())

array([ 10186,  16084, 111432, 111433, 411178])

In [41]:
existing_network_link_gdf[existing_network_link_gdf.B == 411178]

Empty GeoDataFrame
Columns: [A, B, NUMLANES, F_JNCTID, T_JNCTID, FRC, NAME, FREEWAY, TOLLRD, ONEWAY, KPH, MINUTES, CARRIAGE, LANES, RAMP, SPEEDCAT, FEET, ASSIGNABLE, CNTYPE, TRANSIT, HIGHWAYT, B_CLASS, GRADE_CAT, PED_FLAG, BIKEPEDOK, PEMSID, PEMSLANES, RTEDIR, PEMSDIST, REPRIORITIZ, TMCLOCREF, TAP_DRIVE, FT, FFS, USECLASS, TOLLBOOTH, DANGLING, HASTRANSIT, DELETE, TOLLSEG, geometry]
Index: []

[0 rows x 41 columns]

In [42]:
existing_network_node_gdf[existing_network_node_gdf.N == 411178]

,N,FAREZONE,X,Y,COUNTY,MODE,TYPE,ID,PNR_CAP,PNR1,...,RTDMODE,TAZSEQ,MAZSEQ,TAPSEQ,EXTSEQ,NEW_NODE,OLD_NODE,TEMP,TEMP2,geometry
34383,411178,0,-2105415.904,4625783.336,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-2105415.903747404 4625783.33594758)

In [43]:
#maz_node_gdf = maz_node_gdf[maz_node_gdf.N.isin(maz_connectors_gdf.c.tolist())]

In [44]:
maz_connectors_gdf["length"] = maz_connectors_gdf.geometry.length

maz_connectors_gdf["length_mean"] = maz_connectors_gdf.groupby(["c"]).length.transform("mean") 

maz_connectors_gdf["length_std"] = maz_connectors_gdf.groupby(["c"]).length.transform("std") 

maz_connectors_gdf["length_norm"] = (maz_connectors_gdf["length"] - maz_connectors_gdf["length_mean"]) / maz_connectors_gdf["length_std"]

maz_connectors_gdf["keep"] = np.where((maz_connectors_gdf.length <= maz_connectors_gdf.length_mean + maz_connectors_gdf.length_std) |
                                      (maz_connectors_gdf.length_std < maz_connectors_gdf.length_mean * 0.6) | 
                                      (maz_connectors_gdf.length_std.isnull()),
                                     1,
                                     0)

maz_drop_long_connectors_gdf = maz_connectors_gdf[maz_connectors_gdf.keep == 1].copy()

In [45]:
maz_connectors_gdf.shape

(125745, 48)

In [46]:
maz_drop_long_connectors_gdf.shape

(122987, 48)

In [47]:
maz_drop_long_connectors_gdf.c.nunique()

39721

In [48]:
maz_drop_long_connectors_gdf.CNTYPE.value_counts()

MAZ    122987
Name: CNTYPE, dtype: int64

In [49]:
link_gdf[link_gdf.drive_access==1].roadway.value_counts()

residential       407352
service           389320
tertiary           93218
secondary          68529
primary            26492
motorway_link       4983
trunk               4160
motorway            2774
secondary_link      1566
primary_link        1506
trunk_link          1382
tertiary_link        611
Name: roadway, dtype: int64

# For each zone, find how many nodes that have only two assignable geometries (not reference)

In [50]:
assignable_link_gdf = link_gdf[(link_gdf.assignable == 1) & 
                               ~(link_gdf.roadway.isin(
                                   ["motorway_link", "motorway", "trunk", "trunk_link", "service"])) &
                              (link_gdf.drive_access == 1)].copy()

In [51]:
assignable_link_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 543911 entries, 1 to 1632695
Data columns (total 39 columns):
access                543911 non-null object
area                  543911 non-null object
bike_access           543911 non-null int64
bridge                543911 non-null object
drive_access          543911 non-null int64
est_width             543911 non-null object
fromIntersectionId    543911 non-null object
highway               543911 non-null object
id                    543911 non-null object
junction              543911 non-null object
key                   543911 non-null object
landuse               543911 non-null object
lanes                 543911 non-null object
link                  543911 non-null object
maxspeed              543911 non-null object
name                  543911 non-null object
oneWay                543911 non-null object
ref                   543911 non-null object
roadway               543911 non-null object
roundabout            543911 non-null object
service               543911 non-null object
shstGeometryId        543911 non-null object
shstReferenceId       543911 non-null object
toIntersectionId      543911 non-null object
tunnel                543911 non-null object
u                     543911 non-null float64
v                     543911 non-null float64
walk_access           543911 non-null int64
wayId                 543911 non-null object
width                 543911 non-null object
county                543911 non-null object
length                543911 non-null float64
model_link_id         543911 non-null int64
A                     543911 non-null int64
B                     543911 non-null int64
rail_traveltime       0 non-null float64
rail_only             543911 non-null int64
geometry              543911 non-null object
assignable            543911 non-null float64
dtypes: float64(5), int64(7), object(27)
memory usage: 166.0+ MB

In [52]:
a_geometry_count_df = assignable_link_gdf.groupby(
    ["A", "shstGeometryId"])["model_link_id"].count().reset_index().rename(columns = {"A" : "model_node_id"})
b_geometry_count_df = assignable_link_gdf.groupby(
    ["B", "shstGeometryId"])["model_link_id"].count().reset_index().rename(columns = {"B" : "model_node_id"})

node_geometry_count_df = pd.concat([a_geometry_count_df, b_geometry_count_df], ignore_index = True, sort = False)

node_geometry_count_df = node_geometry_count_df.groupby(
    ["model_node_id", "shstGeometryId"]).count().reset_index().groupby(["model_node_id"])["shstGeometryId"].count().reset_index()

node_two_geometry_df = node_geometry_count_df[node_geometry_count_df.shstGeometryId == 2].copy()
node_two_geometry_id_list = node_two_geometry_df.model_node_id.tolist()

In [53]:
link_gdf[link_gdf.A == 1005079]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,width,county,length,model_link_id,A,B,rail_traveltime,rail_only,geometry,assignable
112250,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,service,f6712e6b4f50eb057fd82edfa801f80c,nan,...,nan,San Francisco,7.539,5290,1005079,1010066,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4166...",1.000
290952,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,d96d7c7a7ac3e8c019f5e73b866b8314,nan,...,nan,San Francisco,42.887,13813,1005079,1011449,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4171...",1.000
882146,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,service,cbf4479e1a363fb56c84bb8a4eb000ba,nan,...,nan,San Francisco,192.850,41416,1005079,1015386,nan,0,"LINESTRING (-122.4168425 37.752341, -122.41668...",1.000
1615608,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,26854d11c05f932a98572ea50e87a52b,nan,...,nan,San Francisco,40.922,72768,1005079,1012427,nan,0,"LINESTRING (-122.4162547 37.7507707, -122.4166...",1.000

In [54]:
assignable_link_gdf[assignable_link_gdf.A == 1005079]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,width,county,length,model_link_id,A,B,rail_traveltime,rail_only,geometry,assignable
290952,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,d96d7c7a7ac3e8c019f5e73b866b8314,nan,...,nan,San Francisco,42.887,13813,1005079,1011449,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4171...",1.000
1615608,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,26854d11c05f932a98572ea50e87a52b,nan,...,nan,San Francisco,40.922,72768,1005079,1012427,nan,0,"LINESTRING (-122.4162547 37.7507707, -122.4166...",1.000

In [55]:
node_geometry_count_df.shape

(250067, 2)

In [56]:
node_geometry_count_df[node_geometry_count_df.model_node_id == 1005079]

      model_node_id  shstGeometryId
2994        1005079               2

In [57]:
node_two_geometry_df.shape

(147108, 2)

In [58]:
node_two_geometry_df = pd.merge(
    node_two_geometry_df,
    node_gdf[["model_node_id", "osm_node_id", "shst_node_id", "geometry"]],
    how = "left",
    on = "model_node_id"
)

node_two_geometry_df = gpd.GeoDataFrame(node_two_geometry_df, 
                                        geometry = node_two_geometry_df["geometry"],
                                       crs = {"init" : "epsg:4326"})

In [59]:
node_two_geometry_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 147108 entries, 0 to 147107
Data columns (total 5 columns):
model_node_id     147108 non-null int64
shstGeometryId    147108 non-null int64
osm_node_id       147108 non-null float64
shst_node_id      147108 non-null object
geometry          147108 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 6.7+ MB

import math

def buffer1(polygon):
    buffer_dist = 10
    poly_proj, crs_utm = project_geometry(polygon)
    poly_proj_buff = poly_proj.buffer(buffer_dist)
    poly_buff, _ = project_geometry(poly_proj_buff, crs=crs_utm, to_latlong=True)
    
    return poly_buff

def buffer2(polygon):
    return polygon.minimum_rotated_rectangle

In [60]:
taz_poly_buffer1_gdf = taz_poly_gdf.copy()
taz_poly_buffer2_gdf = taz_poly_gdf.copy()

def project_geometry(geometry, crs=None, to_crs=None, to_latlong=False):
    """
    Project a shapely geometry from its current CRS to another.
    If to_crs is None, project to the UTM CRS for the UTM zone in which the
    geometry's centroid lies. Otherwise project to the CRS defined by to_crs.
    Parameters
    ----------
    geometry : shapely.geometry.Polygon or shapely.geometry.MultiPolygon
        the geometry to project
    crs : dict or string or pyproj.CRS
        the starting CRS of the passed-in geometry. if None, it will be set to
        settings.default_crs
    to_crs : dict or string or pyproj.CRS
        if None, project to UTM zone in which geometry's centroid lies,
        otherwise project to this CRS
    to_latlong : bool
        if True, project to settings.default_crs and ignore to_crs
    Returns
    -------
    geometry_proj, crs : tuple
        the projected geometry and its new CRS
    """
    if crs is None:
        crs = {"init" : "epsg:4326"}

    gdf = gpd.GeoDataFrame(geometry=[geometry], crs=crs)
    gdf_proj = project_gdf(gdf, to_crs=to_crs, to_latlong=to_latlong)
    geometry_proj = gdf_proj["geometry"].iloc[0]
    return geometry_proj, gdf_proj.crs


def project_gdf(gdf, to_crs=None, to_latlong=False):
    """
    Project a GeoDataFrame from its current CRS to another.
    If to_crs is None, project to the UTM CRS for the UTM zone in which the
    GeoDataFrame's centroid lies. Otherwise project to the CRS defined by
    to_crs. The simple UTM zone calculation in this function works well for
    most latitudes, but may not work for some extreme northern locations like
    Svalbard or far northern Norway.
    Parameters
    ----------
    gdf : geopandas.GeoDataFrame
        the GeoDataFrame to be projected
    to_crs : dict or string or pyproj.CRS
        if None, project to UTM zone in which gdf's centroid lies, otherwise
        project to this CRS
    to_latlong : bool
        if True, project to settings.default_crs and ignore to_crs
    Returns
    -------
    gdf_proj : geopandas.GeoDataFrame
        the projected GeoDataFrame
    """
    if gdf.crs is None or len(gdf) < 1:
        raise ValueError("GeoDataFrame must have a valid CRS and cannot be empty")

    # if to_latlong is True, project the gdf to latlong
    if to_latlong:
        gdf_proj = gdf.to_crs({"init" : "epsg:4326"})
        #utils.log(f"Projected GeoDataFrame to {settings.default_crs}")

    # else if to_crs was passed-in, project gdf to this CRS
    elif to_crs is not None:
        gdf_proj = gdf.to_crs(to_crs)
        #utils.log(f"Projected GeoDataFrame to {to_crs}")

    # otherwise, automatically project the gdf to UTM
    else:
        #if CRS.from_user_input(gdf.crs).is_projected:
         #   raise ValueError("Geometry must be unprojected to calculate UTM zone")

        # calculate longitude of centroid of union of all geometries in gdf
        avg_lng = gdf["geometry"].unary_union.centroid.x

        # calculate UTM zone from avg longitude to define CRS to project to
        utm_zone = int(math.floor((avg_lng + 180) / 6.0) + 1)
        utm_crs = f"+proj=utm +zone={utm_zone} +ellps=WGS84 +datum=WGS84 +units=m +no_defs"

        # project the GeoDataFrame to the UTM CRS
        gdf_proj = gdf.to_crs(utm_crs)
        #utils.log(f"Projected GeoDataFrame to {gdf_proj.crs}")

    return gdf_proj

In [61]:
taz_poly_buffer1_gdf["geometry_buffer"] = taz_poly_buffer1_gdf["geometry"].apply(lambda x: buffer1(x))

In [62]:
taz_poly_buffer2_gdf["geometry_buffer"] = taz_poly_buffer2_gdf["geometry"].apply(lambda x: buffer2(x))

In [63]:
taz_poly_buffer1_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

In [64]:
taz_poly_buffer2_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

In [65]:
taz_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                     taz_poly_gdf[["geometry", "taz"]], 
                                     how = "left", 
                                     op = "intersects")

C:\Users\wangs1\.conda\envs\MetC_new\lib\site-packages\geopandas\tools\sjoin.py:56: UserWarning: CRS of frames being joined does not match!({'init': 'epsg:4326'} != {'init': 'epsg:4326', 'no_defs': True})
  '(%s != %s)' % (left_df.crs, right_df.crs))

In [66]:
taz_buffer1_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                             taz_poly_buffer1_gdf[["geometry", "taz"]], 
                                             how = "left", 
                                             op = "intersects")

In [67]:
taz_buffer2_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                             taz_poly_buffer2_gdf[["geometry", "taz"]], 
                                             how = "left", 
                                             op = "intersects")

In [68]:
taz_node_two_geometry_df.model_node_id.nunique()

147108

In [69]:
taz_buffer1_node_two_geometry_df.model_node_id.nunique()

147108

In [70]:
taz_buffer2_node_two_geometry_df.model_node_id.nunique()

147108

In [71]:
node_two_geometry_df.model_node_id.nunique()

147108

In [72]:
taz_node_two_geometry_count_df = taz_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()
taz_buffer1_node_two_geometry_count_df = taz_buffer1_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()
taz_buffer2_node_two_geometry_count_df = taz_buffer2_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()

In [73]:
taz_node_two_geometry_count_df.taz.nunique()

4658

In [74]:
taz_buffer1_node_two_geometry_count_df.taz.nunique()

4695

In [75]:
taz_buffer2_node_two_geometry_count_df.taz.nunique()

4694

In [76]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 433]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [77]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [78]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [79]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [80]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 439]

        taz  model_node_id
409 439.000              3

In [81]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 439]

     taz  model_node_id
407  439              3

In [82]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 430]

        taz  model_node_id
384 430.000             14

In [83]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 430]

        taz  model_node_id
403 430.000             16

In [84]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 430]

     taz  model_node_id
401  430             14

In [85]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.model_node_id >= 3]

            taz  model_node_id
0         1.000             31
1         2.000             17
3         4.000            104
4         5.000             13
5         6.000             11
6         7.000             29
7         8.000              7
8         9.000              3
9        10.000              4
10       11.000              6
11       12.000              8
12       13.000             12
13       14.000              5
14       15.000              4
15       16.000              5
16       17.000              8
17       18.000             11
18       19.000             10
19       20.000              8
20       21.000              7
21       22.000              7
22       23.000             26
23       24.000             15
24       25.000             22
25       26.000             11
26       27.000             46
27       28.000              6
29       30.000             11
30       31.000             11
31       32.000              3
...         ...            ...
4665 800181.000             10
4666 800182.000              8
4667 800183.000             36
4668 800184.000             60
4669 800185.000             37
4670 800186.000             26
4671 800187.000             71
4672 800188.000             15
4673 800189.000              3
4674 800190.000             31
4675 800191.000             39
4676 800192.000             31
4677 800193.000              5
4678 800194.000              3
4679 800195.000             16
4680 800196.000             51
4681 800197.000             16
4682 800198.000             28
4683 800199.000             10
4684 800200.000             17
4685 800201.000             53
4686 800202.000            145
4687 800203.000             10
4688 800204.000             38
4689 800205.000             27
4690 800206.000              6
4691 800207.000             26
4692 800208.000              7
4693 800209.000             26
4694 800210.000             13

[4618 rows x 2 columns]

# taz drive centroid connectors

# nodes that are connected to assignable

assignable_link_gdf = link_gdf[(link_gdf.assignable == 1) & 
                               ~(link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "truck_link", "service"]))].copy()

a_node_count_df = assignable_link_gdf.groupby(["A"])["model_link_id"].count().reset_index()
b_node_count_df = assignable_link_gdf.groupby(["B"])["model_link_id"].count().reset_index()

two_assignable_way_node_list = list(set(a_node_count_df[a_node_count_df.model_link_id == 1].A) & 
                                    set(b_node_count_df[b_node_count_df.model_link_id == 1].B))

len(two_assignable_way_node_list)

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(two_assignable_way_node_list))].copy()

taz_drive_cc_gdf, taz_drive_centroid_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf,
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

def num_of_drive_loadpoint_per_centroid(existing_drive_cc_df, existing_node_gdf):
    """
    decide number of loading point for drive access per centroid
    
    logic: for drive, find the closest points to the existing loading point
    
    return: 
    dataframe
    for each existing drive loading point, number of new loading point needs to be generated. currently set to 1.
    
    """
    existing_pairs_of_centroid_loadpoint_df = existing_drive_cc_df.groupby(['c', 'non_c']).count().reset_index().drop(['A','B'], axis = 1)
    
    existing_num_of_loadpoint_per_c_df = existing_drive_cc_df.groupby(['c', 'non_c']).count().groupby('c').count()[['A']].rename(columns = {'A':'abm_num_load'}).reset_index()
    
    num_drive_loadpoint_new_near_old = pd.merge(existing_pairs_of_centroid_loadpoint_df,
                                                        existing_num_of_loadpoint_per_c_df,
                                                        how = 'left',
                                                        on = 'c')
    
    num_drive_loadpoint_new_near_old['osm_num_load'] = 1
    
    num_drive_loadpoint_new_near_old = pd.merge(num_drive_loadpoint_new_near_old,
                                                        existing_node_gdf[['N', 'X', 'Y']],
                                                        how = 'left',
                                                        left_on = 'non_c',
                                                        right_on = 'N')
    return num_drive_loadpoint_new_near_old


def num_of_walk_bike_loadpoint_per_centroid(existing_centroid_df):
    """
    decide number of loading point for walk and bike access per centroid
    
    logic: find 5 closest points to centroid
    
    return: 
    dataframe
    for each centroid, number of loading point needs to be generated.
    
    """
    
    num_loadpoint = existing_centroid_df[['N', 'X', 'Y']].copy()
    num_loadpoint['osm_num_load'] = np.int(5)
    num_loadpoint.rename(columns = {'N':'c'}, inplace = True)
    
    return num_loadpoint


def generate_centroid_connectors(run_type, existing_drive_cc_df, node_gdf, existing_node_df):
    """
    calls function to generate loading point reference table, 
    and calls function to find loading points
    
    build linestring based on pairs of centroid and loading point
    
    return centroid connectors and centroids
    """
    
    if run_type == 'drive':
        abm_load_ref_df = num_of_drive_loadpoint_per_centroid(existing_drive_cc_df, existing_node_df)
    if (run_type == 'walk')|(run_type == 'bike'):
        abm_load_ref_df = num_of_walk_bike_loadpoint_per_centroid(existing_node_df)

    new_load_point_gdf = find_new_load_point(abm_load_ref_df, node_gdf)
    
    new_load_point_gdf = pd.merge(new_load_point_gdf,
                                 existing_node_df[['N', 'X', 'Y']],
                                 how = 'left', 
                                 left_on = 'c',
                                 right_on = 'N')
    
    new_load_point_gdf['geometry_c'] = [Point(xy) for xy in zip(new_load_point_gdf['X'], new_load_point_gdf['Y'])]
    new_load_point_gdf.drop(['N', 'X', 'Y'], axis = 1, inplace = True)
    
    #centroid coordinates
    new_centroid_gdf = new_load_point_gdf.copy()[['c', 'geometry_c']]
    new_centroid_gdf.rename(columns = {'c' : 'model_node_id', 'geometry_c' : 'geometry'}, inplace = True)
    new_centroid_gdf.drop_duplicates(['model_node_id'], inplace = True)

    new_centroid_gdf = gpd.GeoDataFrame(new_centroid_gdf)
    
    #inbound cc
    new_cc_gdf = new_load_point_gdf.copy()
    new_cc_gdf['geometry'] = [LineString(xy) for xy in zip(new_cc_gdf['geometry_ld'], new_cc_gdf['geometry_c'])]

    new_cc_gdf["fromIntersectionId"] = new_cc_gdf['shst_node_id']
    new_cc_gdf["shstGeometryId"] = range(1, 1+len(new_cc_gdf))
    new_cc_gdf["shstGeometryId"] = new_cc_gdf["shstGeometryId"].apply(lambda x: "cc" + str(x))
    new_cc_gdf["id"] = new_cc_gdf["shstGeometryId"]
    
    new_cc_gdf = new_cc_gdf.rename(columns = {'model_node_id' : 'A', 
                                              'c' : 'B',
                                             "osm_node_id" : "u"})
    
    #remove duplicates
    new_cc_gdf.drop_duplicates(['A', 'B'], inplace = True)
    
    new_cc_gdf.crs = {'init' : 'epsg:26915'}
    new_cc_gdf = new_cc_gdf.to_crs(epsg = 4326)
    new_centroid_gdf.crs = {'init' : 'epsg:26915'}
    new_centroid_gdf = new_centroid_gdf.to_crs(epsg = 4326)
    
    return new_cc_gdf, new_centroid_gdf

def find_new_load_point(abm_load_ref_df, all_node):
    """
    find the loading points in osm nodes
    
    input: osm node, loading point reference input
    
    output:  dataframe of pairs of centroid and loading point, with point geometry of loading point
    
    works in epsg = 26915
    
    """
    
    all_node_gdf = all_node.copy()
    
    all_node_gdf = all_node_gdf.to_crs(epsg = 26915)
    all_node_gdf["X"] = all_node_gdf["geometry"].apply(lambda g: g.x)
    all_node_gdf["Y"] = all_node_gdf["geometry"].apply(lambda g: g.y)
    
    inventory_node_df = all_node_gdf.copy()
    inventory_node_ref = inventory_node_df[["X", "Y"]].values
    tree_default = cKDTree(inventory_node_ref)
    
    new_load_point_gdf = gpd.GeoDataFrame()
    
    for i in range(len(abm_load_ref_df)):
  
        point = abm_load_ref_df.iloc[i][['X', 'Y']].values
        c_id = abm_load_ref_df.iloc[i]['c']
        n_neigh = abm_load_ref_df.iloc[i]['osm_num_load']
        
        if "c" in all_node_gdf.columns:
            inventory_node_df = all_node_gdf[all_node_gdf.c == c_id].copy().reset_index()
            if len(inventory_node_df) == 0:
                continue
            else:
                inventory_node_ref = inventory_node_df[["X", "Y"]].values
                tree = cKDTree(inventory_node_ref)
           
        else:
            inventory_node_df = all_node_gdf.copy()
            tree = tree_default
         
        
        dd, ii = tree.query(point, k = n_neigh)
        if n_neigh == 1:
            add_gdf = gpd.GeoDataFrame(inventory_node_df[['osm_node_id', "shst_node_id", "model_node_id", 'geometry']].iloc[ii])\
                            .transpose().reset_index(drop = True)
        else:
            add_gdf = gpd.GeoDataFrame(inventory_node_df[['osm_node_id', "shst_node_id", "model_node_id", 'geometry']].iloc[ii])\
                            .reset_index(drop = True)
        add_gdf['c'] = int(abm_load_ref_df.iloc[i]['c'])
        if i == 0:
            new_load_point_gdf = add_gdf.copy()
             
        else:
            new_load_point_gdf = new_load_point_gdf.append(add_gdf, ignore_index=True, sort=False)
    
    return new_load_point_gdf.rename(columns = {'geometry' : 'geometry_ld'})

In [86]:
%%time

taz_buffer1_node_two_geometry_df.rename(columns = {"taz" : "c"}, inplace = True)

taz_drive_cc_group1_gdf, taz_drive_centroid_group1_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf,
                                                                        taz_buffer1_node_two_geometry_df,
                                                                        existing_network_node_gdf)

Wall time: 4min 2s

In [87]:
taz_node_gdf

,N,FAREZONE,X,Y,COUNTY,MODE,TYPE,ID,PNR_CAP,PNR1,...,RTDMODE,TAZSEQ,MAZSEQ,TAPSEQ,EXTSEQ,NEW_NODE,OLD_NODE,TEMP,TEMP2,geometry
0,1,0,-2116430.484,4613514.384,1,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,POINT (-2116430.484461717 4613514.38417453)
1,2,0,-2116216.805,4612656.452,1,0,0,0,0,0,...,0,2,0,0,0,2,2,0,0,POINT (-2116216.80471594 4612656.451768587)
2,3,0,-2116610.710,4613233.450,1,0,0,0,0,0,...,0,3,0,0,0,3,3,0,0,POINT (-2116610.709651835 4613233.450043457)
3,4,0,-2109646.490,4618177.028,1,0,0,0,0,0,...,0,4,0,0,0,4,4,0,0,POINT (-2109646.490125857 4618177.028292549)
4,5,0,-2116949.780,4613194.363,1,0,0,0,0,0,...,0,5,0,0,0,5,5,0,0,POINT (-2116949.779976495 4613194.362594142)
5,6,0,-2117069.746,4612880.406,1,0,0,0,0,0,...,0,6,0,0,0,6,6,0,0,POINT (-2117069.746139907 4612880.405856598)
6,7,0,-2117247.897,4613152.341,1,0,0,0,0,0,...,0,7,0,0,0,7,7,0,0,POINT (-2117247.897042728 4613152.340565733)
7,8,0,-2117916.577,4612902.983,1,0,0,0,0,0,...,0,8,0,0,0,8,8,0,0,POINT (-2117916.576964322 4612902.98264063)
8,9,0,-2117989.683,4612621.748,1,0,0,0,0,0,...,0,9,0,0,0,9,9,0,0,POINT (-2117989.682883514 4612621.748363617)
9,10,0,-2118247.658,4612467.744,1,0,0,0,0,0,...,0,10,0,0,0,10,10,0,0,POINT (-2118247.658138678 4612467.744430121)
10,11,0,-2117606.653,4612420.754,1,0,0,0,0,0,...,0,11,0,0,0,11,11,0,0,POINT (-2117606.653153265 4612420.753826819)
11,12,0,-2117601.674,4612220.021,1,0,0,0,0,0,...,0,12,0,0,0,12,12,0,0,POINT (-2117601.674221245 4612220.02107004)
12,13,0,-2117243.053,4612525.245,1,0,0,0,0,0,...,0,13,0,0,0,13,13,0,0,POINT (-2117243.053198358 4612525.244712926)
13,14,0,-2117636.411,4612728.452,1,0,0,0,0,0,...,0,14,0,0,0,14,14,0,0,POINT (-2117636.410989874 4612728.451662568)
14,15,0,-2116972.818,4611855.198,1,0,0,0,0,0,...,0,15,0,0,0,15,15,0,0,POINT (-2116972.818264601 4611855.197935776)
15,16,0,-2116900.001,4612135.468,1,0,0,0,0,0,...,0,16,0,0,0,16,16,0,0,POINT (-2116900.000923886 4612135.468038323)
16,17,0,-2116801.532,4612509.570,1,0,0,0,0,0,...,0,17,0,0,0,17,17,0,0,POINT (-2116801.532470232 4612509.570261179)
17,18,0,-2116518.054,4611815.964,1,0,0,0,0,0,...,0,18,0,0,0,18,18,0,0,POINT (-2116518.05366521 4611815.963732758)
18,19,0,-2116466.285,4612121.310,1,0,0,0,0,0,...,0,19,0,0,0,19,19,0,0,POINT (-2116466.285317746 4612121.309670137)
19,20,0,-2116367.822,4612495.402,1,0,0,0,0,0,...,0,20,0,0,0,20,20,0,0,POINT (-2116367.821746795 4612495.401997869)
20,21,0,-2116417.169,4612308.560,1,0,0,0,0,0,...,0,21,0,0,0,21,21,0,0,POINT (-2116417.168681944 4612308.559890278)
21,22,0,-2116873.425,4610981.381,1,0,0,0,0,0,...,0,22,0,0,0,22,22,0,0,POINT (-2116873.424986314 4610981.38079361)
22,23,0,-2116671.258,4610921.931,1,0,0,0,0,0,...,0,23,0,0,0,23,23,0,0,POINT (-2116671.25762056 4610921.930983759)
23,24,0,-2116763.695,4611400.617,1,0,0,0,0,0,...,0,24,0,0,0,24,24,0,0,POINT (-2116763.694762009 4611400.617141918)
24,25,0,-2116559.750,4611347.513,1,0,0,0,0,0,...,0,25,0,0,0,25,25,0,0,POINT (-2116559.749978129 4611347.512542316)
25,26,0,-2117079.621,4611039.907,1,0,0,0,0,0,...,0,26,0,0,0,26,26,0,0,POINT (-2117079.621410606 4611039.907284082)
26,27,0,-2113356.810,4614438.811,1,0,0,0,0,0,...,0,27,0,0,0,27,27,0,0,POINT (-2113356.809826508 4614438.811376192)
27,28,0,-2114014.168,4616196.448,1,0,0,0,0,0,...,0,28,0,0,0,28,28,0,0,POINT (-2114014.167674513 4616196.447990351)
28,29,0,-2114762.247,4615547.016,1,0,0,0,0,0,...,0,29,0,0,0,29,29,0,0,POINT (-2114762.247173269 4615547.016222491)
29,30,0,-2114491.080,4615499.294,1,0,0,0,0,0,...,0,30,0,0,0,30,30,0,0,POINT (-2114491.080457728 4615499.293998195)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49053,800202,0,-2115527.155,4636604.841,9,0,0,0,0,0,...,0,4680,0,0,0,4680,800202,0,0,POINT (-2115527.155221452 4636604.841315378)
49054,800203,0,-2115770.503,4635089.748,9,0,0,0,0,0,...,0,4681,0,0,0,4681,800203,0,0,POINT (-2115770.503020608 4635089.74825606)
49055,800204,0,-2116827.097,4636031.898,9,0,0,0,0,0,...,0,4682,0,0,0,4682,800204,0,0,POINT (-2116827.097214239 4636031.89807668)
49056,800205,0,-2119562.965,4636256.096,9,0,0,0,0,0,...,0,4683,0,0,0,4683,800205,0,0,POINT (-2119562.965371961 4636256.096123717)
49057,800206,0,-2119649.129,4634285.437,9,0,0,0,0,0,...,0,4684,0,0,0,4684,800206,0,0,POINT (-2119649.128526466 4634285.437469)
49058,800207,0,-2118445.425,4635459.980,9,0,0,0,0,0,...,0,4685,0,0,0,4685,800207,0,0,POINT (-2118445.425070778 4635459.980332234)
49059,800208,0,-2119640.078,4635181.873,9,0,0,0,0,0,...,0,4686,0,0,0,4686,800208,0,0,POINT (-2119640.07787661 4635181.872922576)
49060,800209,0,-2122129.835,4632158.611,9,0,0,0,0,0,...,0,4687,0,0,0,4687,800209,0,0,POINT (-2122129.835412444 4632158.611280062)
49061,800210,0,-2118319.815,4625560.012,9,0,0,0,0,0,...,0,4688,0,0,0,4688,800210,0,0,POINT (-2118319.814525255 4625560.011981165)
50677,900001,0,-2174341.256,4761100.509,0,0,0,0,0,0,...,0,0,0,0,4689,4689,900001,0,0,POINT (-2174341.255765935 4761100.508980316)
50678,900002,0,-2130824.373,4757322.811,0,0,0,0,0,0,...,0,0,0,0,4690,4690,900002,0,0,POINT (-2130824.372698269 4757322.810583053)
50679,900003,0,-2127370.253,4756039.763,0,0,0,0,0,0,...,0,0,0,0,4691,4691,900003,0,0,POINT (-2127370.252832928 4756039.763299682)
50680,900004,0,-2095498.590,4722234.393,0,0,0,0,0,0,...,0,0,0,0,4692,4692,900004,0,0,POINT (-2095498.58987284 4722234.392978463)
50681,900005,0,-2058473.448,4687948.004,0,0,0,0,0,0,...,0,0,0,0,4693,4693,900005,0,0,POINT (-2058473.448326681 4687948.003757487)
50682,900006,0,-2044567.682,4684788.712,0,0,0,0,0,0,...,0,0,0,0,4694,4694,900006,0,0,POINT (-2044567.682167601 4684788.711864713)
50683,900007,0,-2027922.417,4679718.880,0,0,0,0,0,0,...,0,0,0,0,4695,4695,900007,0,0,POINT (-2027922.417263354 4679718.880222176)
50684,900008,0,-2024909.786,4679994.218,0,0,0,0,0,0,...,0,0,0,0,4696,4696,900008,0,0,POINT (-2024909.785668863 4679994.217614986)
50685,900009,0,-2034884.635,4634888.806,0,0,0,0,0,0,...,0,0,0,0,4697,4697,900009,0,0,POINT (-2034884.634689891 4634888.806204882)
50686,900010,0,-2046153.935,4621200.251,0,0,0,0,0,0,...,0,0,0,0,4698,4698,900010,0,0,POINT (-2046153.935328996 4621200.250942348)
50687,900011,0,-2034756.958,4600931.452,0,0,0,0,0,0,...,0,0,0,0,4699,4699,900011,0,0,POINT (-2034756.95773731 4600931.452111331)
50688,900012,0,-2036993.593,4589971.504,0,0,0,0,0,0,...,0,0,0,0,4700,4700,900012,0,0,POINT (-2036993.593170344 4589971.50366732)
50689,900013,0,-2039137.020,4582890.575,0,0,0,0,0,0,...,0,0,0,0,4701,4701,900013,0,0,POINT (-2039137.020182929 4582890.575011783)
50690,900014,0,-2033023.618,4496875.562,0,0,0,0,0,0,...,0,0,0,0,4702,4702,900014,0,0,POINT (-2033023.617891885 4496875.562069383)
50691,900015,0,-2052750.057,4489290.076,0,0,0,0,0,0,...,0,0,0,0,4703,4703,900015,0,0,POINT (-2052750.057375004 4489290.075640502)
50692,900016,0,-2064970.207,4491722.062,0,0,0,0,0,0,...,0,0,0,0,4704,4704,900016,0,0,POINT (-2064970.207258847 4491722.061589241)
50693,900017,0,-2069471.027,4489468.435,0,0,0,0,0,0,...,0,0,0,0,4705,4705,900017,0,0,POINT (-2069471.026608494 4489468.434864257)
50694,900018,0,-2082090.650,4503518.422,0,0,0,0,0,0,...,0,0,0,0,4706,4706,900018,0,0,POINT (-2082090.65004765 4503518.422156297)
50695,900019,0,-2101020.375,4528352.789,0,0,0,0,0,0,...,0,0,0,0,4707,4707,900019,0,0,POINT (-2101020.375358165 4528352.788529959)
50696,900020,0,-2109016.187,4545822.305,0,0,0,0,0,0,...,0,0,0,0,4708,4708,900020,0,0,POINT (-2109016.186522019 4545822.305246002)
50697,900021,0,-2130540.318,4533731.651,0,0,0,0,0,0,...,0,0,0,0,4709,4709,900021,0,0,POINT (-2130540.317761698 4533731.651383436)

In [88]:
taz_drive_cc_group1_count_df = taz_drive_cc_group1_gdf.groupby(["B"])["u"].count().reset_index()

taz_group2_list = taz_drive_cc_group1_count_df[
    taz_drive_cc_group1_count_df.u < 3].B.tolist() + \
[c for c in taz_node_gdf.N.tolist() if c not in taz_drive_cc_group1_count_df.B.tolist()]

In [89]:
taz_drive_cc_group1_count_df[taz_drive_cc_group1_count_df.u >= 3].B.nunique()

4501

In [90]:
len(taz_group2_list)

255

In [91]:
%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist()))].copy()

taz_drive_cc_group2_gdf, taz_drive_centroid_group2_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf[taz_drop_long_connectors_gdf.c.isin(taz_group2_list)],
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

Wall time: 2min 27s

In [92]:
taz_drop_long_connectors_gdf

,A,B,NUMLANES,F_JNCTID,T_JNCTID,FRC,NAME,FREEWAY,TOLLRD,ONEWAY,...,geometry,c,non_c,length,length_mean,length_std,length_norm,length_15,length_85,keep
0,1,1002463,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1002463,285.197,223.048,93.423,0.665,127.617,314.907,1
1,1,1002702,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1002702,109.697,223.048,93.423,-1.213,127.617,314.907,1
2,1,1003078,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1003078,351.949,223.048,93.423,1.380,127.617,314.907,1
3,1,1004400,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1004400,183.988,223.048,93.423,-0.418,127.617,314.907,1
4,1,1009833,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1009833,310.792,223.048,93.423,0.939,127.617,314.907,1
5,1,1011503,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1011503,129.608,223.048,93.423,-1.000,127.617,314.907,1
6,1,1012865,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1012865,190.106,223.048,93.423,-0.353,127.617,314.907,1
7,2,1007742,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1007742,143.774,228.945,120.212,-0.709,142.061,330.650,1
8,2,1008103,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1008103,330.655,228.945,120.212,0.846,142.061,330.650,1
9,2,1011332,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1011332,433.102,228.945,120.212,1.698,142.061,330.650,1
10,2,1013371,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1013371,330.566,228.945,120.212,0.845,142.061,330.650,1
11,2,1014678,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1014678,205.111,228.945,120.212,-0.198,142.061,330.650,1
12,2,1030515,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1030515,100.272,228.945,120.212,-1.070,142.061,330.650,1
13,2,1030530,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1030530,141.971,228.945,120.212,-0.724,142.061,330.650,1
14,2,1031255,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1031255,146.113,228.945,120.212,-0.689,142.061,330.650,1
15,3,1002165,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1002165,268.232,202.206,37.571,1.757,163.919,226.217,1
16,3,1003616,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1003616,217.124,202.206,37.571,0.397,163.919,226.217,1
17,3,1004400,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1004400,163.907,202.206,37.571,-1.019,163.919,226.217,1
18,3,1005495,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1005495,216.648,202.206,37.571,0.384,163.919,226.217,1
19,3,1006288,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1006288,226.696,202.206,37.571,0.652,163.919,226.217,1
20,3,1009796,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1009796,198.176,202.206,37.571,-0.107,163.919,226.217,1
21,3,1012865,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1012865,162.716,202.206,37.571,-1.051,163.919,226.217,1
22,3,1030517,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1030517,164.148,202.206,37.571,-1.013,163.919,226.217,1
23,4,1007730,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1007730,368.080,439.944,178.954,-0.402,326.088,560.985,1
24,4,1009057,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1009057,308.091,439.944,178.954,-0.737,326.088,560.985,1
25,4,1028090,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1028090,643.659,439.944,178.954,1.138,326.088,560.985,1
26,5,1002165,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1002165,112.275,188.332,76.882,-0.989,116.441,265.425,1
27,5,1003078,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1003078,306.556,188.332,76.882,1.538,116.441,265.425,1
28,5,1003498,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1003498,265.950,188.332,76.882,1.010,116.441,265.425,1
29,5,1006288,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1006288,115.871,188.332,76.882,-0.942,116.441,265.425,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178867,900004,4013616,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,LINESTRING (-2095498.58987284 4722234.39297846...,900004,4013616,586.763,586.763,nan,nan,586.763,586.763,1
178868,900005,4008102,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,LINESTRING (-2058473.448326681 4687948.0037574...,900005,4008102,160.056,160.056,nan,nan,160.056,160.056,1
178869,900006,3504977,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,LINESTRING (-2044567.682167601 4684788.7118647...,900006,3504977,128.905,113.765,21.411,0.707,103.167,124.363,1
178870,900007,3501135,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,LINESTRING (-2027922.417263354 4679718.8802221...,900007,3501135,221.386,317.629,136.108,-0.707,250.259,384.999,1
178871,900008,3502245,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,LINESTRING (-2024909.785668863 4679994.2176149...,900008,3502245,1816.743,1169.824,914.882,0.707,716.980,1622.667,1
178872,900009,3521560,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,LINESTRING (-2034884.634689891 4634888.8062048...,900009,3521560,178.428,178.428,nan,nan,178.428,178.428,1
178873,900010,3016324,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,LINESTRING (-2046153.935328996 4621200.2509423...,900010,3016324,58.716,58.455,0.370,0.707,58.271,58.638,1
178874,900011,3069798,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,LINESTRING (-2034756.95773731 4600931.45211133...,900011,3069798,160.561,160.561,nan,nan,160.561,160.561,1
178875,900012,2555322,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,LINESTRING (-2036993.593170344 4589971.5036673...,900012,2555322,235.673,235.673,nan,nan,235.673,235.673,1
178876,900013,2509728,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039137.020182929 4582890.5750117...,900013,2509728,1071.626,919.304,138.890,1.097,824.512,1010.852,1
178877,900013,2560310,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039137.020182929 4582890.5750117...,900013,2560310,934.487,919.304,138.890,0.109,824.512,1010.852,1
178878,900014,2036915,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,LINESTRING (-2033023.617891885 4496875.5620693...,900014,2036915,189.389,188.987,0.569,0.707,188.706,189.269,1
178879,900015,2033921,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,LINESTRING (-2052750.057375004 4489290.0756405...,900015,2033921,316.240,316.240,nan,nan,316.240,316.240,1
178880,900016,2105963,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2064970.207258847 4491722.0615892...,900016,2105963,203.893,202.060,2.592,0.707,200.777,203.343,1
178881,900017,2032120,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2069471.026608494 4489468.4348642...,900017,2032120,60.201,60.933,1.036,-0.707,60.420,61.446,1
178882,900018,2105359,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,LINESTRING (-2082090.65004765 4503518.42215629...,900018,2105359,0.760,0.760,nan,nan,0.760,0.760,1
178883,900019,2035881,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,LINESTRING (-2101020.375358165 4528352.7885299...,900019,2035881,57.793,66.401,12.173,-0.707,60.375,72.426,1
178884,900020,2099887,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,LINESTRING (-2109016.186522019 4545822.3052460...,900020,2099887,42.245,42.245,nan,nan,42.245,42.245,1
178885,900021,1542334,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,LINESTRING (-2130540.317761698 4533731.6513834...,900021,1542334,223.560,223.560,nan,nan,223.560,223.560,1
474872,2035276,900019,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,LINESTRING (-2100959.063378338 4528395.9993294...,900019,2035276,75.009,66.401,12.173,0.707,60.375,72.426,1
479050,2036992,900017,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2069439.512226813 4489521.4393991...,900017,2036992,61.666,60.933,1.036,0.707,60.420,61.446,1
480336,2037510,900014,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,LINESTRING (-2033160.598157998 4496745.9443797...,900014,2037510,188.585,188.987,0.569,-0.707,188.706,189.269,1
663737,2112924,900016,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2065032.372060077 4491912.3937756...,900016,2112924,200.227,202.060,2.592,-0.707,200.777,203.343,1
804920,2552507,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039227.059508482 4583822.8099536...,900013,2552507,936.573,919.304,138.890,0.124,824.512,1010.852,1
817172,2557464,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039515.406243816 4583520.1470123...,900013,2557464,734.532,919.304,138.890,-1.330,824.512,1010.852,1
952161,3016164,900010,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,LINESTRING (-2046178.148112191 4621147.3344116...,900010,3016164,58.193,58.455,0.370,-0.707,58.271,58.638,1
1119204,3501279,900008,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,LINESTRING (-2025067.667731246 4679495.7172737...,900008,3501279,522.905,1169.824,914.882,-0.707,716.980,1622.667,1
1120513,3501725,900007,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,LINESTRING (-2028087.910400114 4679339.5360442...,900007,3501725,413.872,317.629,136.108,0.707,250.259,384.999,1
1174108,3521293,900006,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,LINESTRING (-2044587.319317421 4684692.0615696...,900006,3521293,98.625,113.765,21.411,-0.707,103.167,124.363,1
1313393,4535799,900003,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,LINESTRING (-2127322.505996942 4755704.3379469...,900003,4535799,338.807,335.589,4.550,0.707,333.337,337.841,1

In [93]:
taz_drive_cc_group2_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1255 entries, 0 to 1289
Data columns (total 10 columns):
u                     1255 non-null object
shst_node_id          1255 non-null object
A                     1255 non-null object
geometry_ld           1255 non-null object
B                     1255 non-null int64
geometry_c            1255 non-null object
geometry              1255 non-null object
fromIntersectionId    1255 non-null object
shstGeometryId        1255 non-null object
id                    1255 non-null object
dtypes: int64(1), object(9)
memory usage: 107.9+ KB

In [94]:
taz_drive_cc_group1_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 26272 entries, 0 to 30947
Data columns (total 10 columns):
u                     26272 non-null object
shst_node_id          26272 non-null object
A                     26272 non-null object
geometry_ld           26272 non-null object
B                     26272 non-null int64
geometry_c            26272 non-null object
geometry              26272 non-null object
fromIntersectionId    26272 non-null object
shstGeometryId        26272 non-null object
id                    26272 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [95]:
taz_drive_cc_gdf = pd.concat(
    [taz_drive_cc_group1_gdf, taz_drive_cc_group2_gdf],
    sort = False,
    ignore_index = True
)

taz_drive_cc_gdf.drop_duplicates(subset = ["A", "B"], inplace = True)

taz_drive_cc_gdf["shstGeometryId"] = range(1, 1+len(taz_drive_cc_gdf))
taz_drive_cc_gdf["shstGeometryId"] = taz_drive_cc_gdf["shstGeometryId"].apply(lambda x: "drive_cc" + str(x))
taz_drive_cc_gdf["id"] = taz_drive_cc_gdf["shstGeometryId"]

taz_drive_centroid_gdf = pd.concat(
    [taz_drive_centroid_group1_gdf, taz_drive_centroid_group2_gdf],
    sort = False,
    ignore_index = True
)

taz_drive_centroid_gdf.drop_duplicates(subset = ["model_node_id"], inplace = True)

In [212]:
taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
2,5437876981.000,7dfc2d37930322fed77aeb5b890bad43,1015558,POINT (-2116759.563952358 4613471.369151477),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4266615 37.7692309, -122.4235...",7dfc2d37930322fed77aeb5b890bad43,drive_cc3,drive_cc3

In [98]:
taz_drive_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 27479 entries, 0 to 27526
Data columns (total 10 columns):
u                     27479 non-null object
shst_node_id          27479 non-null object
A                     27479 non-null object
geometry_ld           27479 non-null object
B                     27479 non-null int64
geometry_c            27479 non-null object
geometry              27479 non-null object
fromIntersectionId    27479 non-null object
shstGeometryId        27479 non-null object
id                    27479 non-null object
dtypes: int64(1), object(9)
memory usage: 2.3+ MB

In [227]:
import math

In [228]:
keep_taz_drive_cc_gdf = get_non_near_connectors(taz_drive_cc_gdf)

keep_taz_drive_cc_gdf = taz_drive_cc_gdf[taz_drive_cc_gdf.id.isin(keep_taz_drive_cc_gdf.id)].copy()

In [234]:
keep_taz_drive_cc_gdf.shape

(16452, 10)

In [233]:
keep_taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
5,378431868.000,e7e0b5fba6a4d11dd2407eb28bf4e90f,1021297,POINT (-2116405.388054292 4613642.497189956),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.423745 37.7715348, -122.42355...",e7e0b5fba6a4d11dd2407eb28bf4e90f,drive_cc6,drive_cc6

In [235]:
keep_taz_drive_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/taz_drive_cc.pickle")
taz_drive_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/taz_drive_centroid.pickle")

In [236]:
keep_taz_drive_cc_gdf.id.nunique()

16452

In [237]:
keep_taz_drive_cc_gdf.B.nunique()

4756

In [238]:
taz_drive_centroid_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4756 entries, 0 to 4949
Data columns (total 2 columns):
model_node_id    4756 non-null int64
geometry         4756 non-null object
dtypes: int64(1), object(1)
memory usage: 111.5+ KB

In [239]:
gpd.GeoDataFrame(keep_taz_drive_cc_gdf[["geometry", "id"]],
                                    geometry = keep_taz_drive_cc_gdf['geometry'], crs = {"init" : "epsg:4326"}).to_file(
    "../../data/interim/step7_centroid_connector/taz_drive.geojson",
                        driver = "GeoJSON")

walk_node_gdf = node_gdf[(node_gdf.walk_access == 1) & (node_gdf.rail_only != 1)]

new_walk_cc_gdf, new_walk_centroid_gdf = generate_centroid_connectors('walk',
                                                                        taz_connectors_gdf,
                                                                        walk_node_gdf, 
                                                                        taz_node_gdf)

new_walk_centroid_gdf
new_walk_cc_gdf.info()

bike_node_gdf = node_gdf[(node_gdf.bike_access == 1)]

new_bike_cc_gdf, new_bike_centroid_gdf = generate_centroid_connectors('bike',
                                                                        taz_connectors_gdf,
                                                                        bike_node_gdf, 
                                                                        taz_node_gdf)

new_bike_centroid_gdf.info()

new_bike_cc_gdf.info()

In [240]:
taz_cc_link_df, taz_cc_shape_gdf = consolidate_cc(link_gdf,
                                             taz_drive_centroid_gdf,
                                             node_gdf,
                                             keep_taz_drive_cc_gdf)

In [241]:
keep_taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
5,378431868.000,e7e0b5fba6a4d11dd2407eb28bf4e90f,1021297,POINT (-2116405.388054292 4613642.497189956),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.423745 37.7715348, -122.42355...",e7e0b5fba6a4d11dd2407eb28bf4e90f,drive_cc6,drive_cc6

In [243]:
taz_cc_shape_gdf.id.nunique()

16452

In [242]:
taz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId
0,cc385,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN
1,cc1674,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN
2,cc1119,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN
3,cc724,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN
4,cc728,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN
5,cc896,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN
6,cc1793,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN
7,cc15969,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN
8,cc15973,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN
9,cc756,"LINESTRING (-122.4718527 37.7750086, -122.4771...",d09865d714d5596d27ff65a8dad207b0,NaN
10,cc869,"LINESTRING (-122.4684246 37.743375, -122.46832...",4b512973980ecd5150717d303264f7f6,NaN
11,cc951,"LINESTRING (-122.4684246 37.743375, -122.47312...",4b512973980ecd5150717d303264f7f6,NaN
12,cc1451,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN
13,cc1510,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN
14,cc1816,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN
15,cc990,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN
16,cc1053,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN
17,cc1794,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN
18,cc830,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN
19,cc300,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN
20,cc15963,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN
21,cc43,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN
22,cc705,"LINESTRING (-122.4099619 37.7120143, -122.4089...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN
23,cc925,"LINESTRING (-122.4099619 37.7120143, -122.4085...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN
24,cc12,"LINESTRING (-122.4277074 37.76566380000001, -1...",5f1ac5d8ed8723c7260d0e5d3c857669,NaN
25,cc1497,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN
26,cc949,"LINESTRING (-122.382962 37.734603, -122.380264...",fff6c414ff773abbfba25d2033da60ee,NaN
27,cc16110,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN
28,cc292,"LINESTRING (-122.4070857 37.7612949, -122.4063...",abcaae09adc864aeb2ac5bf745f08848,NaN
29,cc1790,"LINESTRING (-122.4070857 37.7612949, -122.4077...",abcaae09adc864aeb2ac5bf745f08848,NaN
...,...,...,...,...
16422,cc15555,"LINESTRING (-122.5353443 38.0684034, -122.4982...",3cd15bbb3f74e9194df3607d145fcae5,NaN
16423,cc15666,"LINESTRING (-122.5426985 37.96280300000002, -1...",e4d7994e76175340e89e58c5840a04ab,NaN
16424,cc15395,"LINESTRING (-122.5151414 37.95000509999999, -1...",c36aa00442a7eaa6eb18e9efbf372175,NaN
16425,cc15509,"LINESTRING (-122.8861046 38.243115, -122.90882...",bad6ad401e8167dd03f36f23e409d8ee,NaN
16426,cc15754,"LINESTRING (-122.5267206 37.9885653, -122.5116...",6ed490a99b96a5c1f2483d9c1258dd9b,NaN
16427,cc15864,"LINESTRING (-122.5366037 38.03351439999999, -1...",2f41431aac69b24cc1f130bb3a626741,NaN
16428,cc15854,"LINESTRING (-122.5477046 38.0261628, -122.5490...",115eaab63340e31e160ed3d31dd1e057,NaN
16429,cc15429,"LINESTRING (-122.5240992 38.10633979999999, -1...",5a3180251c7e9cff009f3b1500808e38,NaN
16430,cc15272,"LINESTRING (-122.4983736 37.89551420000001, -1...",938c1c40bc13da63812e22aea9179292,NaN
16431,cc15674,"LINESTRING (-122.5413538 37.9575069, -122.5464...",c8202dfb2acc29697324dadbca93d699,NaN
16432,cc15790,"LINESTRING (-122.5598332 38.0019892, -122.5563...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN
16433,cc15869,"LINESTRING (-122.5598332 38.0019892, -122.5567...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN
16434,cc15591,"LINESTRING (-122.5090197 37.9643927, -122.5024...",e3727807754e7cb83475258ee5cd351f,NaN
16435,cc15601,"LINESTRING (-122.5090197 37.9643927, -122.5067...",e3727807754e7cb83475258ee5cd351f,NaN
16436,cc15360,"LINESTRING (-122.6043363 37.90380509999999, -1...",ff27454b7ee2945cbc408e9526616319,NaN
16437,cc15909,"LINESTRING (-122.5172055 37.9367092, -122.5188...",c0cd0baad6c3615fe9fde7452c090293,NaN
16438,cc15751,"LINESTRING (-122.568072 37.96808350000001, -12...",ed85cac0b106dea18e50358fc45cef9e,NaN
16439,cc15725,"LINESTRING (-122.462678 38.001706, -122.492899...",3bfb8d3e9fe3f63bdca2e04b1ae51d44,NaN
16440,cc15852,"LINESTRING (-122.5523545 38.029824, -122.54904...",ca9d2cf6e07b9c0aa3b8cc1f21392045,NaN
16441,cc15671,"LINESTRING (-122.5364838 37.95183510000001, -1...",599b3f7bec7f785ab2defd5a6696cc03,NaN
16442,cc15708,"LINESTRING (-122.568389 37.978723, -122.573062...",bdd496bd87b110a70f01e4a14b346595,NaN
16443,cc15556,"LINESTRING (-122.5177867 38.0253742, -122.5104...",5ec18c6eb3b7f1407d0f43dcd0a77ec4,NaN
16444,cc15819,"LINESTRING (-122.6030441 38.1809834, -122.6285...",fb03062d856b596244443acb64cb979a,NaN
16445,cc15364,"LINESTRING (-122.5379082 38.0029385, -122.5352...",14965915f21991aa34f40aabcff54712,NaN
16446,cc15436,"LINESTRING (-122.61559 38.1004183, -122.615092...",bdc4168ac410b3d1c594d35e28b8750b,NaN
16447,cc15698,"LINESTRING (-122.5362093 37.93824720000001, -1...",5cff5bb93dd1776e7dd205478b6f784e,NaN
16448,cc15706,"LINESTRING (-122.5799641 37.9853605, -122.5730...",9f66a2aa8f542783fb729bad326183d1,NaN
16449,cc15402,"LINESTRING (-122.4834539 37.85083709999999, -1...",f009509c6aaeea4f5c819b25957a416d,NaN
16450,cc15471,"LINESTRING (-122.5699857 38.11292519999999, -1...",fa2bd8155f1de9fcf0032c0e1401d5a9,NaN
16451,cc15333,"LINESTRING (-122.569916 37.912396, -122.561742...",f1b7e52e13eb3b57c655e3e6ee467ad2,NaN

In [245]:
taz_cc_link_df.shape

(32904, 11)

In [244]:
taz_cc_shape_gdf = gpd.GeoDataFrame(taz_cc_shape_gdf, geometry = taz_cc_shape_gdf['geometry'], crs = {"init" : "epsg:4326"})

taz_cc_shape_gdf.to_file("../../data/interim/step7_centroid_connector/taz.geojson",
                        driver = "GeoJSON")

# get minimum bounding box around polygon
box = polygon.minimum_rotated_rectangle

# get coordinates of polygon vertices
x, y = box.exterior.coords.xy

# get length of bounding box edges
edge_length = (Point(x[0], y[0]).distance(Point(x[1], y[1])), Point(x[1], y[1]).distance(Point(x[2], y[2])))

# get length of polygon as the longest edge of the bounding box
length = max(edge_length)

# get width of polygon as the shortest edge of the bounding box
width = min(edge_length)

# MAZ connectors

In [107]:
maz_poly_buffer1_gdf = maz_poly_gdf.copy()
maz_poly_buffer2_gdf = maz_poly_gdf.copy()

In [108]:
maz_poly_buffer1_gdf["geometry_buffer"] = maz_poly_buffer1_gdf["geometry"].apply(lambda x: buffer1(x))
maz_poly_buffer2_gdf["geometry_buffer"] = maz_poly_buffer2_gdf["geometry"].apply(lambda x: buffer2(x))

In [109]:
maz_poly_buffer1_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

maz_buffer1_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, maz_poly_buffer1_gdf[["geometry", "maz"]], 
                                             how = "left", op = "intersects")

In [110]:
maz_buffer1_node_two_geometry_df.sort_values(by = "maz")

,model_node_id,shstGeometryId,osm_node_id,shst_node_id,geometry,index_right,maz
6463,1025630,2,599157363.000,c5c4c83556a3c226a57f083ff579ae05,POINT (-122.4356195 37.7560731),2.000,10003.000
500,1001867,2,601241643.000,2e1cc2f9a9546a92c603bd8c44432e64,POINT (-122.4345605 37.7560113),4.000,10005.000
2309,1009069,2,65356357.000,15ecec445ac198aa4921fe7c5715a3ee,POINT (-122.434723 37.745612),6.000,10007.000
2807,1010844,2,65327276.000,f28def40a57e07bcf773817189cc740b,POINT (-122.4320991 37.7466037),6.000,10007.000
259,1000975,2,2371453143.000,20e8eb7d367d016c19a8edbb79024cca,POINT (-122.4326044 37.7465216),6.000,10007.000
1983,1007764,2,494521622.000,c2bb0c37223ff658038f0de3c419b59f,POINT (-122.4356168 37.7439898),7.000,10009.000
1643,1006402,2,65306688.000,9c09c43259ea73cd03d8eefdfb1684cf,POINT (-122.4346224 37.7432226),7.000,10009.000
4407,1016891,2,65312314.000,8dfbbce86edb7c5628c52cd96fe2d140,POINT (-122.430765 37.7384531),8.000,10012.000
3265,1012641,2,2320396492.000,9f3706cf444f3224131ff7711f9b9adc,POINT (-122.4336215 37.73984100000001),8.000,10012.000
4430,1017001,2,3921504046.000,889eed8ada64b41b850f54545239b647,POINT (-122.4337882 37.7401448),8.000,10012.000
5947,1022855,2,318299785.000,28ccb75b5f7d5654ac21710cf623e0b7,POINT (-122.4292918 37.7379679),8.000,10012.000
2815,1010871,2,2320396512.000,f2e51adfa5f53f82be5a194e1cdcfaf8,POINT (-122.4329372 37.7400721),8.000,10012.000
3830,1014697,2,65366933.000,6ae8f9356701cad72b8153391cc15e90,POINT (-122.4295838 37.73777860000001),8.000,10012.000
3842,1014745,2,65306880.000,26599f718e051f02ed17823048f9ed95,POINT (-122.4287614 37.7385083),8.000,10012.000
4584,1017660,2,5901528193.000,dc88b9180ada033572a0291defb18c91,POINT (-122.4330768 37.7399368),8.000,10012.000
5585,1021388,2,4941850326.000,f32bd26f550bcb98500c498d7cc1ad92,POINT (-122.3917479 37.7525997),9.000,10017.000
420,1001577,2,65283366.000,d49f27fa2ca099aadedeef38abdcf58b,POINT (-122.392499 37.751285),9.000,10017.000
96,1000350,2,5637888138.000,e7c64d7835e725e54334e342f12fe480,POINT (-122.3921056 37.75028930000001),9.000,10017.000
6005,1023040,2,5637888135.000,fcb18a3e5929fc221f125f46a8fb33c9,POINT (-122.3924629 37.7501261),9.000,10017.000
5875,1022591,2,1935652920.000,58a6e40cb0f275976abf6a6ebaee8ab2,POINT (-122.39198 37.7501254),9.000,10017.000
140,1000501,2,340160887.000,1970993deda5d69e308dad2732f8fcd7,POINT (-122.3920144 37.750028),9.000,10017.000
769,1002876,2,5637888136.000,90724e44a291befe3652ba0edcb51c5a,POINT (-122.3923421 37.75014210000001),9.000,10017.000
1288,1004960,2,5637888134.000,9eab831aad3f2ff6643fdc2c2711f408,POINT (-122.3925554 37.7501636),9.000,10017.000
5700,1021877,2,4941618147.000,59c68cd481a89a85dad5057c22f06d49,POINT (-122.3928839 37.7551357),10.000,10018.000
6233,1023902,2,65283505.000,f2010785a3698b2748b89d0d3a765fec,POINT (-122.3927828 37.7537182),10.000,10018.000
5153,1019778,2,65286605.000,9bd45dc20c68d018c09724168f81fb27,POINT (-122.392734 37.7531466),10.000,10018.000
5797,1022302,2,3852961771.000,d11e4d597bed9053328fc93e61bd857c,POINT (-122.3913459 37.753609),10.000,10018.000
3366,1013007,2,4550728524.000,8d541377a63111828040967bf11cf3b0,POINT (-122.3928729 37.7549926),10.000,10018.000
4598,1017726,2,5443322891.000,72dc72414de1a4c4e3ac8e9e3bef3006,POINT (-122.3928101 37.7541042),10.000,10018.000
5585,1021388,2,4941850326.000,f32bd26f550bcb98500c498d7cc1ad92,POINT (-122.3917479 37.7525997),10.000,10018.000
...,...,...,...,...,...,...,...
141887,5002789,2,110379618.000,edf59eba93b92aa3df136d7d17abdaee,POINT (-122.6131519 38.1042893),39723.000,814497.000
141797,5002485,2,110398679.000,52dc9487a609aa62a5914a7d8f8987c7,POINT (-122.6111732 38.1023188),39723.000,814497.000
141416,5001161,2,110379626.000,eabb361476dbc3a962d5f7081301c40e,POINT (-122.6097735 38.1046418),39723.000,814497.000
142774,5005784,2,5482877171.000,ab7cff19b4fda44f92d72e65ce58c5c8,POINT (-122.5115838 37.88896070000001),39724.000,814500.000
141843,5002649,2,110414355.000,a369ca1004e59c7d9b828023680abea9,POINT (-122.5057123 37.89020960000001),39724.000,814500.000
146638,5019574,2,110414342.000,46a21b1f837163de7a9850d08d868627,POINT (-122.5073497 37.89551),39724.000,814500.000
145273,5014418,2,315222473.000,7a304d05092db1bc71435fb74b3f9c55,POINT (-122.5062717 37.8919301),39724.000,814500.000
146652,5019637,2,4928642538.000,d4c15165e2a3ccd62b03ffd74d320572,POINT (-122.5085973 37.8902237),39724.000,814500.000
141309,5000829,2,3687377430.000,af478df76d6dc96a84f612b6b4155447,POINT (-122.5082372 37.8882643),39724.000,814500.000
143681,5008806,2,2408177430.000,27e6910a09b79297e38b5f75c2ec3c1b,POINT (-122.5136969 37.8909849),39724.000,814500.000
146049,5017376,2,110456334.000,5dfd7d219453cd8f1574c0db68027b6b,POINT (-122.5080515 37.8959833),39724.000,814500.000
142143,5003722,2,110438694.000,8043f0ac5bc20072637231af4bfddd26,POINT (-122.5097296 37.8883814),39724.000,814500.000
141485,5001360,2,110399019.000,8cfa69f4713553d8d7ad32d9e187b066,POINT (-122.5076352 37.88978400000001),39724.000,814500.000
145996,5017121,2,3687377432.000,b47f6f985e0db94e646606f88a2ca494,POINT (-122.5072014 37.8884963),39724.000,814500.000
142293,5004208,2,4928642541.000,c1138890d9ea15e2c4deae609041118e,POINT (-122.509291 37.8904037),39724.000,814500.000
142289,5004196,2,3687377444.000,6bb4fd9c7d51d2c276442497f1807633,POINT (-122.5057628 37.8896691),39724.000,814500.000
147092,5022795,2,110399076.000,dfd1dc9d06b959865a15e1bca19df6af,POINT (-122.5088478 37.89039990000001),39724.000,814500.000
143272,5007439,2,110414350.000,cd8de799910074f1857f78c977c15471,POINT (-122.5065391 37.8925486),39724.000,814500.000
143323,5007618,2,4928642543.000,4fbb19cd8e6edb3ab43d250198ff91c5,POINT (-122.50583 37.8906294),39724.000,814500.000
144971,5013205,2,110417093.000,45a0644c38133587fff90dde860066c2,POINT (-122.548961 37.9111969),39725.000,814506.000
146570,5019298,2,110417107.000,8ac3b2e5ad71986c03297fed78f1c93e,POINT (-122.5529113 37.9167617),39725.000,814506.000
142973,5006411,2,110417095.000,36054a5f5371c953d8da00d0bbdef9e5,POINT (-122.5488712 37.9113882),39725.000,814506.000
141330,5000900,2,110407321.000,763f52dc90759a30ae012d305ac7c303,POINT (-122.5485612 37.91162540000001),39725.000,814506.000
7594,1504294,2,4906160458.000,af07986f768a55128450aabb14bae2bd,POINT (-122.2895962 37.5693829),nan,nan
10885,1516844,2,1522772223.000,97d6f52f7b7de7f17d5dd8fd615a93ab,POINT (-122.2608626 37.5627373),nan,nan
12086,1521269,2,65432367.000,7c50d095bd00cc2ca95a5db0e3262bfc,POINT (-122.2665072 37.56422),nan,nan
13906,1527986,2,1771186198.000,515595545c00233cf0f9c6723f18a817,POINT (-122.4010233 37.6389976),nan,nan
65264,2512615,2,53045204.000,a9c885064a4a7cc2211d75467a1b8abb,POINT (-122.2128024 37.7586684),nan,nan
81734,2570946,2,1313871315.000,17a0e3a3f7f0ed2ae231c8c7d860eb18,POINT (-122.2299791 37.7693349),nan,nan
124757,3547316,2,280821212.000,0019646747644857beb064b64d6d3fa9,POINT (-122.0119214 38.4891356),nan,nan

In [111]:
%%time

maz_buffer1_node_two_geometry_df.rename(columns = {"maz" : "c"}, inplace = True)

maz_drive_cc_group1_gdf, maz_drive_centroid_group1_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf,
                                                                        maz_buffer1_node_two_geometry_df,
                                                                        existing_network_node_gdf)

Wall time: 21min 47s

In [112]:
maz_buffer1_node_two_geometry_df[maz_buffer1_node_two_geometry_df.model_node_id == 1005079]

,model_node_id,shstGeometryId,osm_node_id,shst_node_id,geometry,index_right,c
1319,1005079,2,4000209750.000,e15f4fe887edc6f09cbacdeef040904f,POINT (-122.4166814 37.7507448),2415.000,14214.000
1319,1005079,2,4000209750.000,e15f4fe887edc6f09cbacdeef040904f,POINT (-122.4166814 37.7507448),2413.000,14211.000

In [113]:
maz_drive_cc_group1_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 70146 entries, 0 to 108157
Data columns (total 10 columns):
u                     70146 non-null object
shst_node_id          70146 non-null object
A                     70146 non-null object
geometry_ld           70146 non-null object
B                     70146 non-null int64
geometry_c            70146 non-null object
geometry              70146 non-null object
fromIntersectionId    70146 non-null object
shstGeometryId        70146 non-null object
id                    70146 non-null object
dtypes: int64(1), object(9)
memory usage: 5.9+ MB

In [114]:
maz_buffer1_node_two_geometry_df[maz_buffer1_node_two_geometry_df.c == 10001]

Empty GeoDataFrame
Columns: [model_node_id, shstGeometryId, osm_node_id, shst_node_id, geometry, index_right, c]
Index: []

In [116]:
maz_drive_cc_count_df = maz_drive_cc_group1_gdf.groupby(["B"])["u"].count().reset_index()

maz_group2_list = maz_drive_cc_count_df[maz_drive_cc_count_df.u < 2].B.tolist() + \
[c for c in maz_node_gdf.N.tolist() if c not in maz_drive_cc_count_df.B.tolist()]

In [117]:
maz_drive_cc_count_df[maz_drive_cc_count_df.u >= 2].B.nunique()

21592

In [118]:
len(maz_group2_list)

18134

In [119]:
%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist()))].copy()

maz_drive_cc_group2_gdf, maz_drive_centroid_group2_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf[maz_drop_long_connectors_gdf.c.isin(maz_group2_list)],
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

Wall time: 1h 12min 53s

In [120]:
maz_drive_cc_group2_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 35116 entries, 0 to 42880
Data columns (total 10 columns):
u                     35116 non-null object
shst_node_id          35116 non-null object
A                     35116 non-null object
geometry_ld           35116 non-null object
B                     35116 non-null int64
geometry_c            35116 non-null object
geometry              35116 non-null object
fromIntersectionId    35116 non-null object
shstGeometryId        35116 non-null object
id                    35116 non-null object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [122]:
maz_drive_cc_gdf = pd.concat(
    [maz_drive_cc_group1_gdf, maz_drive_cc_group2_gdf],
    sort = False,
    ignore_index = True
)

maz_drive_cc_gdf.drop_duplicates(subset = ["A", "B"], inplace = True)

maz_drive_centroid_gdf = pd.concat(
    [maz_drive_centroid_group1_gdf, maz_drive_centroid_group2_gdf],
    sort = False,
    ignore_index = True
)

maz_drive_centroid_gdf.drop_duplicates(subset = ["model_node_id"], inplace = True)

In [248]:
maz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,599157363.000,c5c4c83556a3c226a57f083ff579ae05,1025630,POINT (-2118086.908593064 4612253.551938111),10003,POINT (-2118117.395978091 4612355.835871712),"LINESTRING (-122.4356195 37.75607309999999, -1...",c5c4c83556a3c226a57f083ff579ae05,cc1,cc1
1,601241643.000,2e1cc2f9a9546a92c603bd8c44432e64,1001867,POINT (-2117993.632164036 4612213.424207246),10005,POINT (-2117950.508589647 4612162.067367652),"LINESTRING (-122.4345605 37.7560113, -122.4339...",2e1cc2f9a9546a92c603bd8c44432e64,cc3,cc3
2,2371453143.000,20e8eb7d367d016c19a8edbb79024cca,1000975,POINT (-2118190.280754959 4611072.060572255),10007,POINT (-2118221.641477695 4610986.948461398),"LINESTRING (-122.4326044 37.74652159999999, -1...",20e8eb7d367d016c19a8edbb79024cca,cc5,cc5

In [124]:
maz_drive_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 98881 entries, 0 to 105259
Data columns (total 10 columns):
u                     98881 non-null object
shst_node_id          98881 non-null object
A                     98881 non-null object
geometry_ld           98881 non-null object
B                     98881 non-null int64
geometry_c            98881 non-null object
geometry              98881 non-null object
fromIntersectionId    98881 non-null object
shstGeometryId        98881 non-null object
id                    98881 non-null object
dtypes: int64(1), object(9)
memory usage: 8.3+ MB

In [249]:
keep_maz_drive_cc_gdf = get_non_near_connectors(maz_drive_cc_gdf)

keep_maz_drive_cc_gdf = maz_drive_cc_gdf[maz_drive_cc_gdf.id.isin(keep_maz_drive_cc_gdf.id)].copy()

In [251]:
keep_maz_drive_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_drive_cc.pickle")
maz_drive_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_drive_centroid.pickle")

%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "truck_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(two_assignable_way_node_list))].copy()

maz_drive_cc_gdf, maz_drive_centroid_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf,
                                                                        drive_node_gdf, 
                                                                        existing_network_node_gdf)

In [252]:
keep_maz_drive_cc_gdf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [253]:
keep_maz_drive_cc_gdf.B.nunique()

39721

In [254]:
maz_drive_centroid_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 39721 entries, 0 to 51917
Data columns (total 2 columns):
model_node_id    39721 non-null int64
geometry         39721 non-null object
dtypes: int64(1), object(1)
memory usage: 931.0+ KB

In [255]:
keep_maz_drive_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_drive.geojson",
                        driver = "GeoJSON")

In [129]:
maz_drop_long_connectors_gdf.c.min()

10001

In [130]:
%%time

walk_node_gdf = node_gdf[(node_gdf.walk_access == 1) & (node_gdf.rail_only != 1)]

maz_walk_cc_gdf, maz_walk_centroid_gdf = generate_centroid_connectors('walk',
                                                                        maz_drop_long_connectors_gdf,
                                                                        walk_node_gdf, 
                                                                        maz_node_gdf)

Wall time: 2h 11min 45s

In [131]:
maz_walk_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_walk_cc.pickle")
maz_walk_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_walk_centroid.pickle")

In [132]:
%%time

bike_node_gdf = node_gdf[(node_gdf.bike_access == 1)]

maz_bike_cc_gdf, maz_bike_centroid_gdf = generate_centroid_connectors('bike',
                                                                        maz_drop_long_connectors_gdf,
                                                                        bike_node_gdf, 
                                                                        maz_node_gdf)

Wall time: 2h 2min 42s

In [133]:
maz_bike_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_bike_cc.pickle")
maz_bike_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_bike_centroid.pickle")

In [134]:
maz_bike_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_bike.geojson",
                        driver = "GeoJSON")
maz_walk_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_walk.geojson",
                        driver = "GeoJSON")

In [135]:
print(maz_walk_centroid_gdf.shape)
maz_walk_cc_gdf.info()

(39726, 2)
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 198630 entries, 0 to 198629
Data columns (total 10 columns):
u                     198630 non-null float64
shst_node_id          198630 non-null object
A                     198630 non-null int64
geometry_ld           198630 non-null object
B                     198630 non-null int64
geometry_c            198630 non-null object
geometry              198630 non-null object
fromIntersectionId    198630 non-null object
shstGeometryId        198630 non-null object
id                    198630 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 16.7+ MB

In [136]:
maz_walk_cc_gdf.B.nunique()

39726

In [137]:
print(maz_bike_centroid_gdf.shape)
maz_bike_cc_gdf.info()

(39726, 2)
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 198630 entries, 0 to 198629
Data columns (total 10 columns):
u                     198630 non-null float64
shst_node_id          198630 non-null object
A                     198630 non-null int64
geometry_ld           198630 non-null object
B                     198630 non-null int64
geometry_c            198630 non-null object
geometry              198630 non-null object
fromIntersectionId    198630 non-null object
shstGeometryId        198630 non-null object
id                    198630 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 16.7+ MB

In [143]:
# leave previously disconnected 5 MAZs disconnected

maz_bike_cc_gdf = maz_bike_cc_gdf[~maz_bike_cc_gdf.B.isin([10186, 16084, 111432, 111433, 411178])]
maz_walk_cc_gdf = maz_walk_cc_gdf[~maz_walk_cc_gdf.B.isin([10186, 16084, 111432, 111433, 411178])]

In [257]:
keep_maz_drive_cc_gdf[keep_maz_drive_cc_gdf.A.isin([10186, 16084, 111432, 111433, 411178])]

Empty GeoDataFrame
Columns: [u, shst_node_id, A, geometry_ld, B, geometry_c, geometry, fromIntersectionId, shstGeometryId, id]
Index: []

In [150]:
maz_drive_centroid_gdf[maz_drive_centroid_gdf.model_node_id.isin([10186, 16084, 111432, 111433, 411178])]

Empty GeoDataFrame
Columns: [model_node_id, geometry]
Index: []

In [258]:
maz_cc_link_df, maz_cc_shape_gdf = consolidate_cc(link_gdf,
                                             maz_drive_centroid_gdf,
                                             node_gdf,
                                             keep_maz_drive_cc_gdf, 
                                             maz_walk_cc_gdf, 
                                             maz_bike_cc_gdf, 
                                             )

In [259]:
maz_cc_link_df.info()
maz_cc_shape_gdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522736 entries, 0 to 522735
Data columns (total 11 columns):
A                     522736 non-null int64
B                     522736 non-null int64
drive_access          188030 non-null float64
walk_access           502000 non-null float64
bike_access           498004 non-null float64
shstGeometryId        522736 non-null object
id                    522736 non-null object
u                     261368 non-null float64
v                     261368 non-null float64
fromIntersectionId    261368 non-null object
toIntersectionId      261368 non-null object
dtypes: float64(5), int64(2), object(4)
memory usage: 43.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 261368 entries, 0 to 261367
Data columns (total 4 columns):
id                    261368 non-null object
geometry              261368 non-null object
fromIntersectionId    261368 non-null object
toIntersectionId      0 non-null object
dtypes: object(4)
memory usage: 10.0+ MB

In [260]:
maz_cc_shape_gdf["id"] = "maz_" + maz_cc_shape_gdf["id"]
maz_cc_shape_gdf["shstGeometryId"] = maz_cc_shape_gdf["id"]
maz_cc_link_df["id"] = "maz_" + maz_cc_link_df["id"]
maz_cc_link_df["shstGeometryId"] = maz_cc_link_df["id"]
maz_cc_link_df["roadway"] = "maz"

In [261]:
taz_cc_shape_gdf["id"] = "taz_" + taz_cc_shape_gdf["id"]
taz_cc_shape_gdf["shstGeometryId"] = taz_cc_shape_gdf["id"]
taz_cc_link_df["id"] = "taz_" + taz_cc_link_df["id"]
taz_cc_link_df["shstGeometryId"] = taz_cc_link_df["id"]
taz_cc_link_df["roadway"] = "taz"

In [262]:
taz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId
0,taz_cc385,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,taz_cc385
1,taz_cc1674,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN,taz_cc1674
2,taz_cc1119,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN,taz_cc1119
3,taz_cc724,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc724
4,taz_cc728,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc728
5,taz_cc896,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc896
6,taz_cc1793,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc1793
7,taz_cc15969,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc15969
8,taz_cc15973,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc15973
9,taz_cc756,"LINESTRING (-122.4718527 37.7750086, -122.4771...",d09865d714d5596d27ff65a8dad207b0,NaN,taz_cc756
10,taz_cc869,"LINESTRING (-122.4684246 37.743375, -122.46832...",4b512973980ecd5150717d303264f7f6,NaN,taz_cc869
11,taz_cc951,"LINESTRING (-122.4684246 37.743375, -122.47312...",4b512973980ecd5150717d303264f7f6,NaN,taz_cc951
12,taz_cc1451,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN,taz_cc1451
13,taz_cc1510,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz_cc1510
14,taz_cc1816,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN,taz_cc1816
15,taz_cc990,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN,taz_cc990
16,taz_cc1053,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN,taz_cc1053
17,taz_cc1794,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN,taz_cc1794
18,taz_cc830,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN,taz_cc830
19,taz_cc300,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz_cc300
20,taz_cc15963,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz_cc15963
21,taz_cc43,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN,taz_cc43
22,taz_cc705,"LINESTRING (-122.4099619 37.7120143, -122.4089...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz_cc705
23,taz_cc925,"LINESTRING (-122.4099619 37.7120143, -122.4085...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz_cc925
24,taz_cc12,"LINESTRING (-122.4277074 37.76566380000001, -1...",5f1ac5d8ed8723c7260d0e5d3c857669,NaN,taz_cc12
25,taz_cc1497,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN,taz_cc1497
26,taz_cc949,"LINESTRING (-122.382962 37.734603, -122.380264...",fff6c414ff773abbfba25d2033da60ee,NaN,taz_cc949
27,taz_cc16110,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz_cc16110
28,taz_cc292,"LINESTRING (-122.4070857 37.7612949, -122.4063...",abcaae09adc864aeb2ac5bf745f08848,NaN,taz_cc292
29,taz_cc1790,"LINESTRING (-122.4070857 37.7612949, -122.4077...",abcaae09adc864aeb2ac5bf745f08848,NaN,taz_cc1790
...,...,...,...,...,...
16422,taz_cc15555,"LINESTRING (-122.5353443 38.0684034, -122.4982...",3cd15bbb3f74e9194df3607d145fcae5,NaN,taz_cc15555
16423,taz_cc15666,"LINESTRING (-122.5426985 37.96280300000002, -1...",e4d7994e76175340e89e58c5840a04ab,NaN,taz_cc15666
16424,taz_cc15395,"LINESTRING (-122.5151414 37.95000509999999, -1...",c36aa00442a7eaa6eb18e9efbf372175,NaN,taz_cc15395
16425,taz_cc15509,"LINESTRING (-122.8861046 38.243115, -122.90882...",bad6ad401e8167dd03f36f23e409d8ee,NaN,taz_cc15509
16426,taz_cc15754,"LINESTRING (-122.5267206 37.9885653, -122.5116...",6ed490a99b96a5c1f2483d9c1258dd9b,NaN,taz_cc15754
16427,taz_cc15864,"LINESTRING (-122.5366037 38.03351439999999, -1...",2f41431aac69b24cc1f130bb3a626741,NaN,taz_cc15864
16428,taz_cc15854,"LINESTRING (-122.5477046 38.0261628, -122.5490...",115eaab63340e31e160ed3d31dd1e057,NaN,taz_cc15854
16429,taz_cc15429,"LINESTRING (-122.5240992 38.10633979999999, -1...",5a3180251c7e9cff009f3b1500808e38,NaN,taz_cc15429
16430,taz_cc15272,"LINESTRING (-122.4983736 37.89551420000001, -1...",938c1c40bc13da63812e22aea9179292,NaN,taz_cc15272
16431,taz_cc15674,"LINESTRING (-122.5413538 37.9575069, -122.5464...",c8202dfb2acc29697324dadbca93d699,NaN,taz_cc15674
16432,taz_cc15790,"LINESTRING (-122.5598332 38.0019892, -122.5563...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN,taz_cc15790
16433,taz_cc15869,"LINESTRING (-122.5598332 38.0019892, -122.5567...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN,taz_cc15869
16434,taz_cc15591,"LINESTRING (-122.5090197 37.9643927, -122.5024...",e3727807754e7cb83475258ee5cd351f,NaN,taz_cc15591
16435,taz_cc15601,"LINESTRING (-122.5090197 37.9643927, -122.5067...",e3727807754e7cb83475258ee5cd351f,NaN,taz_cc15601
16436,taz_cc15360,"LINESTRING (-122.6043363 37.90380509999999, -1...",ff27454b7ee2945cbc408e9526616319,NaN,taz_cc15360
16437,taz_cc15909,"LINESTRING (-122.5172055 37.9367092, -122.5188...",c0cd0baad6c3615fe9fde7452c090293,NaN,taz_cc15909
16438,taz_cc15751,"LINESTRING (-122.568072 37.96808350000001, -12...",ed85cac0b106dea18e50358fc45cef9e,NaN,taz_cc15751
16439,taz_cc15725,"LINESTRING (-122.462678 38.001706, -122.492899...",3bfb8d3e9fe3f63bdca2e04b1ae51d44,NaN,taz_cc15725
16440,taz_cc15852,"LINESTRING (-122.5523545 38.029824, -122.54904...",ca9d2cf6e07b9c0aa3b8cc1f21392045,NaN,taz_cc15852
16441,taz_cc15671,"LINESTRING (-122.5364838 37.95183510000001, -1...",599b3f7bec7f785ab2defd5a6696cc03,NaN,taz_cc15671
16442,taz_cc15708,"LINESTRING (-122.568389 37.978723, -122.573062...",bdd496bd87b110a70f01e4a14b346595,NaN,taz_cc15708
16443,taz_cc15556,"LINESTRING (-122.5177867 38.0253742, -122.5104...",5ec18c6eb3b7f1407d0f43dcd0a77ec4,NaN,taz_cc15556
16444,taz_cc15819,"LINESTRING (-122.6030441 38.1809834, -122.6285...",fb03062d856b596244443acb64cb979a,NaN,taz_cc15819
16445,taz_cc15364,"LINESTRING (-122.5379082 38.0029385, -122.5352...",14965915f21991aa34f40aabcff54712,NaN,taz_cc15364
16446,taz_cc15436,"LINESTRING (-122.61559 38.1004183, -122.615092...",bdc4168ac410b3d1c594d35e28b8750b,NaN,taz_cc15436
16447,taz_cc15698,"LINESTRING (-122.5362093 37.93824720000001, -1...",5cff5bb93dd1776e7dd205478b6f784e,NaN,taz_cc15698
16448,taz_cc15706,"LINESTRING (-122.5799641 37.9853605, -122.5730...",9f66a2aa8f542783fb729bad326183d1,NaN,taz_cc15706
16449,taz_cc15402,"LINESTRING (-122.4834539 37.85083709999999, -1...",f009509c6aaeea4f5c819b25957a416d,NaN,taz_cc15402
16450,taz_cc15471,"LINESTRING (-122.5699857 38.11292519999999, -1...",fa2bd8155f1de9fcf0032c0e1401d5a9,NaN,taz_cc15471
16451,taz_cc15333,"LINESTRING (-122.569916 37.912396, -122.561742...",f1b7e52e13eb3b57c655e3e6ee467ad2,NaN,taz_cc15333

In [263]:
maz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId
0,maz_cc98409,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc98409
1,maz_cc99275,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc99275
2,maz_cc106594,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc106594
3,maz_cc96987,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,maz_cc96987
4,maz_cc100110,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,maz_cc100110
5,maz_cc95690,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc95690
6,maz_cc97912,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc97912
7,maz_cc67751,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc67751
8,maz_cc95408,"LINESTRING (-122.3999294 37.72571270000001, -1...",798cae7a1d2ac00f3460b6f1452ee01d,NaN,maz_cc95408
9,maz_cc94509,"LINESTRING (-122.4718894 37.75600090000002, -1...",2ceb892d1ee28b7a727941abe880a46f,NaN,maz_cc94509
10,maz_cc104758,"LINESTRING (-122.4225309 37.74794210000001, -1...",da5017cf77a0ef3513b0a1dbfe6d0534,NaN,maz_cc104758
11,maz_cc2921,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,maz_cc2921
12,maz_cc3654,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,maz_cc3654
13,maz_cc3926,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,maz_cc3926
14,maz_cc181,"LINESTRING (-122.4072972 37.7820986, -122.4087...",372e280074d00e16ebdcfa6cc52f8845,NaN,maz_cc181
15,maz_cc1358,"LINESTRING (-122.4072972 37.7820986, -122.4072...",372e280074d00e16ebdcfa6cc52f8845,NaN,maz_cc1358
16,maz_cc96950,"LINESTRING (-122.4205732 37.73720700000001, -1...",e6acf71b380ae3f38d711543b6da7933,NaN,maz_cc96950
17,maz_cc2290,"LINESTRING (-122.4704854 37.7325705, -122.4710...",050c27d844a667c66eda78be20b484c4,NaN,maz_cc2290
18,maz_cc69759,"LINESTRING (-122.4737141 37.77679440000001, -1...",687bce88c4bbcfb8bf6a7839e333b611,NaN,maz_cc69759
19,maz_cc69815,"LINESTRING (-122.4737141 37.77679440000001, -1...",687bce88c4bbcfb8bf6a7839e333b611,NaN,maz_cc69815
20,maz_cc69672,"LINESTRING (-122.4178959 37.7384283, -122.4182...",bf84502e995a4ef9d27b4495c35a4584,NaN,maz_cc69672
21,maz_cc101934,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc101934
22,maz_cc104026,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc104026
23,maz_cc104450,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc104450
24,maz_cc107903,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc107903
25,maz_cc95502,"LINESTRING (-122.3923734 37.7856754, -122.3913...",fbcb32431644a8a9ce7c22004734aee5,NaN,maz_cc95502
26,maz_cc105931,"LINESTRING (-122.3923734 37.7856754, -122.3921...",fbcb32431644a8a9ce7c22004734aee5,NaN,maz_cc105931
27,maz_cc3195,"LINESTRING (-122.427484 37.7705796, -122.42774...",353d40605cbeca10c486013810a08663,NaN,maz_cc3195
28,maz_cc4177,"LINESTRING (-122.427484 37.7705796, -122.42746...",353d40605cbeca10c486013810a08663,NaN,maz_cc4177
29,maz_cc70296,"LINESTRING (-122.4374976 37.80158310000001, -1...",29bcb8de1e75a975a6dc2189164f0626,NaN,maz_cc70296
...,...,...,...,...,...
261338,maz_cc249292,"LINESTRING (-122.877464 38.259812, -122.870968...",82779bf5a2410ad03582e4c0af5a058a,NaN,maz_cc249292
261339,maz_cc250284,"LINESTRING (-122.5593918 38.1009182, -122.5599...",cf4994e2f1786e05c102508048e2ee43,NaN,maz_cc250284
261340,maz_cc245009,"LINESTRING (-122.5219302 38.05660439999999, -1...",95a9a77b2cc22986fb54a02c4c470cb9,NaN,maz_cc245009
261341,maz_cc250882,"LINESTRING (-122.5333151 37.93419609999999, -1...",2a662e4e79ce57de0fd654efb3a989bc,NaN,maz_cc250882
261342,maz_cc247602,"LINESTRING (-122.529345 37.945322, -122.529000...",4a3525481bd90d5619debf920ce39de3,NaN,maz_cc247602
261343,maz_cc248424,"LINESTRING (-122.5055449 37.9489767, -122.5058...",8a5740a98d7b9cdf414cf94373dc64ba,NaN,maz_cc248424
261344,maz_cc250197,"LINESTRING (-122.5628328 37.9739166, -122.5630...",0964c2808e31c0993ea2bef0c5ce55e4,NaN,maz_cc250197
261345,maz_cc250423,"LINESTRING (-122.5273565 38.07961260000001, -1...",c2a337f975a7ba3688bffc09bcedb468,NaN,maz_cc250423
261346,maz_cc246460,"LINESTRING (-122.591768 37.9866238, -122.59118...",270008eb0372766a61bc39e2e580ef8d,NaN,maz_cc246460
261347,maz_cc246506,"LINESTRING (-122.5267786 37.9852868, -122.5272...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc246506
261348,maz_cc248216,"LINESTRING (-122.5267786 37.9852868, -122.5263...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc248216
261349,maz_cc249456,"LINESTRING (-122.5131382 37.9048471, -122.5131...",ef287af93022c399901af589f0be66d3,NaN,maz_cc249456
261350,maz_cc249027,"LINESTRING (-122.5256318 37.95144490000001, -1...",0c86f193adf1b238db38143dc6b77410,NaN,maz_cc249027
261351,maz_cc247634,"LINESTRING (-122.5448781 37.9442016, -122.5458...",224ad3832d8b2ebce1b8b373bcfc81a9,NaN,maz_cc247634
261352,maz_cc250815,"LINESTRING (-122.6511097 38.10950980000001, -1...",8e6b814da7d9646170d1db0d8d6c498c,NaN,maz_cc250815
261353,maz_cc245836,"LINESTRING (-122.5483253 37.90679859999999, -1...",a3d3c4c9fe8e774baf8280519c3aab81,NaN,maz_cc245836
261354,maz_cc248202,"LINESTRING (-122.524952 37.973314, -122.524867...",bc3b90103d7c56d71b1d200407e68c01,NaN,maz_cc248202
261355,maz_cc247688,"LINESTRING (-122.5247643 38.0008318, -122.5247...",90391578d2ee1791a9448b347eabfda8,NaN,maz_cc247688
261356,maz_cc247741,"LINESTRING (-122.577554 37.98585199999999, -12...",052cba7f644042a8cdf7586a40fd1c59,NaN,maz_cc247741
261357,maz_cc246837,"LINESTRING (-122.5233627 37.9497102, -122.5225...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc246837
261358,maz_cc247560,"LINESTRING (-122.5233627 37.9497102, -122.5220...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc247560
261359,maz_cc248682,"LINESTRING (-122.5388123 37.9904987, -122.5374...",b7458570f597d4258706da0a0e935a30,NaN,maz_cc248682
261360,maz_cc246175,"LINESTRING (-122.4814345 37.89680300000001, -1...",643b4f423f0682f6fb1f9dc316c73c92,NaN,maz_cc246175
261361,maz_cc245219,"LINESTRING (-122.5382195 37.90647139999999, -1...",64e775a2aa81f99a692c0e14d24d0877,NaN,maz_cc245219
261362,maz_cc248072,"LINESTRING (-122.5251204 37.9622695, -122.5261...",3b4cf2174e85e420942ac8a72821137b,NaN,maz_cc248072
261363,maz_cc250564,"LINESTRING (-122.5339937 37.97254539999999, -1...",76a5f9c2d6475f92407e74851390afcd,NaN,maz_cc250564
261364,maz_cc248092,"LINESTRING (-122.505786 38.014422, -122.507917...",fe0248568538ee4788947378fe2103ee,NaN,maz_cc248092
261365,maz_cc247287,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc247287
261366,maz_cc247559,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc247559
261367,maz_cc248423,"LINESTRING (-122.5057648 37.9487303, -122.5058...",44c53879b5a9797cbb2eff72b5f64699,NaN,maz_cc248423

# number centroid connectors

In [264]:
all_cc_shape_gdf = pd.concat(
    [taz_cc_shape_gdf, maz_cc_shape_gdf],
    sort = False,
    ignore_index = True
)

In [265]:
all_cc_shape_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 277820 entries, 0 to 277819
Data columns (total 5 columns):
id                    277820 non-null object
geometry              277820 non-null object
fromIntersectionId    277820 non-null object
toIntersectionId      0 non-null object
shstGeometryId        277820 non-null object
dtypes: object(5)
memory usage: 10.6+ MB

In [266]:
node_gdf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [267]:
all_cc_shape_gdf = pd.merge(
    all_cc_shape_gdf,
    node_gdf[["shst_node_id", "county"]].rename(columns = {"shst_node_id" : "fromIntersectionId"}),
    how = "left",
    on = "fromIntersectionId"
)

In [268]:
all_cc_shape_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 277820 entries, 0 to 277819
Data columns (total 6 columns):
id                    277820 non-null object
geometry              277820 non-null object
fromIntersectionId    277820 non-null object
toIntersectionId      0 non-null object
shstGeometryId        277820 non-null object
county                277820 non-null object
dtypes: object(6)
memory usage: 14.8+ MB

In [269]:
all_cc_shape_gdf.county.value_counts()

Santa Clara      66659
Alameda          58522
Contra Costa     41190
San Mateo        29393
San Francisco    26538
Sonoma           20190
Solano           19019
Marin            10019
Napa              6290
Name: county, dtype: int64

In [270]:
all_cc_shape_gdf = gpd.GeoDataFrame(all_cc_shape_gdf, geometry = all_cc_shape_gdf.geometry, crs = shape_gdf.crs)

all_cc_shape_gdf = gpd.GeoDataFrame(all_cc_shape_gdf, 
                                             geometry = all_cc_shape_gdf.geometry, 
                                             crs = shape_gdf.crs)

all_cc_shape_gdf = all_cc_shape_gdf.to_crs({'init' : 'epsg:26915'})

all_cc_shape_gdf['X'] = all_cc_shape_gdf['geometry'].apply(lambda p: p.centroid.x)
all_cc_shape_gdf['Y'] = all_cc_shape_gdf['geometry'].apply(lambda p: p.centroid.y)

all_cc_shape_county_gdf = pd.DataFrame()

node_county_matched_gdf = node_gdf.copy()

node_county_matched_gdf = node_county_matched_gdf.to_crs({'init' : 'epsg:26915'})

node_county_matched_gdf['X'] = node_county_matched_gdf.geometry.map(lambda g:g.x)
node_county_matched_gdf['Y'] = node_county_matched_gdf.geometry.map(lambda g:g.y)

node_matched_inventory_ref = node_county_matched_gdf[['X', 'Y']].values
node_matched_tree = cKDTree(node_matched_inventory_ref)

for i in range(len(all_cc_shape_gdf)):
    point = all_cc_shape_gdf.iloc[i][['X', 'Y']].values
    dd, ii = node_matched_tree.query(point, k = 1)
    add_snap_gdf = gpd.GeoDataFrame(node_county_matched_gdf.iloc[ii][["county"]]).transpose().reset_index(drop = True)
    
    add_snap_gdf = pd.concat([add_snap_gdf,
                              all_cc_shape_gdf.iloc[[i]].reset_index(drop = True)], 
                               axis = 1) 
    
    if i == 0:
        all_cc_shape_county_gdf = add_snap_gdf.copy()
    else:
        all_cc_shape_county_gdf = all_cc_shape_county_gdf.append(add_snap_gdf, ignore_index=True, sort=False)

In [271]:
all_cc_link_df = pd.concat(
    [taz_cc_link_df, maz_cc_link_df],
    sort = False,
    ignore_index = True
)

all_cc_link_df = pd.merge(
    all_cc_link_df,
    all_cc_shape_gdf[["id", "county"]],
    how = "left",
    on = ["id"]
)

all_cc_link_df["drive_access"].fillna(0, inplace = True)
all_cc_link_df["bike_access"].fillna(0, inplace = True)
all_cc_link_df["walk_access"].fillna(0, inplace = True)

all_cc_link_df["drive_access"] = all_cc_link_df["drive_access"].astype(int)
all_cc_link_df["bike_access"] = all_cc_link_df["bike_access"].astype(int)
all_cc_link_df["walk_access"] = all_cc_link_df["walk_access"].astype(int)

all_cc_link_df["rail_only"] = 0

In [272]:
#get the last node and link number of counties

county_last_link_id_df = link_df.groupby("county")["model_link_id"].max().reset_index().rename(
    columns = {"model_link_id" : "county_last_id"})

all_cc_link_df = pd.merge(
    all_cc_link_df,
    county_last_link_id_df,
    how = "left",
    on = "county"
)

all_cc_link_df["model_link_id"] = all_cc_link_df.groupby(["county"]).cumcount() + 1

all_cc_link_df["model_link_id"] = all_cc_link_df["model_link_id"] + all_cc_link_df["county_last_id"]

In [273]:
maz_walk_centroid_gdf.model_node_id.nunique()

39726

In [274]:
all_centroid_node_gdf = pd.concat(
    [taz_drive_centroid_gdf, maz_walk_centroid_gdf],
    sort = False,
    ignore_index = True
)

all_centroid_node_gdf["drive_access"] = 1
all_centroid_node_gdf['walk_access'] = 1
all_centroid_node_gdf['bike_access'] = 1
all_centroid_node_gdf['rail_only'] = 0

In [275]:
all_centroid_node_gdf.model_node_id.nunique()

44482

In [276]:
all_centroid_node_gdf

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
0,1,POINT (-122.4235552308525 37.7704613164878),1,1,1,0
1,2,POINT (-122.4185110411505 37.76430798097193),1,1,1,0
2,3,POINT (-122.424376790239 37.76776767513344),1,1,1,0
3,4,POINT (-122.3723843332867 37.82546378616041),1,1,1,0
4,5,POINT (-122.4275951118974 37.7665410065728),1,1,1,0
5,6,POINT (-122.4277080093626 37.76375177913884),1,1,1,0
6,7,POINT (-122.4303984149702 37.76540237440019),1,1,1,0
7,8,POINT (-122.4361556003588 37.76163121820408),1,1,1,0
8,9,POINT (-122.4359169177398 37.75922606474905),1,1,1,0
9,10,POINT (-122.4379402255995 37.75731763424209),1,1,1,0
10,11,POINT (-122.4314442484819 37.75868812300048),1,1,1,0
11,12,POINT (-122.4307091133345 37.75712645065256),1,1,1,0
12,13,POINT (-122.428207414309 37.76049451879438),1,1,1,0
13,14,POINT (-122.4327899176175 37.761021910591),1,1,1,0
14,15,POINT (-122.4232470317898 37.75596930386856),1,1,1,0
15,16,POINT (-122.4234847246762 37.75836629291989),1,1,1,0
16,17,POINT (-122.4237895227873 37.76156923529216),1,1,1,0
17,18,POINT (-122.4186178223739 37.7568947252961),1,1,1,0
18,19,POINT (-122.4191491013098 37.7594315020176),1,1,1,0
19,20,POINT (-122.4194537355783 37.76263444915544),1,1,1,0
20,21,POINT (-122.4193032388286 37.7610342633018),1,1,1,0
21,22,POINT (-122.4192801642239 37.74938119669062),1,1,1,0
22,23,POINT (-122.4170789411079 37.74946277370936),1,1,1,0
23,24,POINT (-122.4196272902942 37.75296892939169),1,1,1,0
24,25,POINT (-122.4174300493116 37.75310517616349),1,1,1,0
25,26,POINT (-122.4215180236158 37.74928140172249),1,1,1,0
26,27,POINT (-122.3963198784259 37.78605400634832),1,1,1,0
27,28,POINT (-122.4088300324461 37.79806708460118),1,1,1,0
28,29,POINT (-122.4140082900854 37.7909400043616),1,1,1,0
29,30,POINT (-122.4111632518842 37.79130124252373),1,1,1,0
...,...,...,...,...,...,...
44452,814414,POINT (-122.697742378115 38.04342135507741),1,1,1,0
44453,814417,POINT (-122.5206899448432 37.95249863563995),1,1,1,0
44454,814419,POINT (-122.5340670135641 37.93422253885898),1,1,1,0
44455,814420,POINT (-122.5306195194855 37.92841472382157),1,1,1,0
44456,814427,POINT (-122.5444177720706 37.98247401099974),1,1,1,0
44457,814428,POINT (-122.5367283181702 37.98512572568904),1,1,1,0
44458,814429,POINT (-122.5490438161254 38.00297916074399),1,1,1,0
44459,814436,POINT (-122.4901040825463 37.95038320501382),1,1,1,0
44460,814437,POINT (-122.5695901438257 37.98699819805161),1,1,1,0
44461,814444,POINT (-122.5299705016758 37.95149368331092),1,1,1,0
44462,814450,POINT (-122.5817226830255 38.09476833244455),1,1,1,0
44463,814452,POINT (-122.5761674169834 38.10982562903089),1,1,1,0
44464,814454,POINT (-122.5738365846948 38.10933984052138),1,1,1,0
44465,814457,POINT (-122.5757047767126 38.08128639352656),1,1,1,0
44466,814458,POINT (-122.5672949915898 38.11194540998151),1,1,1,0
44467,814461,POINT (-122.611853434445 38.0997653246743),1,1,1,0
44468,814462,POINT (-122.6005019695097 38.09662267714659),1,1,1,0
44469,814463,POINT (-122.6060388345963 38.11216354290432),1,1,1,0
44470,814465,POINT (-122.50905530198 37.8643155221216),1,1,1,0
44471,814468,POINT (-122.4991401802864 37.86713179792282),1,1,1,0
44472,814473,POINT (-122.5495960069928 37.86926677603184),1,1,1,0
44473,814474,POINT (-122.5394879509173 37.84026036804138),1,1,1,0
44474,814475,POINT (-122.5100005767214 37.83772827472032),1,1,1,0
44475,814476,POINT (-122.5657090377897 38.08418676235792),1,1,1,0
44476,814478,POINT (-122.5400156530203 38.07559011211026),1,1,1,0
44477,814481,POINT (-122.5432184738051 38.06313552651746),1,1,1,0
44478,814495,POINT (-122.5531544596074 38.07583122276782),1,1,1,0
44479,814497,POINT (-122.6098511643682 38.10303671509052),1,1,1,0
44480,814500,POINT (-122.5093023721954 37.89107243967375),1,1,1,0
44481,814506,POINT (-122.5494483181225 37.91180605322663),1,1,1,0

In [277]:
all_centroid_node_gdf.model_node_id.nunique()

44482

In [278]:
node_gdf.columns

Index(['osm_node_id', 'shst_node_id', 'county', 'drive_access', 'walk_access',
       'bike_access', 'model_node_id', 'rail_only', 'geometry'],
      dtype='object')

In [279]:
all_cc_link_df

,A,B,drive_access,walk_access,bike_access,shstGeometryId,id,u,v,fromIntersectionId,toIntersectionId,roadway,county,rail_only,county_last_id,model_link_id
0,1000009,124,1,0,0,taz_cc385,taz_cc385,65305990.000,nan,d86f4ace331185501ff11866cb3349df,NaN,taz,San Francisco,0,74758,74759
1,1000010,568,1,0,0,taz_cc1674,taz_cc1674,5429618398.000,nan,372e280074d00e16ebdcfa6cc52f8845,NaN,taz,San Francisco,0,74758,74760
2,1000030,383,1,0,0,taz_cc1119,taz_cc1119,5437461596.000,nan,353d40605cbeca10c486013810a08663,NaN,taz,San Francisco,0,74758,74761
3,1000034,246,1,0,0,taz_cc724,taz_cc724,65297066.000,nan,2ec8823d76afe6b954f92385f1686f97,NaN,taz,San Francisco,0,74758,74762
4,1000034,247,1,0,0,taz_cc728,taz_cc728,65297066.000,nan,2ec8823d76afe6b954f92385f1686f97,NaN,taz,San Francisco,0,74758,74763
5,1000062,307,1,0,0,taz_cc896,taz_cc896,4941620902.000,nan,e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz,San Francisco,0,74758,74764
6,1000062,609,1,0,0,taz_cc1793,taz_cc1793,4941620902.000,nan,e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz,San Francisco,0,74758,74765
7,1000070,144,1,0,0,taz_cc15969,taz_cc15969,65294048.000,nan,32875292f4e712803355ef4f9962bddd,NaN,taz,San Francisco,0,74758,74766
8,1000070,145,1,0,0,taz_cc15973,taz_cc15973,65294048.000,nan,32875292f4e712803355ef4f9962bddd,NaN,taz,San Francisco,0,74758,74767
9,1000097,259,1,0,0,taz_cc756,taz_cc756,258756008.000,nan,d09865d714d5596d27ff65a8dad207b0,NaN,taz,San Francisco,0,74758,74768
10,1000109,297,1,0,0,taz_cc869,taz_cc869,3633164850.000,nan,4b512973980ecd5150717d303264f7f6,NaN,taz,San Francisco,0,74758,74769
11,1000109,329,1,0,0,taz_cc951,taz_cc951,3633164850.000,nan,4b512973980ecd5150717d303264f7f6,NaN,taz,San Francisco,0,74758,74770
12,1000115,494,1,0,0,taz_cc1451,taz_cc1451,5440543649.000,nan,f5f698744a695f4a5ad241e18f72af32,NaN,taz,San Francisco,0,74758,74771
13,1000117,513,1,0,0,taz_cc1510,taz_cc1510,65348340.000,nan,bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz,San Francisco,0,74758,74772
14,1000120,619,1,0,0,taz_cc1816,taz_cc1816,65292520.000,nan,64e44320c4e0d6e97a42e9388676ad71,NaN,taz,San Francisco,0,74758,74773
15,1000129,341,1,0,0,taz_cc990,taz_cc990,4061762661.000,nan,d287bf51e84ce38ff544802a7134161c,NaN,taz,San Francisco,0,74758,74774
16,1000129,360,1,0,0,taz_cc1053,taz_cc1053,4061762661.000,nan,d287bf51e84ce38ff544802a7134161c,NaN,taz,San Francisco,0,74758,74775
17,1000153,610,1,0,0,taz_cc1794,taz_cc1794,65283638.000,nan,82c41aadd14f4b971c31a080932126b5,NaN,taz,San Francisco,0,74758,74776
18,1000158,285,1,0,0,taz_cc830,taz_cc830,5433624491.000,nan,b734856442a687365125728d25a3c6c1,NaN,taz,San Francisco,0,74758,74777
19,1000181,96,1,0,0,taz_cc300,taz_cc300,4183593262.000,nan,abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz,San Francisco,0,74758,74778
20,1000182,140,1,0,0,taz_cc15963,taz_cc15963,65299663.000,nan,0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz,San Francisco,0,74758,74779
21,1000184,15,1,0,0,taz_cc43,taz_cc43,65302745.000,nan,36011dff4dcab46be83f5e475705c6a2,NaN,taz,San Francisco,0,74758,74780
22,1000228,239,1,0,0,taz_cc705,taz_cc705,5440481547.000,nan,2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz,San Francisco,0,74758,74781
23,1000228,319,1,0,0,taz_cc925,taz_cc925,5440481547.000,nan,2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz,San Francisco,0,74758,74782
24,1000243,5,1,0,0,taz_cc12,taz_cc12,65293874.000,nan,5f1ac5d8ed8723c7260d0e5d3c857669,NaN,taz,San Francisco,0,74758,74783
25,1000250,510,1,0,0,taz_cc1497,taz_cc1497,5433307375.000,nan,b2afb251dcbb9a3f88f733dab605c337,NaN,taz,San Francisco,0,74758,74784
26,1000280,327,1,0,0,taz_cc949,taz_cc949,65305636.000,nan,fff6c414ff773abbfba25d2033da60ee,NaN,taz,San Francisco,0,74758,74785
27,1000286,435,1,0,0,taz_cc16110,taz_cc16110,65322710.000,nan,91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz,San Francisco,0,74758,74786
28,1000292,94,1,0,0,taz_cc292,taz_cc292,5443111086.000,nan,abcaae09adc864aeb2ac5bf745f08848,NaN,taz,San Francisco,0,74758,74787
29,1000292,608,1,0,0,taz_cc1790,taz_cc1790,5443111086.000,nan,abcaae09adc864aeb2ac5bf745f08848,NaN,taz,San Francisco,0,74758,74788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555610,813199,5026420,0,1,1,maz_cc249292,maz_cc249292,nan,110350074.000,NaN,82779bf5a2410ad03582e4c0af5a058a,maz,Marin,0,8063197,8083206
555611,813927,5026426,0,1,1,maz_cc250284,maz_cc250284,nan,2505136512.000,NaN,cf4994e2f1786e05c102508048e2ee43,maz,Marin,0,8063197,8083207
555612,810002,5026435,0,1,1,maz_cc245009,maz_cc245009,nan,110459997.000,NaN,95a9a77b2cc22986fb54a02c4c470cb9,maz,Marin,0,8063197,8083208
555613,814419,5026439,0,1,1,maz_cc250882,maz_cc250882,nan,4932162139.000,NaN,2a662e4e79ce57de0fd654efb3a989bc,maz,Marin,0,8063197,8083209
555614,811927,5026440,0,1,1,maz_cc247602,maz_cc247602,nan,4929933579.000,NaN,4a3525481bd90d5619debf920ce39de3,maz,Marin,0,8063197,8083210
555615,812479,5026446,0,1,1,maz_cc248424,maz_cc248424,nan,5489364254.000,NaN,8a5740a98d7b9cdf414cf94373dc64ba,maz,Marin,0,8063197,8083211
555616,813868,5026447,0,1,1,maz_cc250197,maz_cc250197,nan,4930591001.000,NaN,0964c2808e31c0993ea2bef0c5ce55e4,maz,Marin,0,8063197,8083212
555617,814061,5026454,0,1,0,maz_cc250423,maz_cc250423,nan,3952867051.000,NaN,c2a337f975a7ba3688bffc09bcedb468,maz,Marin,0,8063197,8083213
555618,811055,5026461,0,1,1,maz_cc246460,maz_cc246460,nan,110432902.000,NaN,270008eb0372766a61bc39e2e580ef8d,maz,Marin,0,8063197,8083214
555619,811088,5026462,0,1,1,maz_cc246506,maz_cc246506,nan,5481501756.000,NaN,6274240f7a4d38169d58ff41334d9e31,maz,Marin,0,8063197,8083215
555620,812341,5026462,0,1,1,maz_cc248216,maz_cc248216,nan,5481501756.000,NaN,6274240f7a4d38169d58ff41334d9e31,maz,Marin,0,8063197,8083216
555621,813309,5026463,0,1,1,maz_cc249456,maz_cc249456,nan,5494806564.000,NaN,ef287af93022c399901af589f0be66d3,maz,Marin,0,8063197,8083217
555622,812966,5026472,0,1,1,maz_cc249027,maz_cc249027,nan,110411564.000,NaN,0c86f193adf1b238db38143dc6b77410,maz,Marin,0,8063197,8083218
555623,811967,5026477,0,1,1,maz_cc247634,maz_cc247634,nan,1055317946.000,NaN,224ad3832d8b2ebce1b8b373bcfc81a9,maz,Marin,0,8063197,8083219
555624,814346,5026480,0,1,1,maz_cc250815,maz_cc250815,nan,4930632777.000,NaN,8e6b814da7d9646170d1db0d8d6c498c,maz,Marin,0,8063197,8083220
555625,810594,5026481,0,1,1,maz_cc245836,maz_cc245836,nan,5948081765.000,NaN,a3d3c4c9fe8e774baf8280519c3aab81,maz,Marin,0,8063197,8083221
555626,812335,5026483,0,1,1,maz_cc248202,maz_cc248202,nan,5481501554.000,NaN,bc3b90103d7c56d71b1d200407e68c01,maz,Marin,0,8063197,8083222
555627,811990,5026484,0,1,1,maz_cc247688,maz_cc247688,nan,4932109262.000,NaN,90391578d2ee1791a9448b347eabfda8,maz,Marin,0,8063197,8083223
555628,812038,5026486,0,1,1,maz_cc247741,maz_cc247741,nan,110463417.000,NaN,052cba7f644042a8cdf7586a40fd1c59,maz,Marin,0,8063197,8083224
555629,811318,5026490,0,1,1,maz_cc246837,maz_cc246837,nan,6133986947.000,NaN,6dc3482f11128a440d96a4fa75c0d9ad,maz,Marin,0,8063197,8083225
555630,811895,5026490,0,1,1,maz_cc247560,maz_cc247560,nan,6133986947.000,NaN,6dc3482f11128a440d96a4fa75c0d9ad,maz,Marin,0,8063197,8083226
555631,812661,5026499,0,1,1,maz_cc248682,maz_cc248682,nan,4932156642.000,NaN,b7458570f597d4258706da0a0e935a30,maz,Marin,0,8063197,8083227
555632,810847,5026509,0,1,1,maz_cc246175,maz_cc246175,nan,110386184.000,NaN,643b4f423f0682f6fb1f9dc316c73c92,maz,Marin,0,8063197,8083228
555633,810129,5026510,0,1,1,maz_cc245219,maz_cc245219,nan,5490121736.000,NaN,64e775a2aa81f99a692c0e14d24d0877,maz,Marin,0,8063197,8083229
555634,812262,5026511,0,1,1,maz_cc248072,maz_cc248072,nan,110448372.000,NaN,3b4cf2174e85e420942ac8a72821137b,maz,Marin,0,8063197,8083230
555635,814151,5026514,0,1,1,maz_cc250564,maz_cc250564,nan,4930521201.000,NaN,76a5f9c2d6475f92407e74851390afcd,maz,Marin,0,8063197,8083231
555636,812275,5026519,0,1,1,maz_cc248092,maz_cc248092,nan,110427796.000,NaN,fe0248568538ee4788947378fe2103ee,maz,Marin,0,8063197,8083232
555637,811662,5026522,0,1,1,maz_cc247287,maz_cc247287,nan,1046759315.000,NaN,a53800167102307969b5b6b68cfcf79a,maz,Marin,0,8063197,8083233
555638,811895,5026522,0,1,1,maz_cc247559,maz_cc247559,nan,1046759315.000,NaN,a53800167102307969b5b6b68cfcf79a,maz,Marin,0,8063197,8083234
555639,812479,5026526,0,1,1,maz_cc248423,maz_cc248423,nan,5489364249.000,NaN,44c53879b5a9797cbb2eff72b5f64699,maz,Marin,0,8063197,8083235

In [280]:
all_cc_link_df.columns

Index(['A', 'B', 'drive_access', 'walk_access', 'bike_access',
       'shstGeometryId', 'id', 'u', 'v', 'fromIntersectionId',
       'toIntersectionId', 'roadway', 'county', 'rail_only', 'county_last_id',
       'model_link_id'],
      dtype='object')

In [281]:
all_cc_link_df.id.nunique()

277820

In [282]:
all_cc_link_df.model_link_id.nunique()

555640

In [283]:
all_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId,county
0,taz_cc385,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,taz_cc385,San Francisco
1,taz_cc1674,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN,taz_cc1674,San Francisco
2,taz_cc1119,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN,taz_cc1119,San Francisco
3,taz_cc724,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc724,San Francisco
4,taz_cc728,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc728,San Francisco
5,taz_cc896,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc896,San Francisco
6,taz_cc1793,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc1793,San Francisco
7,taz_cc15969,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc15969,San Francisco
8,taz_cc15973,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc15973,San Francisco
9,taz_cc756,"LINESTRING (-122.4718527 37.7750086, -122.4771...",d09865d714d5596d27ff65a8dad207b0,NaN,taz_cc756,San Francisco
10,taz_cc869,"LINESTRING (-122.4684246 37.743375, -122.46832...",4b512973980ecd5150717d303264f7f6,NaN,taz_cc869,San Francisco
11,taz_cc951,"LINESTRING (-122.4684246 37.743375, -122.47312...",4b512973980ecd5150717d303264f7f6,NaN,taz_cc951,San Francisco
12,taz_cc1451,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN,taz_cc1451,San Francisco
13,taz_cc1510,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz_cc1510,San Francisco
14,taz_cc1816,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN,taz_cc1816,San Francisco
15,taz_cc990,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN,taz_cc990,San Francisco
16,taz_cc1053,"LINESTRING (-122.416362 37.77754510000001, -12...",d287bf51e84ce38ff544802a7134161c,NaN,taz_cc1053,San Francisco
17,taz_cc1794,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN,taz_cc1794,San Francisco
18,taz_cc830,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN,taz_cc830,San Francisco
19,taz_cc300,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz_cc300,San Francisco
20,taz_cc15963,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz_cc15963,San Francisco
21,taz_cc43,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN,taz_cc43,San Francisco
22,taz_cc705,"LINESTRING (-122.4099619 37.7120143, -122.4089...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz_cc705,San Francisco
23,taz_cc925,"LINESTRING (-122.4099619 37.7120143, -122.4085...",2cbd7f2b521bc3c7de6d1ccafe432965,NaN,taz_cc925,San Francisco
24,taz_cc12,"LINESTRING (-122.4277074 37.76566380000001, -1...",5f1ac5d8ed8723c7260d0e5d3c857669,NaN,taz_cc12,San Francisco
25,taz_cc1497,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN,taz_cc1497,San Francisco
26,taz_cc949,"LINESTRING (-122.382962 37.734603, -122.380264...",fff6c414ff773abbfba25d2033da60ee,NaN,taz_cc949,San Francisco
27,taz_cc16110,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz_cc16110,San Francisco
28,taz_cc292,"LINESTRING (-122.4070857 37.7612949, -122.4063...",abcaae09adc864aeb2ac5bf745f08848,NaN,taz_cc292,San Francisco
29,taz_cc1790,"LINESTRING (-122.4070857 37.7612949, -122.4077...",abcaae09adc864aeb2ac5bf745f08848,NaN,taz_cc1790,San Francisco
...,...,...,...,...,...,...
277790,maz_cc249292,"LINESTRING (-122.877464 38.259812, -122.870968...",82779bf5a2410ad03582e4c0af5a058a,NaN,maz_cc249292,Marin
277791,maz_cc250284,"LINESTRING (-122.5593918 38.1009182, -122.5599...",cf4994e2f1786e05c102508048e2ee43,NaN,maz_cc250284,Marin
277792,maz_cc245009,"LINESTRING (-122.5219302 38.05660439999999, -1...",95a9a77b2cc22986fb54a02c4c470cb9,NaN,maz_cc245009,Marin
277793,maz_cc250882,"LINESTRING (-122.5333151 37.93419609999999, -1...",2a662e4e79ce57de0fd654efb3a989bc,NaN,maz_cc250882,Marin
277794,maz_cc247602,"LINESTRING (-122.529345 37.945322, -122.529000...",4a3525481bd90d5619debf920ce39de3,NaN,maz_cc247602,Marin
277795,maz_cc248424,"LINESTRING (-122.5055449 37.9489767, -122.5058...",8a5740a98d7b9cdf414cf94373dc64ba,NaN,maz_cc248424,Marin
277796,maz_cc250197,"LINESTRING (-122.5628328 37.9739166, -122.5630...",0964c2808e31c0993ea2bef0c5ce55e4,NaN,maz_cc250197,Marin
277797,maz_cc250423,"LINESTRING (-122.5273565 38.07961260000001, -1...",c2a337f975a7ba3688bffc09bcedb468,NaN,maz_cc250423,Marin
277798,maz_cc246460,"LINESTRING (-122.591768 37.9866238, -122.59118...",270008eb0372766a61bc39e2e580ef8d,NaN,maz_cc246460,Marin
277799,maz_cc246506,"LINESTRING (-122.5267786 37.9852868, -122.5272...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc246506,Marin
277800,maz_cc248216,"LINESTRING (-122.5267786 37.9852868, -122.5263...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc248216,Marin
277801,maz_cc249456,"LINESTRING (-122.5131382 37.9048471, -122.5131...",ef287af93022c399901af589f0be66d3,NaN,maz_cc249456,Marin
277802,maz_cc249027,"LINESTRING (-122.5256318 37.95144490000001, -1...",0c86f193adf1b238db38143dc6b77410,NaN,maz_cc249027,Marin
277803,maz_cc247634,"LINESTRING (-122.5448781 37.9442016, -122.5458...",224ad3832d8b2ebce1b8b373bcfc81a9,NaN,maz_cc247634,Marin
277804,maz_cc250815,"LINESTRING (-122.6511097 38.10950980000001, -1...",8e6b814da7d9646170d1db0d8d6c498c,NaN,maz_cc250815,Marin
277805,maz_cc245836,"LINESTRING (-122.5483253 37.90679859999999, -1...",a3d3c4c9fe8e774baf8280519c3aab81,NaN,maz_cc245836,Marin
277806,maz_cc248202,"LINESTRING (-122.524952 37.973314, -122.524867...",bc3b90103d7c56d71b1d200407e68c01,NaN,maz_cc248202,Marin
277807,maz_cc247688,"LINESTRING (-122.5247643 38.0008318, -122.5247...",90391578d2ee1791a9448b347eabfda8,NaN,maz_cc247688,Marin
277808,maz_cc247741,"LINESTRING (-122.577554 37.98585199999999, -12...",052cba7f644042a8cdf7586a40fd1c59,NaN,maz_cc247741,Marin
277809,maz_cc246837,"LINESTRING (-122.5233627 37.9497102, -122.5225...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc246837,Marin
277810,maz_cc247560,"LINESTRING (-122.5233627 37.9497102, -122.5220...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc247560,Marin
277811,maz_cc248682,"LINESTRING (-122.5388123 37.9904987, -122.5374...",b7458570f597d4258706da0a0e935a30,NaN,maz_cc248682,Marin
277812,maz_cc246175,"LINESTRING (-122.4814345 37.89680300000001, -1...",643b4f423f0682f6fb1f9dc316c73c92,NaN,maz_cc246175,Marin
277813,maz_cc245219,"LINESTRING (-122.5382195 37.90647139999999, -1...",64e775a2aa81f99a692c0e14d24d0877,NaN,maz_cc245219,Marin
277814,maz_cc248072,"LINESTRING (-122.5251204 37.9622695, -122.5261...",3b4cf2174e85e420942ac8a72821137b,NaN,maz_cc248072,Marin
277815,maz_cc250564,"LINESTRING (-122.5339937 37.97254539999999, -1...",76a5f9c2d6475f92407e74851390afcd,NaN,maz_cc250564,Marin
277816,maz_cc248092,"LINESTRING (-122.505786 38.014422, -122.507917...",fe0248568538ee4788947378fe2103ee,NaN,maz_cc248092,Marin
277817,maz_cc247287,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc247287,Marin
277818,maz_cc247559,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc247559,Marin
277819,maz_cc248423,"LINESTRING (-122.5057648 37.9487303, -122.5058...",44c53879b5a9797cbb2eff72b5f64699,NaN,maz_cc248423,Marin

In [284]:
all_cc_shape_gdf.id.nunique()

277820

all_link_df = pd.concat([link_df,
                        all_cc_link_df],
                       sort = False,
                       ignore_index = True)

all_shape_gdf = pd.concat([shape_gdf,
                          all_cc_shape_gdf],
                         sort = False,
                         ignore_index = True)

In [285]:
#concat centroid and centroid connectors to network

all_link_df = pd.concat([link_df,
                        all_cc_link_df.drop(['county_last_id'], axis = 1)],
                       sort = False,
                       ignore_index = True)

all_shape_gdf = pd.concat([shape_gdf,
                          all_cc_shape_gdf],
                         sort = False,
                         ignore_index = True)

node_gdf = node_gdf.to_crs(epsg = 4326)

all_node_gdf = pd.concat([node_gdf,
                         all_centroid_node_gdf],
                        sort = False,
                        ignore_index = True)

# add length

In [286]:
all_cc_link_gdf = pd.merge(all_cc_link_df, all_cc_shape_gdf[["id", "geometry"]], how = "left", on = "id")

In [287]:
all_cc_link_gdf[all_cc_link_gdf.geometry.isnull()]

Empty DataFrame
Columns: [A, B, drive_access, walk_access, bike_access, shstGeometryId, id, u, v, fromIntersectionId, toIntersectionId, roadway, county, rail_only, county_last_id, model_link_id, geometry]
Index: []

In [288]:
all_cc_link_gdf = gpd.GeoDataFrame(all_cc_link_gdf, 
                                   geometry = all_cc_link_gdf["geometry"], 
                                   crs = shape_gdf.crs)

In [289]:
geom_length = all_cc_link_gdf[['geometry']].copy()
geom_length = geom_length.to_crs(epsg = 26915)
geom_length["length"] = geom_length.length

all_cc_link_gdf["length"] = geom_length["length"]

# add locationreference

In [290]:
all_node_gdf['X'] = all_node_gdf['geometry'].apply(lambda p: p.x)
all_node_gdf['Y'] = all_node_gdf['geometry'].apply(lambda p: p.y)
all_node_gdf['point'] = [list(xy) for xy in zip(all_node_gdf.X, all_node_gdf.Y)]
node_dict = dict(zip(all_node_gdf.model_node_id, all_node_gdf.point))
    
all_cc_link_gdf['A_point'] = all_cc_link_gdf['A'].map(node_dict)
all_cc_link_gdf['B_point'] = all_cc_link_gdf['B'].map(node_dict)
all_cc_link_gdf['locationReferences'] = all_cc_link_gdf.apply(lambda x: [{'sequence':1, 
                                                             'point': x['A_point'],
                                                             'distanceToNextRef':x['length'],
                                                            'bearing' : 0,
                                                             'intersectionId':x['fromIntersectionId']},
                                                                         {'sequence':2, 
                                                             'point': x['B_point'],
                                                             'intersectionId':x['toIntersectionId']}],
                                                   axis = 1)

In [291]:
all_cc_link_gdf.locationReferences.iloc[-1]

[{'sequence': 1,
  'point': [-122.50580293859502, 37.94830473568058],
  'distanceToNextRef': 51.382886808196375,
  'bearing': 0,
  'intersectionId': nan},
 {'sequence': 2,
  'point': [-122.50576480000001, 37.9487303],
  'intersectionId': '44c53879b5a9797cbb2eff72b5f64699'}]

# add shape_id (not necessary for MTC)

all_shape_gdf["shape_id"] = range(1, 1+ len(all_shape_gdf))

shape_id_dict = dict(zip(all_shape_gdf.id, all_shape_gdf.shape_id))

all_link_gdf["shape_id"] = all_link_gdf["id"].map(shape_id_dict)

# write out

In [292]:
all_centroid_node_gdf[all_centroid_node_gdf.model_node_id == 10186]

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
4855,10186,POINT (-122.3304153039983 37.78318054990585),1,1,1,0

In [293]:
all_centroid_node_gdf.head(3)

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
0,1,POINT (-122.4235552308525 37.7704613164878),1,1,1,0
1,2,POINT (-122.4185110411505 37.76430798097193),1,1,1,0
2,3,POINT (-122.424376790239 37.76776767513344),1,1,1,0

In [294]:
all_cc_shape_gdf.head(3)

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId,county
0,taz_cc385,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,taz_cc385,San Francisco
1,taz_cc1674,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN,taz_cc1674,San Francisco
2,taz_cc1119,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN,taz_cc1119,San Francisco

In [295]:
int_col = ["bike_access", "walk_access", "drive_access", "rail_only", "A", "B", "u", "v"]
for c in int_col:
    all_cc_link_gdf[c] = all_cc_link_gdf[c].fillna(0).astype(np.int64)

int_col = ["bike_access", "walk_access", "drive_access", "rail_only"]
for c in int_col:
    all_centroid_node_gdf[c] = all_centroid_node_gdf[c].fillna(0).astype(np.int64)

# write out centroid and centroid connectors seperately

In [296]:
%%time

print("-------write out link shape geojson---------")

shape_prop = ['id', 'fromIntersectionId', 'toIntersectionId']
shape_geojson = link_df_to_geojson(all_cc_shape_gdf, shape_prop)

with open("../../data/interim/step7_centroid_connector/cc_shape.geojson", "w") as f:
    json.dump(shape_geojson, f)

-------write out link shape geojson---------
Wall time: 51 s

In [297]:
%%time

# write out link variable json
# link unique handle "shstReferenceId" + "shstGeometryId"

print("-------write out link json---------")

link_prop = all_cc_link_gdf.drop(["geometry"], axis = 1).columns.tolist()

out = all_cc_link_gdf[link_prop].to_json(orient = "records")

with open("../../data/interim/step7_centroid_connector/cc_link.json", 'w') as f:
    f.write(out)

-------write out link json---------
Wall time: 11.1 s

In [298]:
%%time

print("-------write out node geojson---------")

node_prop = all_centroid_node_gdf.drop(["geometry"], axis = 1).columns.tolist()
node_geojson = point_df_to_geojson(all_centroid_node_gdf, node_prop)

with open("../../data/interim/step7_centroid_connector/centroid_node.geojson", "w") as f:
    json.dump(node_geojson, f)

-------write out node geojson---------
Wall time: 9.23 s

In [299]:
print("-------write out pickle---------")

all_cc_link_gdf.to_pickle("../../data/interim/step7_centroid_connector/cc_link.pickle")
all_cc_shape_gdf.to_pickle("../../data/interim/step7_centroid_connector/cc_shape.pickle")
all_centroid_node_gdf.to_pickle("../../data/interim/step7_centroid_connector/centroid_node.pickle")

-------write out pickle---------

In [300]:
maz_cc_link_df[maz_cc_link_df.A == 811960]

,A,B,drive_access,walk_access,bike_access,shstGeometryId,id,u,v,fromIntersectionId,toIntersectionId,roadway
514360,811960,5002710,nan,1.000,1.000,maz_cc247621,maz_cc247621,nan,1818437417.000,NaN,04b5de8ff00f922a8da9322520234ac5,maz
515236,811960,5005125,nan,1.000,1.000,maz_cc247622,maz_cc247622,nan,3400303578.000,NaN,cb8023db19f6149505629e577fa2b833,maz
515560,811960,5005974,nan,1.000,1.000,maz_cc247624,maz_cc247624,nan,110367504.000,NaN,c949eaecf7386c443aaa7012b7aaacbf,maz
515614,811960,5006150,nan,1.000,1.000,maz_cc247625,maz_cc247625,nan,110367528.000,NaN,c67db9c9f0c1d1fabccb861ba3632cf0,maz
516870,811960,5009415,nan,1.000,1.000,maz_cc247623,maz_cc247623,nan,2837192655.000,NaN,b204a4bc90efafeef1877e923bfda759,maz
517329,811960,5010536,1.000,0.000,0.000,maz_cc64346,maz_cc64346,nan,110367487.000,NaN,5561ef52a9de2a98e9b865bd017fe429,maz
520441,811960,5019535,1.000,0.000,0.000,maz_cc93606,maz_cc93606,nan,1024385306.000,NaN,abf07171186eefa0a6c6bea742ee09c9,maz
520925,811960,5020980,1.000,0.000,0.000,maz_cc93607,maz_cc93607,nan,1024392521.000,NaN,edfe164cdf0887f63b2df41408f893a0,maz