# This notebook goes through building drive, walk, and bike centroids and centorid connectors

1. centroid nodes come from existing network
2. drive centroid connector built by finding the new non-freeway drive node closest to the existing network's drive loading point
3. bike and walk centroid connector built by finding the closest new walk and bike node to the centroid

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point, shape, LineString
from scipy.spatial import cKDTree
import json
import math


%matplotlib inline

import matplotlib.pyplot as plt

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from methods import link_df_to_geojson
from methods import point_df_to_geojson
from methods import reproject
from methods import num_of_drive_loadpoint_per_centroid
from methods import num_of_walk_bike_loadpoint_per_centroid
from methods import find_new_load_point
from methods import generate_centroid_connectors
from methods import consolidate_cc

from methods import project_geometry
from methods import project_gdf
from methods import buffer1
from methods import buffer2
from methods import get_non_near_connectors

In [4]:
step6_output_folder = "../../data/interim/step6_gtfs/"
county_shape_folder = "../data/external/county/"

In [5]:
link_file = step6_output_folder + "link.feather"
link_df = pd.read_feather(link_file)

node_file = step6_output_folder + "node.geojson"
node_gdf = gpd.read_file(node_file)

shape_file = step6_output_folder + "shape.geojson"
shape_gdf = gpd.read_file(shape_file)

In [6]:
link_df[link_df.shstReferenceId == "02b0be7186de823a19b1bbd0ae45ddec"][["A", "B"]]

            A        B
9112  4500775  4500852

In [7]:
#taz_poly_gdf = gpd.read_file("../../../travel-model-two/maz_taz/shapefiles/tazs_TM2_v2_2.shp")
taz_poly_gdf = gpd.read_file("Z:/Data/Users/Sijia/MTC/github/travel-model-two/maz_taz/shapefiles/tazs_TM2_v2_2.shp")

taz_poly_gdf = taz_poly_gdf.to_crs(epsg = 4326)

In [8]:
#maz_poly_gdf = gpd.read_file("../../../travel-model-two/maz_taz/shapefiles/mazs_TM2_v2_2.shp")
maz_poly_gdf = gpd.read_file("Z:/Data/Users/Sijia/MTC/github/travel-model-two/maz_taz/shapefiles/mazs_TM2_v2_2.shp")

maz_poly_gdf = maz_poly_gdf.to_crs(epsg = 4326)

In [11]:
# legacy lookup for assignable
#tm2_lookup_df = pd.read_csv("../../../Lasso/mtc_data/lookups/legacy_tm2_attributes.csv")
tm2_lookup_df = pd.read_csv("Z:/Data/Users/Sijia/MTC/github/Lasso/mtc_data/lookups/legacy_tm2_attributes.csv")

In [34]:
# assignable analysis result from RSG

#from simpledbf import Dbf5

#dbf = Dbf5("D:/github/lfs-cleaning/travel-model-two-networks/data/processed/version_05/assignable_analysis_links.dbf")
#assignable_lookup_df = dbf.to_dataframe()

# export assignable lookup table

#assignable_lookup_df[["A", "B", "ASSIGNABLE"]].to_csv("D:/github/lfs-cleaning/travel-model-two-networks/data/processed/version_05/assignable_analysis_links.csv",
#                                                     index = False)

In [29]:
assignable_lookup_df = pd.read_csv("D:/github/lfs-cleaning/travel-model-two-networks/data/processed/version_05/assignable_analysis_links.csv")

In [13]:
tm2_lookup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757723 entries, 0 to 757722
Data columns (total 6 columns):
shstReferenceId    757723 non-null object
A_node             757723 non-null int64
B_node             757723 non-null int64
lanes              757723 non-null int64
assignable         757723 non-null int64
ft                 757723 non-null object
dtypes: int64(4), object(2)
memory usage: 34.7+ MB

In [30]:
assignable_lookup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230047 entries, 0 to 2230046
Data columns (total 3 columns):
A             int64
B             int64
ASSIGNABLE    int64
dtypes: int64(3)
memory usage: 51.0 MB

In [33]:
assignable_lookup_df.ASSIGNABLE.value_counts()

0    1807923
1     422124
Name: ASSIGNABLE, dtype: int64

In [36]:
assignable_lookup_df[assignable_lookup_df.ASSIGNABLE==1].CNTYPE.value_counts()

TANA    391050
TAZ      31069
PED          5
Name: CNTYPE, dtype: int64

In [37]:
link_df.shape

(1634769, 37)

In [39]:
link_gdf = pd.merge(link_df,
                    shape_gdf[["id", "geometry"]],
                    how = "left",
                    on = "id")

link_gdf = gpd.GeoDataFrame(link_gdf, 
                            geometry = link_gdf["geometry"],
                            crs={"init" : "epsg:4326"})

#link_gdf = pd.merge(
#    link_gdf,
#    tm2_lookup_df[["shstReferenceId", "assignable"]],
#    how = "left",
#    on = "shstReferenceId"
#)

link_gdf = pd.merge(
    link_gdf,
    assignable_lookup_df[["A", "B", "ASSIGNABLE"]],
    how = "left",
    on = ["A", "B"]
)

link_gdf.rename(columns = {"ASSIGNABLE" : "assignable"}, inplace = True)

In [12]:
link_gdf.assignable.value_counts()

1.000    695049
0.000     57163
Name: assignable, dtype: int64

In [40]:
link_gdf.assignable.value_counts()

0    1246456
1     388313
Name: assignable, dtype: int64

In [41]:
node_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 644475 entries, 0 to 644474
Data columns (total 9 columns):
osm_node_id      643811 non-null float64
shst_node_id     644475 non-null object
county           644475 non-null object
drive_access     644475 non-null int64
walk_access      644475 non-null int64
bike_access      644475 non-null int64
model_node_id    644475 non-null int64
rail_only        644475 non-null int64
geometry         644475 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 44.3+ MB

In [42]:
link_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1634769 entries, 0 to 1634768
Data columns (total 39 columns):
access                1632702 non-null object
area                  1632702 non-null object
bike_access           1634769 non-null int64
bridge                1632702 non-null object
drive_access          1634769 non-null int64
est_width             1632702 non-null object
fromIntersectionId    1632702 non-null object
highway               1632702 non-null object
id                    1634769 non-null object
junction              1632702 non-null object
key                   1632702 non-null object
landuse               1632702 non-null object
lanes                 1632702 non-null object
link                  1632702 non-null object
maxspeed              1632702 non-null object
name                  1632702 non-null object
oneWay                1632702 non-null object
ref                   1632702 non-null object
roadway               1632702 non-null object
roundabout            1632702 non-null object
service               1632702 non-null object
shstGeometryId        1634769 non-null object
shstReferenceId       1632702 non-null object
toIntersectionId      1632702 non-null object
tunnel                1632702 non-null object
u                     1632702 non-null float64
v                     1632702 non-null float64
walk_access           1634769 non-null int64
wayId                 1632702 non-null object
width                 1632702 non-null object
county                1634769 non-null object
length                1634030 non-null float64
model_link_id         1634769 non-null int64
A                     1634769 non-null int64
B                     1634769 non-null int64
rail_traveltime       607 non-null float64
rail_only             1634769 non-null int64
geometry              1634769 non-null object
assignable            1634769 non-null int64
dtypes: float64(4), int64(8), object(27)
memory usage: 498.9+ MB

# centroid connector

In [43]:
# read existing network

#existing_network_link_gdf = gpd.read_file("../../data/external/TM2_nonMarin/tm2_links.shp")
#existing_network_node_gdf = gpd.read_file("../../data/external/TM2_nonMarin/tm2_nodes.shp")

existing_network_link_gdf = gpd.read_file("Z:/Data/Users/Sijia/MTC/github/travel-model-two-networks/data/external/TM2_nonMarin/tm2_links.shp")
existing_network_node_gdf = gpd.read_file("Z:/Data/Users/Sijia/MTC/github/travel-model-two-networks/data/external/TM2_nonMarin/tm2_nodes.shp")

existing_network_link_gdf.crs = {"init" : "esri:102646"}
existing_network_node_gdf.crs = {"init" : "esri:102646"}

In [44]:
# convert to ESPG lat-lon

existing_network_link_gdf = existing_network_link_gdf.to_crs({'init': 'epsg:4326'})
existing_network_link_gdf.crs

existing_network_node_gdf = existing_network_node_gdf.to_crs({'init': 'epsg:4326'})
existing_network_node_gdf.crs

{'init': 'epsg:4326'}

existing_network_link_gdf[["CNTYPE","geometry"]].to_file("../../data/interim/step7_centroid_connector/tm2_connectors.geojson",
                                                        driver = "GeoJSON")

In [45]:
existing_network_link_gdf.geometry

0          LINESTRING (-122.4235552308525 37.770461316487...
1          LINESTRING (-122.4235552308525 37.770461316487...
2          LINESTRING (-122.4235552308525 37.770461316487...
3          LINESTRING (-122.4235552308525 37.770461316487...
4          LINESTRING (-122.4235552308525 37.770461316487...
5          LINESTRING (-122.4235552308525 37.770461316487...
6          LINESTRING (-122.4235552308525 37.770461316487...
7          LINESTRING (-122.4185110411505 37.764307980971...
8          LINESTRING (-122.4185110411505 37.764307980971...
9          LINESTRING (-122.4185110411505 37.764307980971...
10         LINESTRING (-122.4185110411505 37.764307980971...
11         LINESTRING (-122.4185110411505 37.764307980971...
12         LINESTRING (-122.4185110411505 37.764307980971...
13         LINESTRING (-122.4185110411505 37.764307980971...
14         LINESTRING (-122.4185110411505 37.764307980971...
15         LINESTRING (-122.424376790239 37.7677676751334...
16         LINESTRING (-122.424376790239 37.7677676751334...
17         LINESTRING (-122.424376790239 37.7677676751334...
18         LINESTRING (-122.424376790239 37.7677676751334...
19         LINESTRING (-122.424376790239 37.7677676751334...
20         LINESTRING (-122.424376790239 37.7677676751334...
21         LINESTRING (-122.424376790239 37.7677676751334...
22         LINESTRING (-122.424376790239 37.7677676751334...
23         LINESTRING (-122.3723843332867 37.825463786160...
24         LINESTRING (-122.3723843332867 37.825463786160...
25         LINESTRING (-122.3723843332867 37.825463786160...
26         LINESTRING (-122.4275951118974 37.766541006572...
27         LINESTRING (-122.4275951118974 37.766541006572...
28         LINESTRING (-122.4275951118974 37.766541006572...
29         LINESTRING (-122.4275951118974 37.766541006572...
                                 ...
1405115    LINESTRING (-122.0585782489224 37.969492628387...
1405116    LINESTRING (-122.0585782489224 37.969492628387...
1405117    LINESTRING (-122.0553163132704 37.965431450985...
1405118    LINESTRING (-122.0553163132704 37.965431450985...
1405119    LINESTRING (-122.0536735677819 37.962469487389...
1405120    LINESTRING (-122.0536735677819 37.962469487389...
1405121    LINESTRING (-122.052767878148 37.9606813567640...
1405122    LINESTRING (-122.0521247631781 37.958930062125...
1405123    LINESTRING (-122.0521247631781 37.958930062125...
1405124    LINESTRING (-122.0558358708939 37.966078643660...
1405125    LINESTRING (-122.0558358708939 37.966078643660...
1405126    LINESTRING (-122.0560775995547 37.966369625047...
1405127    LINESTRING (-121.7513750181723 38.015667947854...
1405128    LINESTRING (-121.751380145405 38.015396274743,...
1405129    LINESTRING (-121.751380145405 38.015396274743,...
1405130    LINESTRING (-122.5550666776635 38.088826146996...
1405131    LINESTRING (-122.5550666776635 38.088826146996...
1405132    LINESTRING (-122.5586283777897 38.092345431888...
1405133    LINESTRING (-122.5586283777897 38.092345431888...
1405134    LINESTRING (-122.5611650574052 38.096544433899...
1405135    LINESTRING (-122.5609969509419 38.102418185761...
1405136    LINESTRING (-122.5618482548117 38.104931818004...
1405137    LINESTRING (-122.5633606079494 38.110063898335...
1405138    LINESTRING (-122.5554383363001 38.088293550965...
1405139    LINESTRING (-122.5554383363001 38.088293550965...
1405140    LINESTRING (-122.5622294927359 38.096513409289...
1405141    LINESTRING (-122.5622294927359 38.096513409289...
1405142    LINESTRING (-122.5620939248964 38.102553554679...
1405143    LINESTRING (-122.5620939248964 38.102553554679...
1405144    LINESTRING (-122.563820432232 38.1085202804263...
Name: geometry, Length: 1405145, dtype: object

In [46]:
print(existing_network_node_gdf.columns)
print(existing_network_node_gdf.crs)

Index(['N', 'FAREZONE', 'X', 'Y', 'COUNTY', 'MODE', 'TYPE', 'ID', 'PNR_CAP',
       'PNR1', 'PNR_FEE1', 'PNR2', 'PNR_FEE2', 'PNR3', 'PNR_FEE3', 'PNR4',
       'PNR_FEE4', 'PNR5', 'PNR_FEE5', 'STOP', 'RTDMODE', 'TAZSEQ', 'MAZSEQ',
       'TAPSEQ', 'EXTSEQ', 'NEW_NODE', 'OLD_NODE', 'TEMP', 'TEMP2',
       'geometry'],
      dtype='object')
{'init': 'epsg:4326'}

In [47]:
existing_network_node_gdf.TAZSEQ.nunique()

4686

In [48]:
existing_network_node_gdf.EXTSEQ.nunique()

22

In [49]:
existing_network_node_gdf.TAZSEQ.min()

0

In [50]:
existing_network_node_gdf.MAZSEQ.nunique()

39676

In [51]:
existing_network_node_gdf.MAZSEQ.min()

0

In [52]:
existing_network_link_gdf.CNTYPE.value_counts()

TANA     807224
MAZ      252437
PED      221905
TAZ       63182
TAP       43512
USE        8981
BIKE       6678
LRAIL       864
CRAIL       144
HRAIL        90
FERRY        52
EXT          44
Name: CNTYPE, dtype: int64

In [53]:
existing_network_link_gdf[existing_network_link_gdf.CNTYPE == "EXT"]

,A,B,NUMLANES,F_JNCTID,T_JNCTID,FRC,NAME,FREEWAY,TOLLRD,ONEWAY,...,TAP_DRIVE,FT,FFS,USECLASS,TOLLBOOTH,DANGLING,HASTRANSIT,DELETE,TOLLSEG,geometry
178864,900001,4536205,9,0,0,2,CAL 1 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.5190457272354 38.760762464191...
178865,900002,4536973,9,0,0,2,CAL 128 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0726942858131 38.855409819300...
178866,900003,4535977,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0336024327497 38.855188781886...
178867,900004,4013616,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.5942129152742 38.680411102858...
178868,900005,4008102,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.103303766366 38.5132350248262...
178869,900006,3504977,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,"LINESTRING (-121.9529173734 38.52623326864123,..."
178870,900007,3501135,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.768232430548 38.5313499680038...
178871,900008,3502245,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7388852272142 38.541664183304...
178872,900009,3521560,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.6850500443406 38.158456006531...
178873,900010,3016324,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7514279132374 38.020180672387...
178874,900011,3069798,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5695482626224 37.890249223397...
178875,900012,2555322,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5553151839901 37.797602888466...
178876,900013,2509728,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5531399666439 37.735905704050...
178877,900013,2560310,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5531399666439 37.735905704050...
178878,900014,2036915,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.2116672497266 37.069933231247...
178879,900015,2033921,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.3825025521439 36.958981796361...
178880,900016,2105963,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5109684571735 36.946694739583...
178881,900017,2032120,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5480897982576 36.917204869943...
178882,900018,2105359,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7179431540748 36.995542529703...
178883,900019,2035881,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9856722566802 37.141894643476...
178884,900020,2099887,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.1222278205091 37.258329146284...
178885,900021,1542334,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.2936188830901 37.105994489854...
380762,1542334,900021,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.2926740131276 37.107688004556...
471564,2033921,900015,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.3835563126751 36.961478803194...
474872,2035276,900019,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9852110007008 37.142397008077...
479050,2036992,900017,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5479500041068 36.917706012872...
480336,2037510,900014,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.2126089856084 37.068551999500...
632897,2099887,900020,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.1220276083933 37.258641501614...
645851,2105359,900018,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7179359991712 36.995539866627...
663737,2112924,900016,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5121953055058 36.948041009718...
804920,2552507,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5571339971502 37.743046002254...
811844,2555322,900012,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5571265936284 37.798944604373...
817172,2557464,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5590020137725 37.739890000308...
952161,3016164,900010,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7514909966229 38.019698010394...
1086927,3069798,900011,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.5701859959394 37.891489994747...
1119204,3501279,900008,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7387589841741 38.537299991808...
1120513,3501725,900007,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.7685910011076 38.527906991170...
1174108,3521293,900006,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.9527799869325 38.525417992335...
1174779,3521560,900009,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-121.685779006052 38.1598290131304...
1207679,4008102,900005,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.103733997653 38.5145250018436...
1219207,4013616,900004,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-122.592041352952 38.6758400590330...
1313393,4535799,900003,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0319120165573 38.852708003605...
1314499,4536205,900001,9,0,0,2,CAL 1 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.5184480103137 38.759788789023...
1316681,4536973,900002,9,0,0,2,CAL 128 - Sonoma/Mendicino,0,None,None,...,0,6,25.000,0,0,0,0,0,0,LINESTRING (-123.0773400138313 38.852242002691...

#covert networks to espg 26915 for nearest node operation

link_gdf, node_gdf = reproject(link_gdf, 
                                node_gdf, 
                                26915)

existing_network_link_gdf, existing_network_node_gdf = reproject(existing_network_link_gdf,
                                                                existing_network_node_gdf,
                                                                26915)

In [54]:
existing_network_link_gdf, existing_network_node_gdf = reproject(existing_network_link_gdf,
                                                                existing_network_node_gdf,
                                                                26915)

In [55]:
taz_N_list = list(range(1, 10000)) + list(range(100001, 110000)) + list(range(200001, 210000)) + list(range(300001, 310000))\
+ list(range(400001, 410000)) + list(range(500001, 510000)) + list(range(600001, 610000)) + list(range(700001, 710000))\
+ list(range(800001, 810000)) + list(range(900001, 1000000))

maz_N_list = list(range(10001, 90000)) + list(range(110001, 190000)) + list(range(210001, 290000)) + list(range(310001, 390000))\
+ list(range(410001, 490000)) + list(range(510001, 590000)) + list(range(610001, 690000)) + list(range(710001, 790000))\
+ list(range(810001, 890000))

# existing taz centorid and centroid connectors

In [56]:
# existing taz level centroids
taz_node_gdf = existing_network_node_gdf[existing_network_node_gdf.N.isin(taz_N_list)].copy()

# existing taz level centroid connectors
taz_connectors_gdf = existing_network_link_gdf[existing_network_link_gdf.CNTYPE.isin(["TAZ", "EXT"])].copy()

taz_connectors_gdf = taz_connectors_gdf[(taz_connectors_gdf.A.isin(taz_N_list)) | 
                                       (taz_connectors_gdf.B.isin(taz_N_list))].copy()

# identify centroid (c) and non-centroid (non-c) for each centroid connector
taz_connectors_gdf["c"] = np.where(taz_connectors_gdf["A"].isin(taz_N_list),
                                  taz_connectors_gdf["A"],
                                  taz_connectors_gdf["B"])
taz_connectors_gdf["non_c"] = np.where(taz_connectors_gdf["A"].isin(taz_N_list),
                                  taz_connectors_gdf["B"],
                                  taz_connectors_gdf["A"])

taz_connectors_gdf.drop_duplicates(subset = ["c", "non_c"], inplace = True)

In [57]:
taz_connectors_gdf.c.nunique()

4756

In [58]:
taz_connectors_gdf.FT.value_counts()

6    31624
Name: FT, dtype: int64

In [59]:
def q15(x):
    m = x.quantile(q=0.15)
    return m

def q85(x):
    m = x.quantile(q=0.85)
    return m

In [60]:
taz_connectors_gdf["length"] = taz_connectors_gdf.geometry.length

taz_connectors_gdf["length_mean"] = taz_connectors_gdf.groupby(["c"]).length.transform("mean") 

taz_connectors_gdf["length_std"] = taz_connectors_gdf.groupby(["c"]).length.transform("std") 

taz_connectors_gdf["length_norm"] = (taz_connectors_gdf["length"] - taz_connectors_gdf["length_mean"]) / taz_connectors_gdf["length_std"]

taz_connectors_gdf["length_15"] = taz_connectors_gdf.groupby(["c"])["length"].transform(q15)
taz_connectors_gdf["length_85"] = taz_connectors_gdf.groupby(["c"])["length"].transform(q85)

taz_connectors_gdf["keep"] = np.where((taz_connectors_gdf.length <= taz_connectors_gdf.length_mean + taz_connectors_gdf.length_std) |
                                      (taz_connectors_gdf.length_std < taz_connectors_gdf.length_mean * 0.6) | 
                                      (taz_connectors_gdf.length_std.isnull()),
                                     1,
                                     0)

taz_drop_long_connectors_gdf = taz_connectors_gdf[taz_connectors_gdf.keep == 1].copy()

In [61]:
taz_drop_long_connectors_gdf.c.nunique()

4756

In [62]:
taz_drop_long_connectors_gdf.crs

{'init': 'epsg:26915', 'no_defs': True}

In [63]:
taz_node_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4756 entries, 0 to 50697
Data columns (total 30 columns):
N           4756 non-null int64
FAREZONE    4756 non-null int64
X           4756 non-null float64
Y           4756 non-null float64
COUNTY      4756 non-null int64
MODE        4756 non-null int64
TYPE        4756 non-null int64
ID          4756 non-null int64
PNR_CAP     4756 non-null int64
PNR1        4756 non-null int64
PNR_FEE1    4756 non-null float64
PNR2        4756 non-null int64
PNR_FEE2    4756 non-null float64
PNR3        4756 non-null int64
PNR_FEE3    4756 non-null float64
PNR4        4756 non-null int64
PNR_FEE4    4756 non-null int64
PNR5        4756 non-null int64
PNR_FEE5    4756 non-null int64
STOP        0 non-null object
RTDMODE     4756 non-null int64
TAZSEQ      4756 non-null int64
MAZSEQ      4756 non-null int64
TAPSEQ      4756 non-null int64
EXTSEQ      4756 non-null int64
NEW_NODE    4756 non-null int64
OLD_NODE    4756 non-null int64
TEMP        4756 non-null int64
TEMP2       4756 non-null int64
geometry    4756 non-null object
dtypes: float64(5), int64(23), object(2)
memory usage: 1.1+ MB

In [64]:
taz_connectors_gdf.CNTYPE.value_counts()

TAZ    31591
EXT       33
Name: CNTYPE, dtype: int64

# existing maz centroid and centroid connectors

In [65]:
# existing maz level centroids
maz_node_gdf = existing_network_node_gdf[existing_network_node_gdf.N.isin(maz_N_list)].copy()

# existing taz level centroid connectors
maz_connectors_gdf = existing_network_link_gdf[existing_network_link_gdf.CNTYPE == "MAZ"].copy()

maz_connectors_gdf = maz_connectors_gdf[(maz_connectors_gdf.A.isin(maz_N_list)) | 
                                       (maz_connectors_gdf.B.isin(maz_N_list))].copy()

# identify centroid (c) and non-centroid (non-c) for each centroid connector

maz_connectors_gdf["c"] = np.where(maz_connectors_gdf["A"].isin(maz_N_list),
                                  maz_connectors_gdf["A"],
                                  maz_connectors_gdf["B"])
maz_connectors_gdf["non_c"] = np.where(maz_connectors_gdf["A"].isin(maz_N_list),
                                  maz_connectors_gdf["B"],
                                  maz_connectors_gdf["A"])

maz_connectors_gdf.drop_duplicates(subset = ["c", "non_c"], inplace = True)

In [66]:
maz_node_gdf.N.nunique()

39726

In [67]:
maz_connectors_gdf.c.nunique()

39721

In [68]:
np.setdiff1d(maz_node_gdf.N.tolist(), maz_connectors_gdf.c.tolist())

array([ 10186,  16084, 111432, 111433, 411178])

In [69]:
existing_network_link_gdf[existing_network_link_gdf.B == 411178]

Empty GeoDataFrame
Columns: [A, B, NUMLANES, F_JNCTID, T_JNCTID, FRC, NAME, FREEWAY, TOLLRD, ONEWAY, KPH, MINUTES, CARRIAGE, LANES, RAMP, SPEEDCAT, FEET, ASSIGNABLE, CNTYPE, TRANSIT, HIGHWAYT, B_CLASS, GRADE_CAT, PED_FLAG, BIKEPEDOK, PEMSID, PEMSLANES, RTEDIR, PEMSDIST, REPRIORITIZ, TMCLOCREF, TAP_DRIVE, FT, FFS, USECLASS, TOLLBOOTH, DANGLING, HASTRANSIT, DELETE, TOLLSEG, geometry]
Index: []

[0 rows x 41 columns]

In [70]:
existing_network_node_gdf[existing_network_node_gdf.N == 411178]

,N,FAREZONE,X,Y,COUNTY,MODE,TYPE,ID,PNR_CAP,PNR1,...,RTDMODE,TAZSEQ,MAZSEQ,TAPSEQ,EXTSEQ,NEW_NODE,OLD_NODE,TEMP,TEMP2,geometry
34383,411178,0,-2105415.904,4625783.336,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-2105415.903747404 4625783.33594758)

In [71]:
#maz_node_gdf = maz_node_gdf[maz_node_gdf.N.isin(maz_connectors_gdf.c.tolist())]

In [72]:
maz_connectors_gdf["length"] = maz_connectors_gdf.geometry.length

maz_connectors_gdf["length_mean"] = maz_connectors_gdf.groupby(["c"]).length.transform("mean") 

maz_connectors_gdf["length_std"] = maz_connectors_gdf.groupby(["c"]).length.transform("std") 

maz_connectors_gdf["length_norm"] = (maz_connectors_gdf["length"] - maz_connectors_gdf["length_mean"]) / maz_connectors_gdf["length_std"]

maz_connectors_gdf["keep"] = np.where((maz_connectors_gdf.length <= maz_connectors_gdf.length_mean + maz_connectors_gdf.length_std) |
                                      (maz_connectors_gdf.length_std < maz_connectors_gdf.length_mean * 0.6) | 
                                      (maz_connectors_gdf.length_std.isnull()),
                                     1,
                                     0)

maz_drop_long_connectors_gdf = maz_connectors_gdf[maz_connectors_gdf.keep == 1].copy()

In [73]:
maz_connectors_gdf.shape

(125745, 48)

In [74]:
maz_drop_long_connectors_gdf.shape

(122987, 48)

In [75]:
maz_drop_long_connectors_gdf.c.nunique()

39721

In [76]:
maz_drop_long_connectors_gdf.CNTYPE.value_counts()

MAZ    122987
Name: CNTYPE, dtype: int64

In [77]:
link_gdf[link_gdf.drive_access==1].roadway.value_counts()

residential       407426
service           389515
tertiary           93218
secondary          68529
primary            26492
motorway_link       4983
trunk               4160
motorway            2774
secondary_link      1566
primary_link        1506
trunk_link          1382
tertiary_link        611
Name: roadway, dtype: int64

# For each zone, find how many nodes that have only two assignable geometries (not reference)

In [78]:
assignable_link_gdf = link_gdf[(link_gdf.assignable == 1) & 
                               ~(link_gdf.roadway.isin(
                                   ["motorway_link", "motorway", "trunk", "trunk_link", "service"])) &
                              (link_gdf.drive_access == 1)].copy()

In [79]:
assignable_link_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 345830 entries, 2 to 1632695
Data columns (total 39 columns):
access                345830 non-null object
area                  345830 non-null object
bike_access           345830 non-null int64
bridge                345830 non-null object
drive_access          345830 non-null int64
est_width             345830 non-null object
fromIntersectionId    345830 non-null object
highway               345830 non-null object
id                    345830 non-null object
junction              345830 non-null object
key                   345830 non-null object
landuse               345830 non-null object
lanes                 345830 non-null object
link                  345830 non-null object
maxspeed              345830 non-null object
name                  345830 non-null object
oneWay                345830 non-null object
ref                   345830 non-null object
roadway               345830 non-null object
roundabout            345830 non-null object
service               345830 non-null object
shstGeometryId        345830 non-null object
shstReferenceId       345830 non-null object
toIntersectionId      345830 non-null object
tunnel                345830 non-null object
u                     345830 non-null float64
v                     345830 non-null float64
walk_access           345830 non-null int64
wayId                 345830 non-null object
width                 345830 non-null object
county                345830 non-null object
length                345830 non-null float64
model_link_id         345830 non-null int64
A                     345830 non-null int64
B                     345830 non-null int64
rail_traveltime       0 non-null float64
rail_only             345830 non-null int64
geometry              345830 non-null object
assignable            345830 non-null int64
dtypes: float64(4), int64(8), object(27)
memory usage: 105.5+ MB

In [80]:
a_geometry_count_df = assignable_link_gdf.groupby(
    ["A", "shstGeometryId"])["model_link_id"].count().reset_index().rename(columns = {"A" : "model_node_id"})
b_geometry_count_df = assignable_link_gdf.groupby(
    ["B", "shstGeometryId"])["model_link_id"].count().reset_index().rename(columns = {"B" : "model_node_id"})

node_geometry_count_df = pd.concat([a_geometry_count_df, b_geometry_count_df], ignore_index = True, sort = False)

node_geometry_count_df = node_geometry_count_df.groupby(
    ["model_node_id", "shstGeometryId"]).count().reset_index().groupby(["model_node_id"])["shstGeometryId"].count().reset_index()

node_two_geometry_df = node_geometry_count_df[node_geometry_count_df.shstGeometryId == 2].copy()
node_two_geometry_id_list = node_two_geometry_df.model_node_id.tolist()

In [81]:
link_gdf[link_gdf.A == 1005079]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,width,county,length,model_link_id,A,B,rail_traveltime,rail_only,geometry,assignable
112250,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,service,f6712e6b4f50eb057fd82edfa801f80c,nan,...,nan,San Francisco,7.539,5290,1005079,1010066,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4166...",1
290953,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,d96d7c7a7ac3e8c019f5e73b866b8314,nan,...,nan,San Francisco,42.887,13813,1005079,1011449,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4171...",1
882146,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,service,cbf4479e1a363fb56c84bb8a4eb000ba,nan,...,nan,San Francisco,192.850,41416,1005079,1015386,nan,0,"LINESTRING (-122.4168425 37.752341, -122.41668...",1
1615608,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,26854d11c05f932a98572ea50e87a52b,nan,...,nan,San Francisco,40.922,72768,1005079,1012427,nan,0,"LINESTRING (-122.4162547 37.7507707, -122.4166...",1

In [82]:
assignable_link_gdf[assignable_link_gdf.A == 1005079]

,access,area,bike_access,bridge,drive_access,est_width,fromIntersectionId,highway,id,junction,...,width,county,length,model_link_id,A,B,rail_traveltime,rail_only,geometry,assignable
290953,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,d96d7c7a7ac3e8c019f5e73b866b8314,nan,...,nan,San Francisco,42.887,13813,1005079,1011449,nan,0,"LINESTRING (-122.4166814 37.7507448, -122.4171...",1
1615608,nan,nan,1,nan,1,nan,e15f4fe887edc6f09cbacdeef040904f,residential,26854d11c05f932a98572ea50e87a52b,nan,...,nan,San Francisco,40.922,72768,1005079,1012427,nan,0,"LINESTRING (-122.4162547 37.7507707, -122.4166...",1

In [83]:
node_geometry_count_df.shape

(178678, 2)

In [84]:
node_geometry_count_df[node_geometry_count_df.model_node_id == 1005079]

      model_node_id  shstGeometryId
2813        1005079               2

In [85]:
node_two_geometry_df.shape

(127885, 2)

In [86]:
node_two_geometry_df = pd.merge(
    node_two_geometry_df,
    node_gdf[["model_node_id", "osm_node_id", "shst_node_id", "geometry"]],
    how = "left",
    on = "model_node_id"
)

node_two_geometry_df = gpd.GeoDataFrame(node_two_geometry_df, 
                                        geometry = node_two_geometry_df["geometry"],
                                       crs = {"init" : "epsg:4326"})

In [87]:
node_two_geometry_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 127885 entries, 0 to 127884
Data columns (total 5 columns):
model_node_id     127885 non-null int64
shstGeometryId    127885 non-null int64
osm_node_id       127885 non-null float64
shst_node_id      127885 non-null object
geometry          127885 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 5.9+ MB

import math

def buffer1(polygon):
    buffer_dist = 10
    poly_proj, crs_utm = project_geometry(polygon)
    poly_proj_buff = poly_proj.buffer(buffer_dist)
    poly_buff, _ = project_geometry(poly_proj_buff, crs=crs_utm, to_latlong=True)
    
    return poly_buff

def buffer2(polygon):
    return polygon.minimum_rotated_rectangle

In [88]:
taz_poly_buffer1_gdf = taz_poly_gdf.copy()
taz_poly_buffer2_gdf = taz_poly_gdf.copy()

def project_geometry(geometry, crs=None, to_crs=None, to_latlong=False):
    """
    Project a shapely geometry from its current CRS to another.
    If to_crs is None, project to the UTM CRS for the UTM zone in which the
    geometry's centroid lies. Otherwise project to the CRS defined by to_crs.
    Parameters
    ----------
    geometry : shapely.geometry.Polygon or shapely.geometry.MultiPolygon
        the geometry to project
    crs : dict or string or pyproj.CRS
        the starting CRS of the passed-in geometry. if None, it will be set to
        settings.default_crs
    to_crs : dict or string or pyproj.CRS
        if None, project to UTM zone in which geometry's centroid lies,
        otherwise project to this CRS
    to_latlong : bool
        if True, project to settings.default_crs and ignore to_crs
    Returns
    -------
    geometry_proj, crs : tuple
        the projected geometry and its new CRS
    """
    if crs is None:
        crs = {"init" : "epsg:4326"}

    gdf = gpd.GeoDataFrame(geometry=[geometry], crs=crs)
    gdf_proj = project_gdf(gdf, to_crs=to_crs, to_latlong=to_latlong)
    geometry_proj = gdf_proj["geometry"].iloc[0]
    return geometry_proj, gdf_proj.crs


def project_gdf(gdf, to_crs=None, to_latlong=False):
    """
    Project a GeoDataFrame from its current CRS to another.
    If to_crs is None, project to the UTM CRS for the UTM zone in which the
    GeoDataFrame's centroid lies. Otherwise project to the CRS defined by
    to_crs. The simple UTM zone calculation in this function works well for
    most latitudes, but may not work for some extreme northern locations like
    Svalbard or far northern Norway.
    Parameters
    ----------
    gdf : geopandas.GeoDataFrame
        the GeoDataFrame to be projected
    to_crs : dict or string or pyproj.CRS
        if None, project to UTM zone in which gdf's centroid lies, otherwise
        project to this CRS
    to_latlong : bool
        if True, project to settings.default_crs and ignore to_crs
    Returns
    -------
    gdf_proj : geopandas.GeoDataFrame
        the projected GeoDataFrame
    """
    if gdf.crs is None or len(gdf) < 1:
        raise ValueError("GeoDataFrame must have a valid CRS and cannot be empty")

    # if to_latlong is True, project the gdf to latlong
    if to_latlong:
        gdf_proj = gdf.to_crs({"init" : "epsg:4326"})
        #utils.log(f"Projected GeoDataFrame to {settings.default_crs}")

    # else if to_crs was passed-in, project gdf to this CRS
    elif to_crs is not None:
        gdf_proj = gdf.to_crs(to_crs)
        #utils.log(f"Projected GeoDataFrame to {to_crs}")

    # otherwise, automatically project the gdf to UTM
    else:
        #if CRS.from_user_input(gdf.crs).is_projected:
         #   raise ValueError("Geometry must be unprojected to calculate UTM zone")

        # calculate longitude of centroid of union of all geometries in gdf
        avg_lng = gdf["geometry"].unary_union.centroid.x

        # calculate UTM zone from avg longitude to define CRS to project to
        utm_zone = int(math.floor((avg_lng + 180) / 6.0) + 1)
        utm_crs = f"+proj=utm +zone={utm_zone} +ellps=WGS84 +datum=WGS84 +units=m +no_defs"

        # project the GeoDataFrame to the UTM CRS
        gdf_proj = gdf.to_crs(utm_crs)
        #utils.log(f"Projected GeoDataFrame to {gdf_proj.crs}")

    return gdf_proj

In [89]:
taz_poly_buffer1_gdf["geometry_buffer"] = taz_poly_buffer1_gdf["geometry"].apply(lambda x: buffer1(x))

In [90]:
taz_poly_buffer2_gdf["geometry_buffer"] = taz_poly_buffer2_gdf["geometry"].apply(lambda x: buffer2(x))

In [91]:
taz_poly_buffer1_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

In [92]:
taz_poly_buffer2_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

In [93]:
taz_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                     taz_poly_gdf[["geometry", "taz"]], 
                                     how = "left", 
                                     op = "intersects")

C:\Users\wangs1\.conda\envs\MetC_new\lib\site-packages\geopandas\tools\sjoin.py:56: UserWarning: CRS of frames being joined does not match!({'init': 'epsg:4326'} != {'init': 'epsg:4326', 'no_defs': True})
  '(%s != %s)' % (left_df.crs, right_df.crs))

In [94]:
taz_buffer1_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                             taz_poly_buffer1_gdf[["geometry", "taz"]], 
                                             how = "left", 
                                             op = "intersects")

In [95]:
taz_buffer2_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, 
                                             taz_poly_buffer2_gdf[["geometry", "taz"]], 
                                             how = "left", 
                                             op = "intersects")

In [96]:
taz_node_two_geometry_df.model_node_id.nunique()

127885

In [97]:
taz_buffer1_node_two_geometry_df.model_node_id.nunique()

127885

In [98]:
taz_buffer2_node_two_geometry_df.model_node_id.nunique()

127885

In [99]:
node_two_geometry_df.model_node_id.nunique()

127885

In [100]:
taz_node_two_geometry_count_df = taz_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()
taz_buffer1_node_two_geometry_count_df = taz_buffer1_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()
taz_buffer2_node_two_geometry_count_df = taz_buffer2_node_two_geometry_df.groupby(["taz"])["model_node_id"].count().reset_index()

In [101]:
taz_node_two_geometry_count_df.taz.nunique()

4682

In [102]:
taz_buffer1_node_two_geometry_count_df.taz.nunique()

4716

In [103]:
taz_buffer2_node_two_geometry_count_df.taz.nunique()

4712

In [104]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 433]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [105]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [106]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [107]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 435]

Empty DataFrame
Columns: [taz, model_node_id]
Index: []

In [108]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 439]

        taz  model_node_id
420 439.000              3

In [109]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 439]

     taz  model_node_id
415  439              3

In [110]:
taz_node_two_geometry_count_df[taz_node_two_geometry_count_df.taz == 430]

        taz  model_node_id
398 430.000             15

In [111]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.taz == 430]

        taz  model_node_id
414 430.000             17

In [112]:
taz_buffer2_node_two_geometry_count_df[taz_buffer2_node_two_geometry_count_df.taz == 430]

     taz  model_node_id
409  430             15

In [113]:
taz_buffer1_node_two_geometry_count_df[taz_buffer1_node_two_geometry_count_df.model_node_id >= 3]

            taz  model_node_id
0         1.000             34
1         2.000             19
2         3.000             12
3         4.000             40
4         5.000             23
5         6.000             15
6         7.000             31
7         8.000              8
8         9.000              3
9        10.000              5
10       11.000              6
11       12.000             12
12       13.000             18
13       14.000              6
14       15.000              4
15       16.000              6
16       17.000             11
17       18.000             11
18       19.000             10
19       20.000             10
20       21.000              7
21       22.000              7
22       23.000             26
23       24.000             17
24       25.000             24
25       26.000             11
26       27.000             44
27       28.000              6
29       30.000             11
30       31.000             11
...         ...            ...
4686 800181.000             18
4687 800182.000              5
4688 800183.000             41
4689 800184.000             60
4690 800185.000             36
4691 800186.000             20
4692 800187.000             70
4693 800188.000             17
4694 800189.000              3
4695 800190.000             31
4696 800191.000             35
4697 800192.000             31
4698 800193.000              3
4699 800194.000              3
4700 800195.000             17
4701 800196.000             56
4702 800197.000             14
4703 800198.000             27
4704 800199.000              3
4705 800200.000             21
4706 800201.000             43
4707 800202.000            105
4708 800203.000             10
4709 800204.000             31
4710 800205.000             14
4711 800206.000             11
4712 800207.000             21
4713 800208.000             15
4714 800209.000             29
4715 800210.000             20

[4671 rows x 2 columns]

# taz drive centroid connectors

# nodes that are connected to assignable

assignable_link_gdf = link_gdf[(link_gdf.assignable == 1) & 
                               ~(link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "truck_link", "service"]))].copy()

a_node_count_df = assignable_link_gdf.groupby(["A"])["model_link_id"].count().reset_index()
b_node_count_df = assignable_link_gdf.groupby(["B"])["model_link_id"].count().reset_index()

two_assignable_way_node_list = list(set(a_node_count_df[a_node_count_df.model_link_id == 1].A) & 
                                    set(b_node_count_df[b_node_count_df.model_link_id == 1].B))

len(two_assignable_way_node_list)

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(two_assignable_way_node_list))].copy()

taz_drive_cc_gdf, taz_drive_centroid_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf,
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

def num_of_drive_loadpoint_per_centroid(existing_drive_cc_df, existing_node_gdf):
    """
    decide number of loading point for drive access per centroid
    
    logic: for drive, find the closest points to the existing loading point
    
    return: 
    dataframe
    for each existing drive loading point, number of new loading point needs to be generated. currently set to 1.
    
    """
    existing_pairs_of_centroid_loadpoint_df = existing_drive_cc_df.groupby(['c', 'non_c']).count().reset_index().drop(['A','B'], axis = 1)
    
    existing_num_of_loadpoint_per_c_df = existing_drive_cc_df.groupby(['c', 'non_c']).count().groupby('c').count()[['A']].rename(columns = {'A':'abm_num_load'}).reset_index()
    
    num_drive_loadpoint_new_near_old = pd.merge(existing_pairs_of_centroid_loadpoint_df,
                                                        existing_num_of_loadpoint_per_c_df,
                                                        how = 'left',
                                                        on = 'c')
    
    num_drive_loadpoint_new_near_old['osm_num_load'] = 1
    
    num_drive_loadpoint_new_near_old = pd.merge(num_drive_loadpoint_new_near_old,
                                                        existing_node_gdf[['N', 'X', 'Y']],
                                                        how = 'left',
                                                        left_on = 'non_c',
                                                        right_on = 'N')
    return num_drive_loadpoint_new_near_old


def num_of_walk_bike_loadpoint_per_centroid(existing_centroid_df):
    """
    decide number of loading point for walk and bike access per centroid
    
    logic: find 5 closest points to centroid
    
    return: 
    dataframe
    for each centroid, number of loading point needs to be generated.
    
    """
    
    num_loadpoint = existing_centroid_df[['N', 'X', 'Y']].copy()
    num_loadpoint['osm_num_load'] = np.int(5)
    num_loadpoint.rename(columns = {'N':'c'}, inplace = True)
    
    return num_loadpoint


def generate_centroid_connectors(run_type, existing_drive_cc_df, node_gdf, existing_node_df):
    """
    calls function to generate loading point reference table, 
    and calls function to find loading points
    
    build linestring based on pairs of centroid and loading point
    
    return centroid connectors and centroids
    """
    
    if run_type == 'drive':
        abm_load_ref_df = num_of_drive_loadpoint_per_centroid(existing_drive_cc_df, existing_node_df)
    if (run_type == 'walk')|(run_type == 'bike'):
        abm_load_ref_df = num_of_walk_bike_loadpoint_per_centroid(existing_node_df)

    new_load_point_gdf = find_new_load_point(abm_load_ref_df, node_gdf)
    
    new_load_point_gdf = pd.merge(new_load_point_gdf,
                                 existing_node_df[['N', 'X', 'Y']],
                                 how = 'left', 
                                 left_on = 'c',
                                 right_on = 'N')
    
    new_load_point_gdf['geometry_c'] = [Point(xy) for xy in zip(new_load_point_gdf['X'], new_load_point_gdf['Y'])]
    new_load_point_gdf.drop(['N', 'X', 'Y'], axis = 1, inplace = True)
    
    #centroid coordinates
    new_centroid_gdf = new_load_point_gdf.copy()[['c', 'geometry_c']]
    new_centroid_gdf.rename(columns = {'c' : 'model_node_id', 'geometry_c' : 'geometry'}, inplace = True)
    new_centroid_gdf.drop_duplicates(['model_node_id'], inplace = True)

    new_centroid_gdf = gpd.GeoDataFrame(new_centroid_gdf)
    
    #inbound cc
    new_cc_gdf = new_load_point_gdf.copy()
    new_cc_gdf['geometry'] = [LineString(xy) for xy in zip(new_cc_gdf['geometry_ld'], new_cc_gdf['geometry_c'])]

    new_cc_gdf["fromIntersectionId"] = new_cc_gdf['shst_node_id']
    new_cc_gdf["shstGeometryId"] = range(1, 1+len(new_cc_gdf))
    new_cc_gdf["shstGeometryId"] = new_cc_gdf["shstGeometryId"].apply(lambda x: "cc" + str(x))
    new_cc_gdf["id"] = new_cc_gdf["shstGeometryId"]
    
    new_cc_gdf = new_cc_gdf.rename(columns = {'model_node_id' : 'A', 
                                              'c' : 'B',
                                             "osm_node_id" : "u"})
    
    #remove duplicates
    new_cc_gdf.drop_duplicates(['A', 'B'], inplace = True)
    
    new_cc_gdf.crs = {'init' : 'epsg:26915'}
    new_cc_gdf = new_cc_gdf.to_crs(epsg = 4326)
    new_centroid_gdf.crs = {'init' : 'epsg:26915'}
    new_centroid_gdf = new_centroid_gdf.to_crs(epsg = 4326)
    
    return new_cc_gdf, new_centroid_gdf

def find_new_load_point(abm_load_ref_df, all_node):
    """
    find the loading points in osm nodes
    
    input: osm node, loading point reference input
    
    output:  dataframe of pairs of centroid and loading point, with point geometry of loading point
    
    works in epsg = 26915
    
    """
    
    all_node_gdf = all_node.copy()
    
    all_node_gdf = all_node_gdf.to_crs(epsg = 26915)
    all_node_gdf["X"] = all_node_gdf["geometry"].apply(lambda g: g.x)
    all_node_gdf["Y"] = all_node_gdf["geometry"].apply(lambda g: g.y)
    
    inventory_node_df = all_node_gdf.copy()
    inventory_node_ref = inventory_node_df[["X", "Y"]].values
    tree_default = cKDTree(inventory_node_ref)
    
    new_load_point_gdf = gpd.GeoDataFrame()
    
    for i in range(len(abm_load_ref_df)):
  
        point = abm_load_ref_df.iloc[i][['X', 'Y']].values
        c_id = abm_load_ref_df.iloc[i]['c']
        n_neigh = abm_load_ref_df.iloc[i]['osm_num_load']
        
        if "c" in all_node_gdf.columns:
            inventory_node_df = all_node_gdf[all_node_gdf.c == c_id].copy().reset_index()
            if len(inventory_node_df) == 0:
                continue
            else:
                inventory_node_ref = inventory_node_df[["X", "Y"]].values
                tree = cKDTree(inventory_node_ref)
           
        else:
            inventory_node_df = all_node_gdf.copy()
            tree = tree_default
         
        
        dd, ii = tree.query(point, k = n_neigh)
        if n_neigh == 1:
            add_gdf = gpd.GeoDataFrame(inventory_node_df[['osm_node_id', "shst_node_id", "model_node_id", 'geometry']].iloc[ii])\
                            .transpose().reset_index(drop = True)
        else:
            add_gdf = gpd.GeoDataFrame(inventory_node_df[['osm_node_id', "shst_node_id", "model_node_id", 'geometry']].iloc[ii])\
                            .reset_index(drop = True)
        add_gdf['c'] = int(abm_load_ref_df.iloc[i]['c'])
        if i == 0:
            new_load_point_gdf = add_gdf.copy()
             
        else:
            new_load_point_gdf = new_load_point_gdf.append(add_gdf, ignore_index=True, sort=False)
    
    return new_load_point_gdf.rename(columns = {'geometry' : 'geometry_ld'})

In [114]:
%%time

taz_buffer1_node_two_geometry_df.rename(columns = {"taz" : "c"}, inplace = True)

taz_drive_cc_group1_gdf, taz_drive_centroid_group1_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf,
                                                                        taz_buffer1_node_two_geometry_df,
                                                                        existing_network_node_gdf)

Wall time: 4min 2s

In [221]:
taz_drive_cc_group1_gdf[taz_drive_cc_group1_gdf.A == 300963]

Empty GeoDataFrame
Columns: [u, shst_node_id, A, geometry_ld, B, geometry_c, geometry, fromIntersectionId, shstGeometryId, id]
Index: []

In [115]:
taz_drive_cc_group1_count_df = taz_drive_cc_group1_gdf.groupby(["B"])["u"].count().reset_index()

taz_group2_list = taz_drive_cc_group1_count_df[
    taz_drive_cc_group1_count_df.u < 3].B.tolist() + \
[c for c in taz_node_gdf.N.tolist() if c not in taz_drive_cc_group1_count_df.B.tolist()]

In [116]:
taz_drive_cc_group1_count_df[taz_drive_cc_group1_count_df.u >= 3].B.nunique()

4551

In [232]:
len(taz_group2_list)

205

In [233]:
%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(assignable_link_gdf.A.tolist() + 
                                                     assignable_link_gdf.A.tolist()))].copy()

taz_drive_cc_group2_gdf, taz_drive_centroid_group2_gdf = generate_centroid_connectors('drive',
                                                                        taz_drop_long_connectors_gdf[taz_drop_long_connectors_gdf.c.isin(taz_group2_list)],
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

Wall time: 1min 21s

In [119]:
taz_drop_long_connectors_gdf

,A,B,NUMLANES,F_JNCTID,T_JNCTID,FRC,NAME,FREEWAY,TOLLRD,ONEWAY,...,geometry,c,non_c,length,length_mean,length_std,length_norm,length_15,length_85,keep
0,1,1002463,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1002463,285.197,223.048,93.423,0.665,127.617,314.907,1
1,1,1002702,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1002702,109.697,223.048,93.423,-1.213,127.617,314.907,1
2,1,1003078,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1003078,351.949,223.048,93.423,1.380,127.617,314.907,1
3,1,1004400,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1004400,183.988,223.048,93.423,-0.418,127.617,314.907,1
4,1,1009833,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1009833,310.792,223.048,93.423,0.939,127.617,314.907,1
5,1,1011503,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1011503,129.608,223.048,93.423,-1.000,127.617,314.907,1
6,1,1012865,0,0,0,0,None,0,None,None,...,LINESTRING (-2116430.484461717 4613514.3841745...,1,1012865,190.106,223.048,93.423,-0.353,127.617,314.907,1
7,2,1007742,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1007742,143.774,228.945,120.212,-0.709,142.061,330.650,1
8,2,1008103,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1008103,330.655,228.945,120.212,0.846,142.061,330.650,1
9,2,1011332,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1011332,433.102,228.945,120.212,1.698,142.061,330.650,1
10,2,1013371,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1013371,330.566,228.945,120.212,0.845,142.061,330.650,1
11,2,1014678,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1014678,205.111,228.945,120.212,-0.198,142.061,330.650,1
12,2,1030515,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1030515,100.272,228.945,120.212,-1.070,142.061,330.650,1
13,2,1030530,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1030530,141.971,228.945,120.212,-0.724,142.061,330.650,1
14,2,1031255,0,0,0,0,None,0,None,None,...,LINESTRING (-2116216.80471594 4612656.45176858...,2,1031255,146.113,228.945,120.212,-0.689,142.061,330.650,1
15,3,1002165,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1002165,268.232,202.206,37.571,1.757,163.919,226.217,1
16,3,1003616,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1003616,217.124,202.206,37.571,0.397,163.919,226.217,1
17,3,1004400,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1004400,163.907,202.206,37.571,-1.019,163.919,226.217,1
18,3,1005495,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1005495,216.648,202.206,37.571,0.384,163.919,226.217,1
19,3,1006288,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1006288,226.696,202.206,37.571,0.652,163.919,226.217,1
20,3,1009796,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1009796,198.176,202.206,37.571,-0.107,163.919,226.217,1
21,3,1012865,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1012865,162.716,202.206,37.571,-1.051,163.919,226.217,1
22,3,1030517,0,0,0,0,None,0,None,None,...,LINESTRING (-2116610.709651835 4613233.4500434...,3,1030517,164.148,202.206,37.571,-1.013,163.919,226.217,1
23,4,1007730,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1007730,368.080,439.944,178.954,-0.402,326.088,560.985,1
24,4,1009057,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1009057,308.091,439.944,178.954,-0.737,326.088,560.985,1
25,4,1028090,0,0,0,0,None,0,None,None,...,LINESTRING (-2109646.490125857 4618177.0282925...,4,1028090,643.659,439.944,178.954,1.138,326.088,560.985,1
26,5,1002165,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1002165,112.275,188.332,76.882,-0.989,116.441,265.425,1
27,5,1003078,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1003078,306.556,188.332,76.882,1.538,116.441,265.425,1
28,5,1003498,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1003498,265.950,188.332,76.882,1.010,116.441,265.425,1
29,5,1006288,0,0,0,0,None,0,None,None,...,LINESTRING (-2116949.779976495 4613194.3625941...,5,1006288,115.871,188.332,76.882,-0.942,116.441,265.425,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178867,900004,4013616,9,0,0,2,CAL 29 - Napa/Lake,0,None,None,...,LINESTRING (-2095498.58987284 4722234.39297846...,900004,4013616,586.763,586.763,nan,nan,586.763,586.763,1
178868,900005,4008102,9,0,0,2,CAL 128 - Napa/Yolo,0,None,None,...,LINESTRING (-2058473.448326681 4687948.0037574...,900005,4008102,160.056,160.056,nan,nan,160.056,160.056,1
178869,900006,3504977,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,LINESTRING (-2044567.682167601 4684788.7118647...,900006,3504977,128.905,113.765,21.411,0.707,103.167,124.363,1
178870,900007,3501135,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,LINESTRING (-2027922.417263354 4679718.8802221...,900007,3501135,221.386,317.629,136.108,-0.707,250.259,384.999,1
178871,900008,3502245,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,LINESTRING (-2024909.785668863 4679994.2176149...,900008,3502245,1816.743,1169.824,914.882,0.707,716.980,1622.667,1
178872,900009,3521560,9,0,0,2,CAL 12 - Solano/Sacramento,0,None,None,...,LINESTRING (-2034884.634689891 4634888.8062048...,900009,3521560,178.428,178.428,nan,nan,178.428,178.428,1
178873,900010,3016324,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,LINESTRING (-2046153.935328996 4621200.2509423...,900010,3016324,58.716,58.455,0.370,0.707,58.271,58.638,1
178874,900011,3069798,9,0,0,2,CAL 4 - Contra Costa/San Joaquin,0,None,None,...,LINESTRING (-2034756.95773731 4600931.45211133...,900011,3069798,160.561,160.561,nan,nan,160.561,160.561,1
178875,900012,2555322,9,0,0,2,CNTY J4 - Alameda/San Joaquin,0,None,None,...,LINESTRING (-2036993.593170344 4589971.5036673...,900012,2555322,235.673,235.673,nan,nan,235.673,235.673,1
178876,900013,2509728,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039137.020182929 4582890.5750117...,900013,2509728,1071.626,919.304,138.890,1.097,824.512,1010.852,1
178877,900013,2560310,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039137.020182929 4582890.5750117...,900013,2560310,934.487,919.304,138.890,0.109,824.512,1010.852,1
178878,900014,2036915,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,LINESTRING (-2033023.617891885 4496875.5620693...,900014,2036915,189.389,188.987,0.569,0.707,188.706,189.269,1
178879,900015,2033921,9,0,0,2,CAL 156 - Santa Clara/San Benito,0,None,None,...,LINESTRING (-2052750.057375004 4489290.0756405...,900015,2033921,316.240,316.240,nan,nan,316.240,316.240,1
178880,900016,2105963,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2064970.207258847 4491722.0615892...,900016,2105963,203.893,202.060,2.592,0.707,200.777,203.343,1
178881,900017,2032120,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2069471.026608494 4489468.4348642...,900017,2032120,60.201,60.933,1.036,-0.707,60.420,61.446,1
178882,900018,2105359,9,0,0,2,CAL 152 - Santa Clara/Santa Cruz,0,None,None,...,LINESTRING (-2082090.65004765 4503518.42215629...,900018,2105359,0.760,0.760,nan,nan,0.760,0.760,1
178883,900019,2035881,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,LINESTRING (-2101020.375358165 4528352.7885299...,900019,2035881,57.793,66.401,12.173,-0.707,60.375,72.426,1
178884,900020,2099887,9,0,0,2,CAL 9 - Santa Clara/Santa Cruz,0,None,None,...,LINESTRING (-2109016.186522019 4545822.3052460...,900020,2099887,42.245,42.245,nan,nan,42.245,42.245,1
178885,900021,1542334,9,0,0,2,CAL 17 - Santa Mateo/Santa Cruz,0,None,None,...,LINESTRING (-2130540.317761698 4533731.6513834...,900021,1542334,223.560,223.560,nan,nan,223.560,223.560,1
474872,2035276,900019,9,0,0,2,CAL 17 - Santa Clara/Santa Cruz,0,None,FT,...,LINESTRING (-2100959.063378338 4528395.9993294...,900019,2035276,75.009,66.401,12.173,0.707,60.375,72.426,1
479050,2036992,900017,9,0,0,2,US 101 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2069439.512226813 4489521.4393991...,900017,2036992,61.666,60.933,1.036,0.707,60.420,61.446,1
480336,2037510,900014,9,0,0,2,CAL 152 - Santa Clara/Merced,0,None,FT,...,LINESTRING (-2033160.598157998 4496745.9443797...,900014,2037510,188.585,188.987,0.569,-0.707,188.706,189.269,1
663737,2112924,900016,9,0,0,2,CAL 25 - Santa Clara/San Benito,0,None,FT,...,LINESTRING (-2065032.372060077 4491912.3937756...,900016,2112924,200.227,202.060,2.592,-0.707,200.777,203.343,1
804920,2552507,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039227.059508482 4583822.8099536...,900013,2552507,936.573,919.304,138.890,0.124,824.512,1010.852,1
817172,2557464,900013,9,0,0,2,I 580/205 - Alameda/San Joaquin,0,None,FT,...,LINESTRING (-2039515.406243816 4583520.1470123...,900013,2557464,734.532,919.304,138.890,-1.330,824.512,1010.852,1
952161,3016164,900010,9,0,0,2,CAL 160 - Contra Costa/Sacramento,0,None,FT,...,LINESTRING (-2046178.148112191 4621147.3344116...,900010,3016164,58.193,58.455,0.370,-0.707,58.271,58.638,1
1119204,3501279,900008,9,0,0,2,I 80 - Solano/Yolo,0,None,FT,...,LINESTRING (-2025067.667731246 4679495.7172737...,900008,3501279,522.905,1169.824,914.882,-0.707,716.980,1622.667,1
1120513,3501725,900007,9,0,0,2,CAL 113 - Solano/Yolo,0,None,FT,...,LINESTRING (-2028087.910400114 4679339.5360442...,900007,3501725,413.872,317.629,136.108,0.707,250.259,384.999,1
1174108,3521293,900006,9,0,0,2,I 505 - Solano/Yolo,0,None,FT,...,LINESTRING (-2044587.319317421 4684692.0615696...,900006,3521293,98.625,113.765,21.411,-0.707,103.167,124.363,1
1313393,4535799,900003,9,0,0,2,US 101 - Sonoma/Mendicino,0,None,FT,...,LINESTRING (-2127322.505996942 4755704.3379469...,900003,4535799,338.807,335.589,4.550,0.707,333.337,337.841,1

In [236]:
taz_drive_cc_group2_gdf[taz_drive_cc_group2_gdf.B == 300963].A.tolist()

[2579949, 2563374, 2604856, 2607569, 2504237]

In [237]:
taz_drive_cc_group2_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 790 entries, 0 to 844
Data columns (total 10 columns):
u                     790 non-null object
shst_node_id          790 non-null object
A                     790 non-null object
geometry_ld           790 non-null object
B                     790 non-null int64
geometry_c            790 non-null object
geometry              790 non-null object
fromIntersectionId    790 non-null object
shstGeometryId        790 non-null object
id                    790 non-null object
dtypes: int64(1), object(9)
memory usage: 67.9+ KB

In [238]:
taz_drive_cc_group1_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 27013 entries, 0 to 31099
Data columns (total 10 columns):
u                     27013 non-null object
shst_node_id          27013 non-null object
A                     27013 non-null object
geometry_ld           27013 non-null object
B                     27013 non-null int64
geometry_c            27013 non-null object
geometry              27013 non-null object
fromIntersectionId    27013 non-null object
shstGeometryId        27013 non-null object
id                    27013 non-null object
dtypes: int64(1), object(9)
memory usage: 2.3+ MB

In [239]:
taz_drive_cc_gdf = pd.concat(
    [taz_drive_cc_group1_gdf, taz_drive_cc_group2_gdf],
    sort = False,
    ignore_index = True
)

taz_drive_cc_gdf.drop_duplicates(subset = ["A", "B"], inplace = True)

taz_drive_cc_gdf["shstGeometryId"] = range(1, 1+len(taz_drive_cc_gdf))
taz_drive_cc_gdf["shstGeometryId"] = taz_drive_cc_gdf["shstGeometryId"].apply(lambda x: "drive_cc" + str(x))
taz_drive_cc_gdf["id"] = taz_drive_cc_gdf["shstGeometryId"]

taz_drive_centroid_gdf = pd.concat(
    [taz_drive_centroid_group1_gdf, taz_drive_centroid_group2_gdf],
    sort = False,
    ignore_index = True
)

taz_drive_centroid_gdf.drop_duplicates(subset = ["model_node_id"], inplace = True)

In [240]:
taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
2,65292019.000,47607b5b93cfe3112c30ca77905ed17c,1007266,POINT (-2116776.151573973 4613447.413254976),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4267436 37.76899790000001, -1...",47607b5b93cfe3112c30ca77905ed17c,drive_cc3,drive_cc3

In [241]:
taz_drive_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 27727 entries, 0 to 27802
Data columns (total 10 columns):
u                     27727 non-null object
shst_node_id          27727 non-null object
A                     27727 non-null object
geometry_ld           27727 non-null object
B                     27727 non-null int64
geometry_c            27727 non-null object
geometry              27727 non-null object
fromIntersectionId    27727 non-null object
shstGeometryId        27727 non-null object
id                    27727 non-null object
dtypes: int64(1), object(9)
memory usage: 2.3+ MB

In [242]:
keep_taz_drive_cc_gdf = get_non_near_connectors(taz_drive_cc_gdf)

keep_taz_drive_cc_gdf = taz_drive_cc_gdf[taz_drive_cc_gdf.id.isin(keep_taz_drive_cc_gdf.id)].copy()

In [243]:
keep_taz_drive_cc_gdf.shape

(16480, 10)

In [244]:
keep_taz_drive_cc_gdf.shape

(16480, 10)

In [245]:
keep_taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
5,378431868.000,e7e0b5fba6a4d11dd2407eb28bf4e90f,1021297,POINT (-2116405.388054292 4613642.497189956),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.423745 37.7715348, -122.42355...",e7e0b5fba6a4d11dd2407eb28bf4e90f,drive_cc6,drive_cc6

In [246]:
keep_taz_drive_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/taz_drive_cc.pickle")
taz_drive_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/taz_drive_centroid.pickle")

In [247]:
keep_taz_drive_cc_gdf.id.nunique()

16480

In [248]:
keep_taz_drive_cc_gdf.B.nunique()

4756

In [249]:
taz_drive_centroid_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4756 entries, 0 to 4920
Data columns (total 2 columns):
model_node_id    4756 non-null int64
geometry         4756 non-null object
dtypes: int64(1), object(1)
memory usage: 111.5+ KB

In [250]:
gpd.GeoDataFrame(keep_taz_drive_cc_gdf[["geometry", "id"]],
                                    geometry = keep_taz_drive_cc_gdf['geometry'], crs = {"init" : "epsg:4326"}).to_file(
    "../../data/interim/step7_centroid_connector/taz_drive.geojson",
                        driver = "GeoJSON")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'd:\\github\\lfs-cleaning\\travel-model-two-networks\\data\\interim\\step7_centroid_connector\\taz_drive.geojson'

walk_node_gdf = node_gdf[(node_gdf.walk_access == 1) & (node_gdf.rail_only != 1)]

new_walk_cc_gdf, new_walk_centroid_gdf = generate_centroid_connectors('walk',
                                                                        taz_connectors_gdf,
                                                                        walk_node_gdf, 
                                                                        taz_node_gdf)

new_walk_centroid_gdf
new_walk_cc_gdf.info()

bike_node_gdf = node_gdf[(node_gdf.bike_access == 1)]

new_bike_cc_gdf, new_bike_centroid_gdf = generate_centroid_connectors('bike',
                                                                        taz_connectors_gdf,
                                                                        bike_node_gdf, 
                                                                        taz_node_gdf)

new_bike_centroid_gdf.info()

new_bike_cc_gdf.info()

In [251]:
taz_cc_link_df, taz_cc_shape_gdf = consolidate_cc(link_gdf,
                                             taz_drive_centroid_gdf,
                                             node_gdf,
                                             keep_taz_drive_cc_gdf)

In [252]:
keep_taz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,1723563906.000,c4f793a9cc09e7ea16381ca307a17bab,1001671,POINT (-2116707.794831044 4613515.833833667),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4263017 37.7697203, -122.4235...",c4f793a9cc09e7ea16381ca307a17bab,drive_cc1,drive_cc1
1,5437876960.000,0166709338db50c787ff1f0cbde03108,1024255,POINT (-2116335.318325921 4613451.919851268),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.4224009 37.7702293, -122.4235...",0166709338db50c787ff1f0cbde03108,drive_cc2,drive_cc2
5,378431868.000,e7e0b5fba6a4d11dd2407eb28bf4e90f,1021297,POINT (-2116405.388054292 4613642.497189956),1,POINT (-2116430.484461717 4613514.38417453),"LINESTRING (-122.423745 37.7715348, -122.42355...",e7e0b5fba6a4d11dd2407eb28bf4e90f,drive_cc6,drive_cc6

In [253]:
taz_cc_shape_gdf.id.nunique()

16480

In [254]:
taz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId
0,cc661,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN
1,cc830,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN
2,cc1710,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN
3,cc323,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN
4,cc494,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN
5,cc501,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN
6,cc1787,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN
7,cc983,"LINESTRING (-122.4178959 37.7384283, -122.4183...",bf84502e995a4ef9d27b4495c35a4584,NaN
8,cc1078,"LINESTRING (-122.4238616 37.80623219999999, -1...",10b851e25ff33b8c166778b14d5d6fed,NaN
9,cc1199,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN
10,cc783,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN
11,cc787,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN
12,cc967,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN
13,cc1904,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN
14,cc16142,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN
15,cc16146,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN
16,cc1432,"LINESTRING (-122.4716382 37.71638109999999, -1...",24e2381cca9d7af65126323136f0b913,NaN
17,cc1848,"LINESTRING (-122.3990962 37.79118880000001, -1...",d695c4675ca212daea3db587b60ea916,NaN
18,cc1555,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN
19,cc1616,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN
20,cc1927,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN
21,cc1905,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN
22,cc899,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN
23,cc317,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN
24,cc16136,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN
25,cc45,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN
26,cc1631,"LINESTRING (-122.4287367 37.7771151, -122.4281...",88ea31b650ecf6e1751eff7f3459db31,NaN
27,cc1236,"LINESTRING (-122.4207875 37.79052830000001, -1...",267afade1946fffec76c151a4adee5d1,NaN
28,cc1603,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN
29,cc16232,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN
...,...,...,...,...
16450,cc16031,"LINESTRING (-122.56898 38.0953095, -122.566050...",0e35c7a1d44fc9552bba677a0eb9bfac,NaN
16451,cc15757,"LINESTRING (-122.5362395 38.04544029999999, -1...",0bfd79dd12da90fc7ed217fd026ad59e,NaN
16452,cc16056,"LINESTRING (-122.5306102 38.01943780000001, -1...",9fe3fdcf14e14672b27dd3df1be3c059,NaN
16453,cc16450,"LINESTRING (-122.5306102 38.01943780000001, -1...",9fe3fdcf14e14672b27dd3df1be3c059,NaN
16454,cc16037,"LINESTRING (-122.5635993 38.070863, -122.55983...",cf967838ade56d450520e203e9d54d04,NaN
16455,cc15846,"LINESTRING (-122.5008028 37.8985381, -122.4963...",3be7e260b582bc979d6d3a8687b10f40,NaN
16456,cc15955,"LINESTRING (-122.5267206 37.9885653, -122.5116...",6ed490a99b96a5c1f2483d9c1258dd9b,NaN
16457,cc16074,"LINESTRING (-122.525902 37.99871310000001, -12...",87da097320c8a9822f3a27e774f6aa08,NaN
16458,cc16051,"LINESTRING (-122.5477046 38.0261628, -122.5490...",115eaab63340e31e160ed3d31dd1e057,NaN
16459,cc15635,"LINESTRING (-122.5240992 38.10633979999999, -1...",5a3180251c7e9cff009f3b1500808e38,NaN
16460,cc16075,"LINESTRING (-122.5274771 37.9955065, -122.5260...",92113c9c9a1df2b8024f242984a9984a,NaN
16461,cc15826,"LINESTRING (-122.5302416 37.92070780000001, -1...",1455655612fb62e43cdecc477abc05c2,NaN
16462,cc15876,"LINESTRING (-122.5413538 37.9575069, -122.5464...",c8202dfb2acc29697324dadbca93d699,NaN
16463,cc15753,"LINESTRING (-122.5551238 38.0857771, -122.5590...",7421d077be5f3a69eb83c16359804263,NaN
16464,cc15988,"LINESTRING (-122.5598332 38.0019892, -122.5563...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN
16465,cc16064,"LINESTRING (-122.5598332 38.0019892, -122.5567...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN
16466,cc15799,"LINESTRING (-122.5090197 37.9643927, -122.5024...",e3727807754e7cb83475258ee5cd351f,NaN
16467,cc15809,"LINESTRING (-122.5090197 37.9643927, -122.5067...",e3727807754e7cb83475258ee5cd351f,NaN
16468,cc15883,"LINESTRING (-122.5000193 37.8666666, -122.4973...",4f43aa554ba14ba3741a264ad070c865,NaN
16469,cc15555,"LINESTRING (-122.5537587 37.87965, -122.541457...",932c1a3e8ded5923f44b8413533a776c,NaN
16470,cc15568,"LINESTRING (-122.6043363 37.90380509999999, -1...",ff27454b7ee2945cbc408e9526616319,NaN
16471,cc15965,"LINESTRING (-122.5473343 38.03344560000001, -1...",018d0a949cb5d2874daff81ba5b11d0d,NaN
16472,cc16050,"LINESTRING (-122.5523545 38.029824, -122.54904...",ca9d2cf6e07b9c0aa3b8cc1f21392045,NaN
16473,cc16089,"LINESTRING (-122.5067797 37.94900749999999, -1...",35e0ce2a15ca87dd985b50590c8cd4a4,NaN
16474,cc15477,"LINESTRING (-122.5188204 37.96221540000001, -1...",ff2becc676a9c4cedab5f099f10a4eee,NaN
16475,cc15624,"LINESTRING (-122.5188204 37.96221540000001, -1...",ff2becc676a9c4cedab5f099f10a4eee,NaN
16476,cc15572,"LINESTRING (-122.5379082 38.0029385, -122.5352...",14965915f21991aa34f40aabcff54712,NaN
16477,cc15641,"LINESTRING (-122.61559 38.1004183, -122.615092...",bdc4168ac410b3d1c594d35e28b8750b,NaN
16478,cc15594,"LINESTRING (-122.557089 37.983423, -122.547631...",b689e4c0b34ac9137082d027c9fe452a,NaN
16479,cc15914,"LINESTRING (-122.557089 37.983423, -122.553838...",b689e4c0b34ac9137082d027c9fe452a,NaN

In [255]:
taz_cc_link_df.shape

(32960, 11)

In [256]:
taz_cc_shape_gdf = gpd.GeoDataFrame(taz_cc_shape_gdf, geometry = taz_cc_shape_gdf['geometry'], crs = {"init" : "epsg:4326"})

taz_cc_shape_gdf.to_file("../../data/interim/step7_centroid_connector/taz.geojson",
                        driver = "GeoJSON")

# get minimum bounding box around polygon
box = polygon.minimum_rotated_rectangle

# get coordinates of polygon vertices
x, y = box.exterior.coords.xy

# get length of bounding box edges
edge_length = (Point(x[0], y[0]).distance(Point(x[1], y[1])), Point(x[1], y[1]).distance(Point(x[2], y[2])))

# get length of polygon as the longest edge of the bounding box
length = max(edge_length)

# get width of polygon as the shortest edge of the bounding box
width = min(edge_length)

# MAZ connectors

In [145]:
maz_poly_buffer1_gdf = maz_poly_gdf.copy()
maz_poly_buffer2_gdf = maz_poly_gdf.copy()

In [146]:
maz_poly_buffer1_gdf["geometry_buffer"] = maz_poly_buffer1_gdf["geometry"].apply(lambda x: buffer1(x))
maz_poly_buffer2_gdf["geometry_buffer"] = maz_poly_buffer2_gdf["geometry"].apply(lambda x: buffer2(x))

In [147]:
maz_poly_buffer1_gdf.rename(columns = {"geometry" : "geometry_orig", "geometry_buffer" : "geometry"}, inplace = True)

maz_buffer1_node_two_geometry_df = gpd.sjoin(node_two_geometry_df, maz_poly_buffer1_gdf[["geometry", "maz"]], 
                                             how = "left", op = "intersects")

In [148]:
maz_buffer1_node_two_geometry_df.sort_values(by = "maz")

,model_node_id,shstGeometryId,osm_node_id,shst_node_id,geometry,index_right,maz
1285,1004522,2,65288883.000,1bb27779a751a0f42dd9b7c3650c31b0,POINT (-122.4404764 37.7493034),0.000,10001.000
2449,1008745,2,65303941.000,95fc2fbc1a4d2c1c4ad5540bd867d923,POINT (-122.4406333 37.7509038),0.000,10001.000
1440,1005165,2,65288881.000,565417a8d1516ac88d1d9c0b33724ffc,POINT (-122.4393904 37.7493692),1.000,10002.000
7056,1025630,2,599157363.000,c5c4c83556a3c226a57f083ff579ae05,POINT (-122.4356195 37.7560731),2.000,10003.000
530,1001867,2,601241643.000,2e1cc2f9a9546a92c603bd8c44432e64,POINT (-122.4345605 37.7560113),4.000,10005.000
2545,1009069,2,65356357.000,15ecec445ac198aa4921fe7c5715a3ee,POINT (-122.434723 37.745612),6.000,10007.000
4881,1017037,2,65327268.000,25ca021446359e3b52e35210fa3f162d,POINT (-122.4336547 37.7464603),6.000,10007.000
6957,1024381,2,2371453146.000,b7f5d312c2cb22678eaac84a2dddb888,POINT (-122.432612 37.746604),6.000,10007.000
282,1000975,2,2371453143.000,20e8eb7d367d016c19a8edbb79024cca,POINT (-122.4326044 37.7465216),6.000,10007.000
1776,1006402,2,65306688.000,9c09c43259ea73cd03d8eefdfb1684cf,POINT (-122.4346224 37.7432226),7.000,10009.000
2159,1007764,2,494521622.000,c2bb0c37223ff658038f0de3c419b59f,POINT (-122.4356168 37.7439898),7.000,10009.000
4869,1017001,2,3921504046.000,889eed8ada64b41b850f54545239b647,POINT (-122.4337882 37.7401448),8.000,10012.000
4217,1014745,2,65306880.000,26599f718e051f02ed17823048f9ed95,POINT (-122.4287614 37.7385083),8.000,10012.000
3591,1012641,2,2320396492.000,9f3706cf444f3224131ff7711f9b9adc,POINT (-122.4336215 37.73984100000001),8.000,10012.000
6502,1022855,2,318299785.000,28ccb75b5f7d5654ac21710cf623e0b7,POINT (-122.4292918 37.7379679),8.000,10012.000
504,1001781,2,65310014.000,ad70263d2a4df47d2d61622fc7fae15c,POINT (-122.4312453 37.73919470000001),8.000,10012.000
328,1001154,2,2320396427.000,f44167c2a8c720515f626818a1ef1b1c,POINT (-122.4337512 37.74014680000001),8.000,10012.000
5325,1018693,2,65289203.000,164bb31e5c3ea7edeccf53a7033f34fa,POINT (-122.4343274 37.7394544),8.000,10012.000
6619,1023243,2,298938951.000,56306d3bf88d40fe58fbb4775ceb2f81,POINT (-122.3911647 37.7526361),9.000,10017.000
6419,1022591,2,1935652920.000,58a6e40cb0f275976abf6a6ebaee8ab2,POINT (-122.39198 37.7501254),9.000,10017.000
814,1002876,2,5637888136.000,90724e44a291befe3652ba0edcb51c5a,POINT (-122.3923421 37.75014210000001),9.000,10017.000
443,1001577,2,65283366.000,d49f27fa2ca099aadedeef38abdcf58b,POINT (-122.392499 37.751285),9.000,10017.000
1386,1004960,2,5637888134.000,9eab831aad3f2ff6643fdc2c2711f408,POINT (-122.3925554 37.7501636),9.000,10017.000
6560,1023040,2,5637888135.000,fcb18a3e5929fc221f125f46a8fb33c9,POINT (-122.3924629 37.7501261),9.000,10017.000
151,1000501,2,340160887.000,1970993deda5d69e308dad2732f8fcd7,POINT (-122.3920144 37.750028),9.000,10017.000
6102,1021388,2,4941850326.000,f32bd26f550bcb98500c498d7cc1ad92,POINT (-122.3917479 37.7525997),9.000,10017.000
111,1000350,2,5637888138.000,e7c64d7835e725e54334e342f12fe480,POINT (-122.3921056 37.75028930000001),9.000,10017.000
6815,1023902,2,65283505.000,f2010785a3698b2748b89d0d3a765fec,POINT (-122.3927828 37.7537182),10.000,10018.000
5637,1019778,2,65286605.000,9bd45dc20c68d018c09724168f81fb27,POINT (-122.392734 37.7531466),10.000,10018.000
6102,1021388,2,4941850326.000,f32bd26f550bcb98500c498d7cc1ad92,POINT (-122.3917479 37.7525997),10.000,10018.000
...,...,...,...,...,...,...,...
126438,5014804,2,110438380.000,fe5de8b5e8f78586771f023e83b81beb,POINT (-122.5516487 38.076541),39722.000,814495.000
123348,5001677,2,110417073.000,ff2a33f6f90ee3643bcdacdbb809df4a,POINT (-122.5520601 38.076871),39722.000,814495.000
123462,5002162,2,4929880952.000,0aaa87c394bfed65aaa658f7865018ec,POINT (-122.5560326 38.0775467),39722.000,814495.000
127197,5018035,2,110365869.000,aefbbe55461cb92f15af678d5feab55f,POINT (-122.6168303 38.1020405),39723.000,814497.000
123558,5002607,2,110379603.000,92bd7bf1b842f742b64de02dd3552b1c,POINT (-122.6170305 38.1034),39723.000,814497.000
123535,5002485,2,110398679.000,52dc9487a609aa62a5914a7d8f8987c7,POINT (-122.6111732 38.1023188),39723.000,814497.000
124967,5008326,2,110398665.000,20f377061d15c2d54f8933626e5cde74,POINT (-122.6073267 38.1042665),39723.000,814497.000
122984,5000224,2,110398682.000,cf6adf725af136e9f54ca049f31b5cba,POINT (-122.6123706 38.102308),39723.000,814497.000
125194,5009342,2,110373997.000,b84b30ce57889841124a983c39d92391,POINT (-122.6084623 38.104841),39723.000,814497.000
127877,5022695,2,1623283060.000,bdc4168ac410b3d1c594d35e28b8750b,POINT (-122.61559 38.1004183),39723.000,814497.000
124543,5006631,2,110379601.000,143c2a465ffbc2b82da60acb6937fc5c,POINT (-122.6176636 38.1032826),39723.000,814497.000
126062,5013039,2,110379606.000,46744004d43d326321fd3f6c6b4fe0b9,POINT (-122.6154617 38.1037345),39723.000,814497.000
127875,5022271,2,1623179984.000,524e69accbc48acb7ddf9052b56a64ed,POINT (-122.6078862 38.10450400000001),39723.000,814497.000
126891,5016735,2,110398667.000,c35db391965327d78f2f304d75d94aab,POINT (-122.6076392 38.1035785),39723.000,814497.000
124889,5008006,2,110398646.000,d69e0a3acb2b6696a3972c3fadce581d,POINT (-122.6140742 38.1016807),39723.000,814497.000
127528,5019574,2,110414342.000,46a21b1f837163de7a9850d08d868627,POINT (-122.5073497 37.89551),39724.000,814500.000
127041,5017376,2,110456334.000,5dfd7d219453cd8f1574c0db68027b6b,POINT (-122.5080515 37.8959833),39724.000,814500.000
126754,5016134,2,110434666.000,a61bd495abccaf0204e7e00b8d2d6341,POINT (-122.5093457 37.8938288),39724.000,814500.000
127059,5017450,2,110376236.000,5174d72af7bf63d0a571f4ffe37abd65,POINT (-122.5138106 37.8910567),39724.000,814500.000
124142,5004929,2,110444366.000,8e28674af7e49840cdc497645ce945ef,POINT (-122.552472 37.914919),39725.000,814506.000
127476,5019298,2,110417107.000,8ac3b2e5ad71986c03297fed78f1c93e,POINT (-122.5529113 37.9167617),39725.000,814506.000
124407,5005994,2,110381676.000,ff4d78a118f53df20a2bda56a7fc7095,POINT (-122.5497356 37.912269),39725.000,814506.000
123058,5000501,2,110417104.000,ddce08307cf17eff95aaa8f902d92340,POINT (-122.552019 37.9149966),39725.000,814506.000
123124,5000781,2,110417100.000,6f1cb1608c8cd32c555922884b2c7e8b,POINT (-122.5511884 37.9141112),39725.000,814506.000
124491,5006411,2,110417095.000,36054a5f5371c953d8da00d0bbdef9e5,POINT (-122.5488712 37.9113882),39725.000,814506.000
126103,5013205,2,110417093.000,45a0644c38133587fff90dde860066c2,POINT (-122.548961 37.9111969),39725.000,814506.000
12342,1521269,2,65432367.000,7c50d095bd00cc2ca95a5db0e3262bfc,POINT (-122.2665072 37.56422),nan,nan
58179,2512615,2,53045204.000,a9c885064a4a7cc2211d75467a1b8abb,POINT (-122.2128024 37.7586684),nan,nan
73008,2570946,2,1313871315.000,17a0e3a3f7f0ed2ae231c8c7d860eb18,POINT (-122.2299791 37.7693349),nan,nan
109137,3547316,2,280821212.000,0019646747644857beb064b64d6d3fa9,POINT (-122.0119214 38.4891356),nan,nan

In [149]:
%%time

maz_buffer1_node_two_geometry_df.rename(columns = {"maz" : "c"}, inplace = True)

maz_drive_cc_group1_gdf, maz_drive_centroid_group1_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf,
                                                                        maz_buffer1_node_two_geometry_df,
                                                                        existing_network_node_gdf)

Wall time: 22min 34s

In [150]:
maz_buffer1_node_two_geometry_df[maz_buffer1_node_two_geometry_df.model_node_id == 1005079]

,model_node_id,shstGeometryId,osm_node_id,shst_node_id,geometry,index_right,c
1418,1005079,2,4000209750.000,e15f4fe887edc6f09cbacdeef040904f,POINT (-122.4166814 37.7507448),2415.000,14214.000
1418,1005079,2,4000209750.000,e15f4fe887edc6f09cbacdeef040904f,POINT (-122.4166814 37.7507448),2413.000,14211.000

In [151]:
maz_drive_cc_group1_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 71467 entries, 0 to 108276
Data columns (total 10 columns):
u                     71467 non-null object
shst_node_id          71467 non-null object
A                     71467 non-null object
geometry_ld           71467 non-null object
B                     71467 non-null int64
geometry_c            71467 non-null object
geometry              71467 non-null object
fromIntersectionId    71467 non-null object
shstGeometryId        71467 non-null object
id                    71467 non-null object
dtypes: int64(1), object(9)
memory usage: 6.0+ MB

In [152]:
maz_buffer1_node_two_geometry_df[maz_buffer1_node_two_geometry_df.c == 10001]

,model_node_id,shstGeometryId,osm_node_id,shst_node_id,geometry,index_right,c
1285,1004522,2,65288883.000,1bb27779a751a0f42dd9b7c3650c31b0,POINT (-122.4404764 37.7493034),0.000,10001.000
2449,1008745,2,65303941.000,95fc2fbc1a4d2c1c4ad5540bd867d923,POINT (-122.4406333 37.7509038),0.000,10001.000

In [153]:
maz_drive_cc_count_df = maz_drive_cc_group1_gdf.groupby(["B"])["u"].count().reset_index()

maz_group2_list = maz_drive_cc_count_df[maz_drive_cc_count_df.u < 2].B.tolist() + \
[c for c in maz_node_gdf.N.tolist() if c not in maz_drive_cc_count_df.B.tolist()]

In [154]:
maz_drive_cc_count_df[maz_drive_cc_count_df.u >= 2].B.nunique()

22596

In [257]:
len(maz_group2_list)

17130

In [258]:
%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "trunk_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(assignable_link_gdf.A.tolist() + 
                                                     assignable_link_gdf.A.tolist()))].copy()

maz_drive_cc_group2_gdf, maz_drive_centroid_group2_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf[maz_drop_long_connectors_gdf.c.isin(maz_group2_list)],
                                                                        drive_node_gdf,
                                                                        existing_network_node_gdf)

Wall time: 54min 4s

In [259]:
maz_drive_cc_group2_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 28592 entries, 0 to 41434
Data columns (total 10 columns):
u                     28592 non-null object
shst_node_id          28592 non-null object
A                     28592 non-null object
geometry_ld           28592 non-null object
B                     28592 non-null int64
geometry_c            28592 non-null object
geometry              28592 non-null object
fromIntersectionId    28592 non-null object
shstGeometryId        28592 non-null object
id                    28592 non-null object
dtypes: int64(1), object(9)
memory usage: 2.4+ MB

In [260]:
maz_drive_cc_gdf = pd.concat(
    [maz_drive_cc_group1_gdf, maz_drive_cc_group2_gdf],
    sort = False,
    ignore_index = True
)

maz_drive_cc_gdf.drop_duplicates(subset = ["A", "B"], inplace = True)

maz_drive_centroid_gdf = pd.concat(
    [maz_drive_centroid_group1_gdf, maz_drive_centroid_group2_gdf],
    sort = False,
    ignore_index = True
)

maz_drive_centroid_gdf.drop_duplicates(subset = ["model_node_id"], inplace = True)

In [261]:
maz_drive_cc_gdf.head(3)

,u,shst_node_id,A,geometry_ld,B,geometry_c,geometry,fromIntersectionId,shstGeometryId,id
0,65288883.000,1bb27779a751a0f42dd9b7c3650c31b0,1004522,POINT (-2118792.35268053 4611634.728435045),10001,POINT (-2118816.58475166 4611740.259631149),"LINESTRING (-122.4404764 37.7493034, -122.4410...",1bb27779a751a0f42dd9b7c3650c31b0,cc1,cc1
1,65288881.000,565417a8d1516ac88d1d9c0b33724ffc,1005165,POINT (-2118691.601076762 4611608.276112062),10002,POINT (-2118617.785452967 4611688.247021644),"LINESTRING (-122.4393904 37.7493692, -122.4389...",565417a8d1516ac88d1d9c0b33724ffc,cc3,cc3
2,599157363.000,c5c4c83556a3c226a57f083ff579ae05,1025630,POINT (-2118086.908593064 4612253.551938111),10003,POINT (-2118117.395978091 4612355.835871712),"LINESTRING (-122.4356195 37.75607309999999, -1...",c5c4c83556a3c226a57f083ff579ae05,cc5,cc5

In [262]:
maz_drive_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 92228 entries, 0 to 100055
Data columns (total 10 columns):
u                     92228 non-null object
shst_node_id          92228 non-null object
A                     92228 non-null object
geometry_ld           92228 non-null object
B                     92228 non-null int64
geometry_c            92228 non-null object
geometry              92228 non-null object
fromIntersectionId    92228 non-null object
shstGeometryId        92228 non-null object
id                    92228 non-null object
dtypes: int64(1), object(9)
memory usage: 7.7+ MB

In [124]:
maz_drive_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 98881 entries, 0 to 105259
Data columns (total 10 columns):
u                     98881 non-null object
shst_node_id          98881 non-null object
A                     98881 non-null object
geometry_ld           98881 non-null object
B                     98881 non-null int64
geometry_c            98881 non-null object
geometry              98881 non-null object
fromIntersectionId    98881 non-null object
shstGeometryId        98881 non-null object
id                    98881 non-null object
dtypes: int64(1), object(9)
memory usage: 8.3+ MB

In [263]:
keep_maz_drive_cc_gdf = get_non_near_connectors(maz_drive_cc_gdf)

keep_maz_drive_cc_gdf = maz_drive_cc_gdf[maz_drive_cc_gdf.id.isin(keep_maz_drive_cc_gdf.id)].copy()

In [267]:
keep_maz_drive_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_drive_cc.pickle")
maz_drive_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_drive_centroid.pickle")

%%time

exclude_links_df = link_gdf[link_gdf.roadway.isin(["motorway_link", "motorway", "trunk", "truck_link"])]

drive_node_gdf = node_gdf[(node_gdf.drive_access == 1) & 
                          ~(node_gdf.osm_node_id.isin(exclude_links_df.u.tolist() + 
                              exclude_links_df.v.tolist())) &
                         (node_gdf.model_node_id.isin(two_assignable_way_node_list))].copy()

maz_drive_cc_gdf, maz_drive_centroid_gdf = generate_centroid_connectors('drive',
                                                                        maz_drop_long_connectors_gdf,
                                                                        drive_node_gdf, 
                                                                        existing_network_node_gdf)

In [264]:
keep_maz_drive_cc_gdf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [265]:
keep_maz_drive_cc_gdf.B.nunique()

39721

In [266]:
maz_drive_centroid_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 39721 entries, 0 to 51455
Data columns (total 2 columns):
model_node_id    39721 non-null int64
geometry         39721 non-null object
dtypes: int64(1), object(1)
memory usage: 931.0+ KB

In [268]:
keep_maz_drive_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_drive.geojson",
                        driver = "GeoJSON")

In [269]:
maz_drop_long_connectors_gdf.c.min()

10001

In [130]:
%%time

walk_node_gdf = node_gdf[(node_gdf.walk_access == 1) & (node_gdf.rail_only != 1)]

maz_walk_cc_gdf, maz_walk_centroid_gdf = generate_centroid_connectors('walk',
                                                                        maz_drop_long_connectors_gdf,
                                                                        walk_node_gdf, 
                                                                        maz_node_gdf)

Wall time: 2h 11min 45s

In [131]:
maz_walk_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_walk_cc.pickle")
maz_walk_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_walk_centroid.pickle")

In [132]:
%%time

bike_node_gdf = node_gdf[(node_gdf.bike_access == 1)]

maz_bike_cc_gdf, maz_bike_centroid_gdf = generate_centroid_connectors('bike',
                                                                        maz_drop_long_connectors_gdf,
                                                                        bike_node_gdf, 
                                                                        maz_node_gdf)

Wall time: 2h 2min 42s

In [133]:
maz_bike_cc_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_bike_cc.pickle")
maz_bike_centroid_gdf.to_pickle("../../data/interim/step7_centroid_connector/maz_bike_centroid.pickle")

In [134]:
maz_bike_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_bike.geojson",
                        driver = "GeoJSON")
maz_walk_cc_gdf[["geometry"]].to_file("../../data/interim/step7_centroid_connector/maz_walk.geojson",
                        driver = "GeoJSON")

In [135]:
print(maz_walk_centroid_gdf.shape)
maz_walk_cc_gdf.info()

(39726, 2)
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 198630 entries, 0 to 198629
Data columns (total 10 columns):
u                     198630 non-null float64
shst_node_id          198630 non-null object
A                     198630 non-null int64
geometry_ld           198630 non-null object
B                     198630 non-null int64
geometry_c            198630 non-null object
geometry              198630 non-null object
fromIntersectionId    198630 non-null object
shstGeometryId        198630 non-null object
id                    198630 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 16.7+ MB

In [136]:
maz_walk_cc_gdf.B.nunique()

39726

In [137]:
print(maz_bike_centroid_gdf.shape)
maz_bike_cc_gdf.info()

(39726, 2)
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 198630 entries, 0 to 198629
Data columns (total 10 columns):
u                     198630 non-null float64
shst_node_id          198630 non-null object
A                     198630 non-null int64
geometry_ld           198630 non-null object
B                     198630 non-null int64
geometry_c            198630 non-null object
geometry              198630 non-null object
fromIntersectionId    198630 non-null object
shstGeometryId        198630 non-null object
id                    198630 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 16.7+ MB

In [143]:
# leave previously disconnected 5 MAZs disconnected

maz_bike_cc_gdf = maz_bike_cc_gdf[~maz_bike_cc_gdf.B.isin([10186, 16084, 111432, 111433, 411178])]
maz_walk_cc_gdf = maz_walk_cc_gdf[~maz_walk_cc_gdf.B.isin([10186, 16084, 111432, 111433, 411178])]

In [257]:
keep_maz_drive_cc_gdf[keep_maz_drive_cc_gdf.A.isin([10186, 16084, 111432, 111433, 411178])]

Empty GeoDataFrame
Columns: [u, shst_node_id, A, geometry_ld, B, geometry_c, geometry, fromIntersectionId, shstGeometryId, id]
Index: []

In [150]:
maz_drive_centroid_gdf[maz_drive_centroid_gdf.model_node_id.isin([10186, 16084, 111432, 111433, 411178])]

Empty GeoDataFrame
Columns: [model_node_id, geometry]
Index: []

In [187]:
maz_walk_cc_gdf = pd.read_pickle("../../data/interim/step7_centroid_connector/maz_walk_cc.pickle")
maz_walk_centroid_gdf = pd.read_pickle("../../data/interim/step7_centroid_connector/maz_walk_centroid.pickle")

maz_bike_cc_gdf = pd.read_pickle("../../data/interim/step7_centroid_connector/maz_bike_cc.pickle")

In [270]:
maz_bike_cc_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 198630 entries, 0 to 198629
Data columns (total 10 columns):
u                     198630 non-null float64
shst_node_id          198630 non-null object
A                     198630 non-null int64
geometry_ld           198630 non-null object
B                     198630 non-null int64
geometry_c            198630 non-null object
geometry              198630 non-null object
fromIntersectionId    198630 non-null object
shstGeometryId        198630 non-null object
id                    198630 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 16.7+ MB

In [271]:
maz_cc_link_df, maz_cc_shape_gdf = consolidate_cc(link_gdf,
                                             maz_drive_centroid_gdf,
                                             node_gdf,
                                             keep_maz_drive_cc_gdf, 
                                             maz_walk_cc_gdf, 
                                             maz_bike_cc_gdf, 
                                             )

In [272]:
maz_cc_link_df.info()
maz_cc_shape_gdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531534 entries, 0 to 531533
Data columns (total 11 columns):
A                     531534 non-null int64
B                     531534 non-null int64
drive_access          175936 non-null float64
walk_access           510204 non-null float64
bike_access           506798 non-null float64
shstGeometryId        531534 non-null object
id                    531534 non-null object
u                     265767 non-null float64
v                     265767 non-null float64
fromIntersectionId    265767 non-null object
toIntersectionId      265767 non-null object
dtypes: float64(5), int64(2), object(4)
memory usage: 44.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 265767 entries, 0 to 265766
Data columns (total 4 columns):
id                    265767 non-null object
geometry              265767 non-null object
fromIntersectionId    265767 non-null object
toIntersectionId      0 non-null object
dtypes: object(4)
memory usage: 10.1+ MB

In [273]:
maz_cc_shape_gdf["id"] = "maz_" + maz_cc_shape_gdf["id"]
maz_cc_shape_gdf["shstGeometryId"] = maz_cc_shape_gdf["id"]
maz_cc_link_df["id"] = "maz_" + maz_cc_link_df["id"]
maz_cc_link_df["shstGeometryId"] = maz_cc_link_df["id"]
maz_cc_link_df["roadway"] = "maz"

In [274]:
taz_cc_shape_gdf["id"] = "taz_" + taz_cc_shape_gdf["id"]
taz_cc_shape_gdf["shstGeometryId"] = taz_cc_shape_gdf["id"]
taz_cc_link_df["id"] = "taz_" + taz_cc_link_df["id"]
taz_cc_link_df["shstGeometryId"] = taz_cc_link_df["id"]
taz_cc_link_df["roadway"] = "taz"

In [275]:
taz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId
0,taz_cc661,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc661
1,taz_cc830,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc830
2,taz_cc1710,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc1710
3,taz_cc323,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,taz_cc323
4,taz_cc494,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz_cc494
5,taz_cc501,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz_cc501
6,taz_cc1787,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN,taz_cc1787
7,taz_cc983,"LINESTRING (-122.4178959 37.7384283, -122.4183...",bf84502e995a4ef9d27b4495c35a4584,NaN,taz_cc983
8,taz_cc1078,"LINESTRING (-122.4238616 37.80623219999999, -1...",10b851e25ff33b8c166778b14d5d6fed,NaN,taz_cc1078
9,taz_cc1199,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN,taz_cc1199
10,taz_cc783,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc783
11,taz_cc787,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc787
12,taz_cc967,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc967
13,taz_cc1904,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc1904
14,taz_cc16142,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc16142
15,taz_cc16146,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc16146
16,taz_cc1432,"LINESTRING (-122.4716382 37.71638109999999, -1...",24e2381cca9d7af65126323136f0b913,NaN,taz_cc1432
17,taz_cc1848,"LINESTRING (-122.3990962 37.79118880000001, -1...",d695c4675ca212daea3db587b60ea916,NaN,taz_cc1848
18,taz_cc1555,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN,taz_cc1555
19,taz_cc1616,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz_cc1616
20,taz_cc1927,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN,taz_cc1927
21,taz_cc1905,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN,taz_cc1905
22,taz_cc899,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN,taz_cc899
23,taz_cc317,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz_cc317
24,taz_cc16136,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz_cc16136
25,taz_cc45,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN,taz_cc45
26,taz_cc1631,"LINESTRING (-122.4287367 37.7771151, -122.4281...",88ea31b650ecf6e1751eff7f3459db31,NaN,taz_cc1631
27,taz_cc1236,"LINESTRING (-122.4207875 37.79052830000001, -1...",267afade1946fffec76c151a4adee5d1,NaN,taz_cc1236
28,taz_cc1603,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN,taz_cc1603
29,taz_cc16232,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz_cc16232
...,...,...,...,...,...
16450,taz_cc16031,"LINESTRING (-122.56898 38.0953095, -122.566050...",0e35c7a1d44fc9552bba677a0eb9bfac,NaN,taz_cc16031
16451,taz_cc15757,"LINESTRING (-122.5362395 38.04544029999999, -1...",0bfd79dd12da90fc7ed217fd026ad59e,NaN,taz_cc15757
16452,taz_cc16056,"LINESTRING (-122.5306102 38.01943780000001, -1...",9fe3fdcf14e14672b27dd3df1be3c059,NaN,taz_cc16056
16453,taz_cc16450,"LINESTRING (-122.5306102 38.01943780000001, -1...",9fe3fdcf14e14672b27dd3df1be3c059,NaN,taz_cc16450
16454,taz_cc16037,"LINESTRING (-122.5635993 38.070863, -122.55983...",cf967838ade56d450520e203e9d54d04,NaN,taz_cc16037
16455,taz_cc15846,"LINESTRING (-122.5008028 37.8985381, -122.4963...",3be7e260b582bc979d6d3a8687b10f40,NaN,taz_cc15846
16456,taz_cc15955,"LINESTRING (-122.5267206 37.9885653, -122.5116...",6ed490a99b96a5c1f2483d9c1258dd9b,NaN,taz_cc15955
16457,taz_cc16074,"LINESTRING (-122.525902 37.99871310000001, -12...",87da097320c8a9822f3a27e774f6aa08,NaN,taz_cc16074
16458,taz_cc16051,"LINESTRING (-122.5477046 38.0261628, -122.5490...",115eaab63340e31e160ed3d31dd1e057,NaN,taz_cc16051
16459,taz_cc15635,"LINESTRING (-122.5240992 38.10633979999999, -1...",5a3180251c7e9cff009f3b1500808e38,NaN,taz_cc15635
16460,taz_cc16075,"LINESTRING (-122.5274771 37.9955065, -122.5260...",92113c9c9a1df2b8024f242984a9984a,NaN,taz_cc16075
16461,taz_cc15826,"LINESTRING (-122.5302416 37.92070780000001, -1...",1455655612fb62e43cdecc477abc05c2,NaN,taz_cc15826
16462,taz_cc15876,"LINESTRING (-122.5413538 37.9575069, -122.5464...",c8202dfb2acc29697324dadbca93d699,NaN,taz_cc15876
16463,taz_cc15753,"LINESTRING (-122.5551238 38.0857771, -122.5590...",7421d077be5f3a69eb83c16359804263,NaN,taz_cc15753
16464,taz_cc15988,"LINESTRING (-122.5598332 38.0019892, -122.5563...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN,taz_cc15988
16465,taz_cc16064,"LINESTRING (-122.5598332 38.0019892, -122.5567...",df28481bb55e4cdb8ab438bf7f6aa8b6,NaN,taz_cc16064
16466,taz_cc15799,"LINESTRING (-122.5090197 37.9643927, -122.5024...",e3727807754e7cb83475258ee5cd351f,NaN,taz_cc15799
16467,taz_cc15809,"LINESTRING (-122.5090197 37.9643927, -122.5067...",e3727807754e7cb83475258ee5cd351f,NaN,taz_cc15809
16468,taz_cc15883,"LINESTRING (-122.5000193 37.8666666, -122.4973...",4f43aa554ba14ba3741a264ad070c865,NaN,taz_cc15883
16469,taz_cc15555,"LINESTRING (-122.5537587 37.87965, -122.541457...",932c1a3e8ded5923f44b8413533a776c,NaN,taz_cc15555
16470,taz_cc15568,"LINESTRING (-122.6043363 37.90380509999999, -1...",ff27454b7ee2945cbc408e9526616319,NaN,taz_cc15568
16471,taz_cc15965,"LINESTRING (-122.5473343 38.03344560000001, -1...",018d0a949cb5d2874daff81ba5b11d0d,NaN,taz_cc15965
16472,taz_cc16050,"LINESTRING (-122.5523545 38.029824, -122.54904...",ca9d2cf6e07b9c0aa3b8cc1f21392045,NaN,taz_cc16050
16473,taz_cc16089,"LINESTRING (-122.5067797 37.94900749999999, -1...",35e0ce2a15ca87dd985b50590c8cd4a4,NaN,taz_cc16089
16474,taz_cc15477,"LINESTRING (-122.5188204 37.96221540000001, -1...",ff2becc676a9c4cedab5f099f10a4eee,NaN,taz_cc15477
16475,taz_cc15624,"LINESTRING (-122.5188204 37.96221540000001, -1...",ff2becc676a9c4cedab5f099f10a4eee,NaN,taz_cc15624
16476,taz_cc15572,"LINESTRING (-122.5379082 38.0029385, -122.5352...",14965915f21991aa34f40aabcff54712,NaN,taz_cc15572
16477,taz_cc15641,"LINESTRING (-122.61559 38.1004183, -122.615092...",bdc4168ac410b3d1c594d35e28b8750b,NaN,taz_cc15641
16478,taz_cc15594,"LINESTRING (-122.557089 37.983423, -122.547631...",b689e4c0b34ac9137082d027c9fe452a,NaN,taz_cc15594
16479,taz_cc15914,"LINESTRING (-122.557089 37.983423, -122.553838...",b689e4c0b34ac9137082d027c9fe452a,NaN,taz_cc15914

In [276]:
maz_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId
0,maz_cc1700,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc1700
1,maz_cc93326,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc93326
2,maz_cc4885,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,maz_cc4885
3,maz_cc1147,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,maz_cc1147
4,maz_cc94193,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,maz_cc94193
5,maz_cc634,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc634
6,maz_cc91938,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc91938
7,maz_cc2294,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,maz_cc2294
8,maz_cc89374,"LINESTRING (-122.3999294 37.72571270000001, -1...",798cae7a1d2ac00f3460b6f1452ee01d,NaN,maz_cc89374
9,maz_cc88470,"LINESTRING (-122.4718894 37.75600090000002, -1...",2ceb892d1ee28b7a727941abe880a46f,NaN,maz_cc88470
10,maz_cc98930,"LINESTRING (-122.4225309 37.74794210000001, -1...",da5017cf77a0ef3513b0a1dbfe6d0534,NaN,maz_cc98930
11,maz_cc3400,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,maz_cc3400
12,maz_cc4585,"LINESTRING (-122.4089677 37.74563609999999, -1...",d86f4ace331185501ff11866cb3349df,NaN,maz_cc4585
13,maz_cc200,"LINESTRING (-122.4072972 37.7820986, -122.4087...",372e280074d00e16ebdcfa6cc52f8845,NaN,maz_cc200
14,maz_cc1587,"LINESTRING (-122.4072972 37.7820986, -122.4072...",372e280074d00e16ebdcfa6cc52f8845,NaN,maz_cc1587
15,maz_cc90950,"LINESTRING (-122.4205732 37.73720700000001, -1...",e6acf71b380ae3f38d711543b6da7933,NaN,maz_cc90950
16,maz_cc255446,"LINESTRING (-122.4704854 37.7325705, -122.4710...",050c27d844a667c66eda78be20b484c4,NaN,maz_cc255446
17,maz_cc70555,"LINESTRING (-122.4737141 37.77679440000001, -1...",687bce88c4bbcfb8bf6a7839e333b611,NaN,maz_cc70555
18,maz_cc70604,"LINESTRING (-122.4737141 37.77679440000001, -1...",687bce88c4bbcfb8bf6a7839e333b611,NaN,maz_cc70604
19,maz_cc232,"LINESTRING (-122.4178959 37.7384283, -122.4172...",bf84502e995a4ef9d27b4495c35a4584,NaN,maz_cc232
20,maz_cc1132,"LINESTRING (-122.4178959 37.7384283, -122.4202...",bf84502e995a4ef9d27b4495c35a4584,NaN,maz_cc1132
21,maz_cc4620,"LINESTRING (-122.4178959 37.7384283, -122.4182...",bf84502e995a4ef9d27b4495c35a4584,NaN,maz_cc4620
22,maz_cc96061,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc96061
23,maz_cc98187,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc98187
24,maz_cc98618,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc98618
25,maz_cc102127,"LINESTRING (-122.4326746 37.77470240000001, -1...",3fe9a253eb3f5ffc64892e29f6ac6ec0,NaN,maz_cc102127
26,maz_cc89471,"LINESTRING (-122.3923734 37.7856754, -122.3913...",fbcb32431644a8a9ce7c22004734aee5,NaN,maz_cc89471
27,maz_cc100130,"LINESTRING (-122.3923734 37.7856754, -122.3921...",fbcb32431644a8a9ce7c22004734aee5,NaN,maz_cc100130
28,maz_cc5402,"LINESTRING (-122.4238616 37.80623219999999, -1...",10b851e25ff33b8c166778b14d5d6fed,NaN,maz_cc5402
29,maz_cc3727,"LINESTRING (-122.427484 37.7705796, -122.42774...",353d40605cbeca10c486013810a08663,NaN,maz_cc3727
...,...,...,...,...,...
265737,maz_cc253314,"LINESTRING (-122.877464 38.259812, -122.870968...",82779bf5a2410ad03582e4c0af5a058a,NaN,maz_cc253314
265738,maz_cc254352,"LINESTRING (-122.5593918 38.1009182, -122.5599...",cf4994e2f1786e05c102508048e2ee43,NaN,maz_cc254352
265739,maz_cc248791,"LINESTRING (-122.5219302 38.05660439999999, -1...",95a9a77b2cc22986fb54a02c4c470cb9,NaN,maz_cc248791
265740,maz_cc254977,"LINESTRING (-122.5333151 37.93419609999999, -1...",2a662e4e79ce57de0fd654efb3a989bc,NaN,maz_cc254977
265741,maz_cc251544,"LINESTRING (-122.529345 37.945322, -122.529000...",4a3525481bd90d5619debf920ce39de3,NaN,maz_cc251544
265742,maz_cc252417,"LINESTRING (-122.5055449 37.9489767, -122.5058...",8a5740a98d7b9cdf414cf94373dc64ba,NaN,maz_cc252417
265743,maz_cc254260,"LINESTRING (-122.5628328 37.9739166, -122.5630...",0964c2808e31c0993ea2bef0c5ce55e4,NaN,maz_cc254260
265744,maz_cc254497,"LINESTRING (-122.5273565 38.07961260000001, -1...",c2a337f975a7ba3688bffc09bcedb468,NaN,maz_cc254497
265745,maz_cc250347,"LINESTRING (-122.591768 37.9866238, -122.59118...",270008eb0372766a61bc39e2e580ef8d,NaN,maz_cc250347
265746,maz_cc250395,"LINESTRING (-122.5267786 37.9852868, -122.5272...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc250395
265747,maz_cc252201,"LINESTRING (-122.5267786 37.9852868, -122.5263...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc252201
265748,maz_cc253482,"LINESTRING (-122.5131382 37.9048471, -122.5131...",ef287af93022c399901af589f0be66d3,NaN,maz_cc253482
265749,maz_cc253038,"LINESTRING (-122.5256318 37.95144490000001, -1...",0c86f193adf1b238db38143dc6b77410,NaN,maz_cc253038
265750,maz_cc251576,"LINESTRING (-122.5448781 37.9442016, -122.5458...",224ad3832d8b2ebce1b8b373bcfc81a9,NaN,maz_cc251576
265751,maz_cc254903,"LINESTRING (-122.6511097 38.10950980000001, -1...",8e6b814da7d9646170d1db0d8d6c498c,NaN,maz_cc254903
265752,maz_cc249683,"LINESTRING (-122.5483253 37.90679859999999, -1...",a3d3c4c9fe8e774baf8280519c3aab81,NaN,maz_cc249683
265753,maz_cc252187,"LINESTRING (-122.524952 37.973314, -122.524867...",bc3b90103d7c56d71b1d200407e68c01,NaN,maz_cc252187
265754,maz_cc251632,"LINESTRING (-122.5247643 38.0008318, -122.5247...",90391578d2ee1791a9448b347eabfda8,NaN,maz_cc251632
265755,maz_cc251695,"LINESTRING (-122.577554 37.98585199999999, -12...",052cba7f644042a8cdf7586a40fd1c59,NaN,maz_cc251695
265756,maz_cc250740,"LINESTRING (-122.5233627 37.9497102, -122.5225...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc250740
265757,maz_cc251501,"LINESTRING (-122.5233627 37.9497102, -122.5220...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc251501
265758,maz_cc252678,"LINESTRING (-122.5388123 37.9904987, -122.5374...",b7458570f597d4258706da0a0e935a30,NaN,maz_cc252678
265759,maz_cc250037,"LINESTRING (-122.4814345 37.89680300000001, -1...",643b4f423f0682f6fb1f9dc316c73c92,NaN,maz_cc250037
265760,maz_cc249018,"LINESTRING (-122.5382195 37.90647139999999, -1...",64e775a2aa81f99a692c0e14d24d0877,NaN,maz_cc249018
265761,maz_cc252047,"LINESTRING (-122.5251204 37.9622695, -122.5261...",3b4cf2174e85e420942ac8a72821137b,NaN,maz_cc252047
265762,maz_cc254645,"LINESTRING (-122.5339937 37.97254539999999, -1...",76a5f9c2d6475f92407e74851390afcd,NaN,maz_cc254645
265763,maz_cc252071,"LINESTRING (-122.505786 38.014422, -122.507917...",fe0248568538ee4788947378fe2103ee,NaN,maz_cc252071
265764,maz_cc251213,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc251213
265765,maz_cc251499,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc251499
265766,maz_cc252416,"LINESTRING (-122.5057648 37.9487303, -122.5058...",44c53879b5a9797cbb2eff72b5f64699,NaN,maz_cc252416

# number centroid connectors

In [277]:
all_cc_shape_gdf = pd.concat(
    [taz_cc_shape_gdf, maz_cc_shape_gdf],
    sort = False,
    ignore_index = True
)

In [278]:
all_cc_shape_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 282247 entries, 0 to 282246
Data columns (total 5 columns):
id                    282247 non-null object
geometry              282247 non-null object
fromIntersectionId    282247 non-null object
toIntersectionId      0 non-null object
shstGeometryId        282247 non-null object
dtypes: object(5)
memory usage: 10.8+ MB

In [279]:
node_gdf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [280]:
all_cc_shape_gdf = pd.merge(
    all_cc_shape_gdf,
    node_gdf[["shst_node_id", "county"]].rename(columns = {"shst_node_id" : "fromIntersectionId"}),
    how = "left",
    on = "fromIntersectionId"
)

In [281]:
all_cc_shape_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 282247 entries, 0 to 282246
Data columns (total 6 columns):
id                    282247 non-null object
geometry              282247 non-null object
fromIntersectionId    282247 non-null object
toIntersectionId      0 non-null object
shstGeometryId        282247 non-null object
county                282247 non-null object
dtypes: object(6)
memory usage: 15.1+ MB

In [282]:
all_cc_shape_gdf.county.value_counts()

Santa Clara      67566
Alameda          59561
Contra Costa     42265
San Mateo        29733
San Francisco    26608
Sonoma           20503
Solano           19440
Marin            10108
Napa              6463
Name: county, dtype: int64

In [283]:
all_cc_shape_gdf = gpd.GeoDataFrame(all_cc_shape_gdf, geometry = all_cc_shape_gdf.geometry, crs = shape_gdf.crs)

all_cc_shape_gdf = gpd.GeoDataFrame(all_cc_shape_gdf, 
                                             geometry = all_cc_shape_gdf.geometry, 
                                             crs = shape_gdf.crs)

all_cc_shape_gdf = all_cc_shape_gdf.to_crs({'init' : 'epsg:26915'})

all_cc_shape_gdf['X'] = all_cc_shape_gdf['geometry'].apply(lambda p: p.centroid.x)
all_cc_shape_gdf['Y'] = all_cc_shape_gdf['geometry'].apply(lambda p: p.centroid.y)

all_cc_shape_county_gdf = pd.DataFrame()

node_county_matched_gdf = node_gdf.copy()

node_county_matched_gdf = node_county_matched_gdf.to_crs({'init' : 'epsg:26915'})

node_county_matched_gdf['X'] = node_county_matched_gdf.geometry.map(lambda g:g.x)
node_county_matched_gdf['Y'] = node_county_matched_gdf.geometry.map(lambda g:g.y)

node_matched_inventory_ref = node_county_matched_gdf[['X', 'Y']].values
node_matched_tree = cKDTree(node_matched_inventory_ref)

for i in range(len(all_cc_shape_gdf)):
    point = all_cc_shape_gdf.iloc[i][['X', 'Y']].values
    dd, ii = node_matched_tree.query(point, k = 1)
    add_snap_gdf = gpd.GeoDataFrame(node_county_matched_gdf.iloc[ii][["county"]]).transpose().reset_index(drop = True)
    
    add_snap_gdf = pd.concat([add_snap_gdf,
                              all_cc_shape_gdf.iloc[[i]].reset_index(drop = True)], 
                               axis = 1) 
    
    if i == 0:
        all_cc_shape_county_gdf = add_snap_gdf.copy()
    else:
        all_cc_shape_county_gdf = all_cc_shape_county_gdf.append(add_snap_gdf, ignore_index=True, sort=False)

In [284]:
all_cc_link_df = pd.concat(
    [taz_cc_link_df, maz_cc_link_df],
    sort = False,
    ignore_index = True
)

all_cc_link_df = pd.merge(
    all_cc_link_df,
    all_cc_shape_gdf[["id", "county"]],
    how = "left",
    on = ["id"]
)

all_cc_link_df["drive_access"].fillna(0, inplace = True)
all_cc_link_df["bike_access"].fillna(0, inplace = True)
all_cc_link_df["walk_access"].fillna(0, inplace = True)

all_cc_link_df["drive_access"] = all_cc_link_df["drive_access"].astype(int)
all_cc_link_df["bike_access"] = all_cc_link_df["bike_access"].astype(int)
all_cc_link_df["walk_access"] = all_cc_link_df["walk_access"].astype(int)

all_cc_link_df["rail_only"] = 0

In [285]:
#get the last node and link number of counties

county_last_link_id_df = link_df.groupby("county")["model_link_id"].max().reset_index().rename(
    columns = {"model_link_id" : "county_last_id"})

all_cc_link_df = pd.merge(
    all_cc_link_df,
    county_last_link_id_df,
    how = "left",
    on = "county"
)

all_cc_link_df["model_link_id"] = all_cc_link_df.groupby(["county"]).cumcount() + 1

all_cc_link_df["model_link_id"] = all_cc_link_df["model_link_id"] + all_cc_link_df["county_last_id"]

In [286]:
all_centroid_node_gdf = pd.concat(
    [taz_drive_centroid_gdf, maz_walk_centroid_gdf],
    sort = False,
    ignore_index = True
)

all_centroid_node_gdf["drive_access"] = 1
all_centroid_node_gdf['walk_access'] = 1
all_centroid_node_gdf['bike_access'] = 1
all_centroid_node_gdf['rail_only'] = 0

In [287]:
all_centroid_node_gdf.model_node_id.nunique()

44482

In [288]:
all_centroid_node_gdf

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
0,1,POINT (-122.4235552308525 37.7704613164878),1,1,1,0
1,2,POINT (-122.4185110411505 37.76430798097193),1,1,1,0
2,3,POINT (-122.424376790239 37.76776767513344),1,1,1,0
3,4,POINT (-122.3723843332867 37.82546378616041),1,1,1,0
4,5,POINT (-122.4275951118974 37.7665410065728),1,1,1,0
5,6,POINT (-122.4277080093626 37.76375177913884),1,1,1,0
6,7,POINT (-122.4303984149702 37.76540237440019),1,1,1,0
7,8,POINT (-122.4361556003588 37.76163121820408),1,1,1,0
8,9,POINT (-122.4359169177398 37.75922606474905),1,1,1,0
9,10,POINT (-122.4379402255995 37.75731763424209),1,1,1,0
10,11,POINT (-122.4314442484819 37.75868812300048),1,1,1,0
11,12,POINT (-122.4307091133345 37.75712645065256),1,1,1,0
12,13,POINT (-122.428207414309 37.76049451879438),1,1,1,0
13,14,POINT (-122.4327899176175 37.761021910591),1,1,1,0
14,15,POINT (-122.4232470317898 37.75596930386856),1,1,1,0
15,16,POINT (-122.4234847246762 37.75836629291989),1,1,1,0
16,17,POINT (-122.4237895227873 37.76156923529216),1,1,1,0
17,18,POINT (-122.4186178223739 37.7568947252961),1,1,1,0
18,19,POINT (-122.4191491013098 37.7594315020176),1,1,1,0
19,20,POINT (-122.4194537355783 37.76263444915544),1,1,1,0
20,21,POINT (-122.4193032388286 37.7610342633018),1,1,1,0
21,22,POINT (-122.4192801642239 37.74938119669062),1,1,1,0
22,23,POINT (-122.4170789411079 37.74946277370936),1,1,1,0
23,24,POINT (-122.4196272902942 37.75296892939169),1,1,1,0
24,25,POINT (-122.4174300493116 37.75310517616349),1,1,1,0
25,26,POINT (-122.4215180236158 37.74928140172249),1,1,1,0
26,27,POINT (-122.3963198784259 37.78605400634832),1,1,1,0
27,28,POINT (-122.4088300324461 37.79806708460118),1,1,1,0
28,29,POINT (-122.4140082900854 37.7909400043616),1,1,1,0
29,30,POINT (-122.4111632518842 37.79130124252373),1,1,1,0
...,...,...,...,...,...,...
44452,814414,POINT (-122.697742378115 38.04342135507741),1,1,1,0
44453,814417,POINT (-122.5206899448432 37.95249863563995),1,1,1,0
44454,814419,POINT (-122.5340670135641 37.93422253885898),1,1,1,0
44455,814420,POINT (-122.5306195194855 37.92841472382157),1,1,1,0
44456,814427,POINT (-122.5444177720706 37.98247401099974),1,1,1,0
44457,814428,POINT (-122.5367283181702 37.98512572568904),1,1,1,0
44458,814429,POINT (-122.5490438161254 38.00297916074399),1,1,1,0
44459,814436,POINT (-122.4901040825463 37.95038320501382),1,1,1,0
44460,814437,POINT (-122.5695901438257 37.98699819805161),1,1,1,0
44461,814444,POINT (-122.5299705016758 37.95149368331092),1,1,1,0
44462,814450,POINT (-122.5817226830255 38.09476833244455),1,1,1,0
44463,814452,POINT (-122.5761674169834 38.10982562903089),1,1,1,0
44464,814454,POINT (-122.5738365846948 38.10933984052138),1,1,1,0
44465,814457,POINT (-122.5757047767126 38.08128639352656),1,1,1,0
44466,814458,POINT (-122.5672949915898 38.11194540998151),1,1,1,0
44467,814461,POINT (-122.611853434445 38.0997653246743),1,1,1,0
44468,814462,POINT (-122.6005019695097 38.09662267714659),1,1,1,0
44469,814463,POINT (-122.6060388345963 38.11216354290432),1,1,1,0
44470,814465,POINT (-122.50905530198 37.8643155221216),1,1,1,0
44471,814468,POINT (-122.4991401802864 37.86713179792282),1,1,1,0
44472,814473,POINT (-122.5495960069928 37.86926677603184),1,1,1,0
44473,814474,POINT (-122.5394879509173 37.84026036804138),1,1,1,0
44474,814475,POINT (-122.5100005767214 37.83772827472032),1,1,1,0
44475,814476,POINT (-122.5657090377897 38.08418676235792),1,1,1,0
44476,814478,POINT (-122.5400156530203 38.07559011211026),1,1,1,0
44477,814481,POINT (-122.5432184738051 38.06313552651746),1,1,1,0
44478,814495,POINT (-122.5531544596074 38.07583122276782),1,1,1,0
44479,814497,POINT (-122.6098511643682 38.10303671509052),1,1,1,0
44480,814500,POINT (-122.5093023721954 37.89107243967375),1,1,1,0
44481,814506,POINT (-122.5494483181225 37.91180605322663),1,1,1,0

In [289]:
all_centroid_node_gdf.model_node_id.nunique()

44482

In [290]:
node_gdf.columns

Index(['osm_node_id', 'shst_node_id', 'county', 'drive_access', 'walk_access',
       'bike_access', 'model_node_id', 'rail_only', 'geometry'],
      dtype='object')

In [291]:
all_cc_link_df

,A,B,drive_access,walk_access,bike_access,shstGeometryId,id,u,v,fromIntersectionId,toIntersectionId,roadway,county,rail_only,county_last_id,model_link_id
0,1000000,205,1,0,0,taz_cc661,taz_cc661,65308539.000,nan,55d370526a55a5d348e23751aad86ac0,NaN,taz,San Francisco,0,74758,74759
1,1000000,263,1,0,0,taz_cc830,taz_cc830,65308539.000,nan,55d370526a55a5d348e23751aad86ac0,NaN,taz,San Francisco,0,74758,74760
2,1000000,544,1,0,0,taz_cc1710,taz_cc1710,65308539.000,nan,55d370526a55a5d348e23751aad86ac0,NaN,taz,San Francisco,0,74758,74761
3,1000001,98,1,0,0,taz_cc323,taz_cc323,65344363.000,nan,5c7c469988248e3572b82b39c894dfd6,NaN,taz,San Francisco,0,74758,74762
4,1000003,153,1,0,0,taz_cc494,taz_cc494,65288594.000,nan,7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz,San Francisco,0,74758,74763
5,1000003,155,1,0,0,taz_cc501,taz_cc501,65288594.000,nan,7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz,San Francisco,0,74758,74764
6,1000010,568,1,0,0,taz_cc1787,taz_cc1787,5429618398.000,nan,372e280074d00e16ebdcfa6cc52f8845,NaN,taz,San Francisco,0,74758,74765
7,1000021,313,1,0,0,taz_cc983,taz_cc983,65293731.000,nan,bf84502e995a4ef9d27b4495c35a4584,NaN,taz,San Francisco,0,74758,74766
8,1000025,345,1,0,0,taz_cc1078,taz_cc1078,65297262.000,nan,10b851e25ff33b8c166778b14d5d6fed,NaN,taz,San Francisco,0,74758,74767
9,1000030,383,1,0,0,taz_cc1199,taz_cc1199,5437461596.000,nan,353d40605cbeca10c486013810a08663,NaN,taz,San Francisco,0,74758,74768
10,1000034,246,1,0,0,taz_cc783,taz_cc783,65297066.000,nan,2ec8823d76afe6b954f92385f1686f97,NaN,taz,San Francisco,0,74758,74769
11,1000034,247,1,0,0,taz_cc787,taz_cc787,65297066.000,nan,2ec8823d76afe6b954f92385f1686f97,NaN,taz,San Francisco,0,74758,74770
12,1000062,307,1,0,0,taz_cc967,taz_cc967,4941620902.000,nan,e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz,San Francisco,0,74758,74771
13,1000062,609,1,0,0,taz_cc1904,taz_cc1904,4941620902.000,nan,e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz,San Francisco,0,74758,74772
14,1000070,144,1,0,0,taz_cc16142,taz_cc16142,65294048.000,nan,32875292f4e712803355ef4f9962bddd,NaN,taz,San Francisco,0,74758,74773
15,1000070,145,1,0,0,taz_cc16146,taz_cc16146,65294048.000,nan,32875292f4e712803355ef4f9962bddd,NaN,taz,San Francisco,0,74758,74774
16,1000080,460,1,0,0,taz_cc1432,taz_cc1432,263990666.000,nan,24e2381cca9d7af65126323136f0b913,NaN,taz,San Francisco,0,74758,74775
17,1000096,588,1,0,0,taz_cc1848,taz_cc1848,5858516708.000,nan,d695c4675ca212daea3db587b60ea916,NaN,taz,San Francisco,0,74758,74776
18,1000115,494,1,0,0,taz_cc1555,taz_cc1555,5440543649.000,nan,f5f698744a695f4a5ad241e18f72af32,NaN,taz,San Francisco,0,74758,74777
19,1000117,513,1,0,0,taz_cc1616,taz_cc1616,65348340.000,nan,bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz,San Francisco,0,74758,74778
20,1000120,619,1,0,0,taz_cc1927,taz_cc1927,65292520.000,nan,64e44320c4e0d6e97a42e9388676ad71,NaN,taz,San Francisco,0,74758,74779
21,1000153,610,1,0,0,taz_cc1905,taz_cc1905,65283638.000,nan,82c41aadd14f4b971c31a080932126b5,NaN,taz,San Francisco,0,74758,74780
22,1000158,285,1,0,0,taz_cc899,taz_cc899,5433624491.000,nan,b734856442a687365125728d25a3c6c1,NaN,taz,San Francisco,0,74758,74781
23,1000181,96,1,0,0,taz_cc317,taz_cc317,4183593262.000,nan,abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz,San Francisco,0,74758,74782
24,1000182,140,1,0,0,taz_cc16136,taz_cc16136,65299663.000,nan,0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz,San Francisco,0,74758,74783
25,1000184,15,1,0,0,taz_cc45,taz_cc45,65302745.000,nan,36011dff4dcab46be83f5e475705c6a2,NaN,taz,San Francisco,0,74758,74784
26,1000209,518,1,0,0,taz_cc1631,taz_cc1631,65316524.000,nan,88ea31b650ecf6e1751eff7f3459db31,NaN,taz,San Francisco,0,74758,74785
27,1000212,393,1,0,0,taz_cc1236,taz_cc1236,1564279887.000,nan,267afade1946fffec76c151a4adee5d1,NaN,taz,San Francisco,0,74758,74786
28,1000250,510,1,0,0,taz_cc1603,taz_cc1603,5433307375.000,nan,b2afb251dcbb9a3f88f733dab605c337,NaN,taz,San Francisco,0,74758,74787
29,1000286,435,1,0,0,taz_cc16232,taz_cc16232,65322710.000,nan,91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz,San Francisco,0,74758,74788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564464,813199,5026420,0,1,1,maz_cc253314,maz_cc253314,nan,110350074.000,NaN,82779bf5a2410ad03582e4c0af5a058a,maz,Marin,0,8063197,8083384
564465,813927,5026426,0,1,1,maz_cc254352,maz_cc254352,nan,2505136512.000,NaN,cf4994e2f1786e05c102508048e2ee43,maz,Marin,0,8063197,8083385
564466,810002,5026435,0,1,1,maz_cc248791,maz_cc248791,nan,110459997.000,NaN,95a9a77b2cc22986fb54a02c4c470cb9,maz,Marin,0,8063197,8083386
564467,814419,5026439,0,1,1,maz_cc254977,maz_cc254977,nan,4932162139.000,NaN,2a662e4e79ce57de0fd654efb3a989bc,maz,Marin,0,8063197,8083387
564468,811927,5026440,0,1,1,maz_cc251544,maz_cc251544,nan,4929933579.000,NaN,4a3525481bd90d5619debf920ce39de3,maz,Marin,0,8063197,8083388
564469,812479,5026446,0,1,1,maz_cc252417,maz_cc252417,nan,5489364254.000,NaN,8a5740a98d7b9cdf414cf94373dc64ba,maz,Marin,0,8063197,8083389
564470,813868,5026447,0,1,1,maz_cc254260,maz_cc254260,nan,4930591001.000,NaN,0964c2808e31c0993ea2bef0c5ce55e4,maz,Marin,0,8063197,8083390
564471,814061,5026454,0,1,0,maz_cc254497,maz_cc254497,nan,3952867051.000,NaN,c2a337f975a7ba3688bffc09bcedb468,maz,Marin,0,8063197,8083391
564472,811055,5026461,0,1,1,maz_cc250347,maz_cc250347,nan,110432902.000,NaN,270008eb0372766a61bc39e2e580ef8d,maz,Marin,0,8063197,8083392
564473,811088,5026462,0,1,1,maz_cc250395,maz_cc250395,nan,5481501756.000,NaN,6274240f7a4d38169d58ff41334d9e31,maz,Marin,0,8063197,8083393
564474,812341,5026462,0,1,1,maz_cc252201,maz_cc252201,nan,5481501756.000,NaN,6274240f7a4d38169d58ff41334d9e31,maz,Marin,0,8063197,8083394
564475,813309,5026463,0,1,1,maz_cc253482,maz_cc253482,nan,5494806564.000,NaN,ef287af93022c399901af589f0be66d3,maz,Marin,0,8063197,8083395
564476,812966,5026472,0,1,1,maz_cc253038,maz_cc253038,nan,110411564.000,NaN,0c86f193adf1b238db38143dc6b77410,maz,Marin,0,8063197,8083396
564477,811967,5026477,0,1,1,maz_cc251576,maz_cc251576,nan,1055317946.000,NaN,224ad3832d8b2ebce1b8b373bcfc81a9,maz,Marin,0,8063197,8083397
564478,814346,5026480,0,1,1,maz_cc254903,maz_cc254903,nan,4930632777.000,NaN,8e6b814da7d9646170d1db0d8d6c498c,maz,Marin,0,8063197,8083398
564479,810594,5026481,0,1,1,maz_cc249683,maz_cc249683,nan,5948081765.000,NaN,a3d3c4c9fe8e774baf8280519c3aab81,maz,Marin,0,8063197,8083399
564480,812335,5026483,0,1,1,maz_cc252187,maz_cc252187,nan,5481501554.000,NaN,bc3b90103d7c56d71b1d200407e68c01,maz,Marin,0,8063197,8083400
564481,811990,5026484,0,1,1,maz_cc251632,maz_cc251632,nan,4932109262.000,NaN,90391578d2ee1791a9448b347eabfda8,maz,Marin,0,8063197,8083401
564482,812038,5026486,0,1,1,maz_cc251695,maz_cc251695,nan,110463417.000,NaN,052cba7f644042a8cdf7586a40fd1c59,maz,Marin,0,8063197,8083402
564483,811318,5026490,0,1,1,maz_cc250740,maz_cc250740,nan,6133986947.000,NaN,6dc3482f11128a440d96a4fa75c0d9ad,maz,Marin,0,8063197,8083403
564484,811895,5026490,0,1,1,maz_cc251501,maz_cc251501,nan,6133986947.000,NaN,6dc3482f11128a440d96a4fa75c0d9ad,maz,Marin,0,8063197,8083404
564485,812661,5026499,0,1,1,maz_cc252678,maz_cc252678,nan,4932156642.000,NaN,b7458570f597d4258706da0a0e935a30,maz,Marin,0,8063197,8083405
564486,810847,5026509,0,1,1,maz_cc250037,maz_cc250037,nan,110386184.000,NaN,643b4f423f0682f6fb1f9dc316c73c92,maz,Marin,0,8063197,8083406
564487,810129,5026510,0,1,1,maz_cc249018,maz_cc249018,nan,5490121736.000,NaN,64e775a2aa81f99a692c0e14d24d0877,maz,Marin,0,8063197,8083407
564488,812262,5026511,0,1,1,maz_cc252047,maz_cc252047,nan,110448372.000,NaN,3b4cf2174e85e420942ac8a72821137b,maz,Marin,0,8063197,8083408
564489,814151,5026514,0,1,1,maz_cc254645,maz_cc254645,nan,4930521201.000,NaN,76a5f9c2d6475f92407e74851390afcd,maz,Marin,0,8063197,8083409
564490,812275,5026519,0,1,1,maz_cc252071,maz_cc252071,nan,110427796.000,NaN,fe0248568538ee4788947378fe2103ee,maz,Marin,0,8063197,8083410
564491,811662,5026522,0,1,1,maz_cc251213,maz_cc251213,nan,1046759315.000,NaN,a53800167102307969b5b6b68cfcf79a,maz,Marin,0,8063197,8083411
564492,811895,5026522,0,1,1,maz_cc251499,maz_cc251499,nan,1046759315.000,NaN,a53800167102307969b5b6b68cfcf79a,maz,Marin,0,8063197,8083412
564493,812479,5026526,0,1,1,maz_cc252416,maz_cc252416,nan,5489364249.000,NaN,44c53879b5a9797cbb2eff72b5f64699,maz,Marin,0,8063197,8083413

In [292]:
all_cc_link_df.columns

Index(['A', 'B', 'drive_access', 'walk_access', 'bike_access',
       'shstGeometryId', 'id', 'u', 'v', 'fromIntersectionId',
       'toIntersectionId', 'roadway', 'county', 'rail_only', 'county_last_id',
       'model_link_id'],
      dtype='object')

In [293]:
all_cc_link_df.id.nunique()

282247

In [294]:
all_cc_link_df.model_link_id.nunique()

564494

In [295]:
all_cc_shape_gdf

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId,county
0,taz_cc661,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc661,San Francisco
1,taz_cc830,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc830,San Francisco
2,taz_cc1710,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc1710,San Francisco
3,taz_cc323,"LINESTRING (-122.4035822 37.73440549999999, -1...",5c7c469988248e3572b82b39c894dfd6,NaN,taz_cc323,San Francisco
4,taz_cc494,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz_cc494,San Francisco
5,taz_cc501,"LINESTRING (-122.4231171 37.73735660000001, -1...",7eaf8516bbeb338c7fc1a89ec32accd2,NaN,taz_cc501,San Francisco
6,taz_cc1787,"LINESTRING (-122.4072972 37.7820986, -122.4055...",372e280074d00e16ebdcfa6cc52f8845,NaN,taz_cc1787,San Francisco
7,taz_cc983,"LINESTRING (-122.4178959 37.7384283, -122.4183...",bf84502e995a4ef9d27b4495c35a4584,NaN,taz_cc983,San Francisco
8,taz_cc1078,"LINESTRING (-122.4238616 37.80623219999999, -1...",10b851e25ff33b8c166778b14d5d6fed,NaN,taz_cc1078,San Francisco
9,taz_cc1199,"LINESTRING (-122.427484 37.7705796, -122.42694...",353d40605cbeca10c486013810a08663,NaN,taz_cc1199,San Francisco
10,taz_cc783,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc783,San Francisco
11,taz_cc787,"LINESTRING (-122.4841439 37.78690979999999, -1...",2ec8823d76afe6b954f92385f1686f97,NaN,taz_cc787,San Francisco
12,taz_cc967,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc967,San Francisco
13,taz_cc1904,"LINESTRING (-122.4067256 37.75756840000001, -1...",e9ea5215d90a8d2a0244d457cb680dd5,NaN,taz_cc1904,San Francisco
14,taz_cc16142,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc16142,San Francisco
15,taz_cc16146,"LINESTRING (-122.4928267 37.75726659999999, -1...",32875292f4e712803355ef4f9962bddd,NaN,taz_cc16146,San Francisco
16,taz_cc1432,"LINESTRING (-122.4716382 37.71638109999999, -1...",24e2381cca9d7af65126323136f0b913,NaN,taz_cc1432,San Francisco
17,taz_cc1848,"LINESTRING (-122.3990962 37.79118880000001, -1...",d695c4675ca212daea3db587b60ea916,NaN,taz_cc1848,San Francisco
18,taz_cc1555,"LINESTRING (-122.4766833 37.75684519999999, -1...",f5f698744a695f4a5ad241e18f72af32,NaN,taz_cc1555,San Francisco
19,taz_cc1616,"LINESTRING (-122.4208164 37.78242320000001, -1...",bc6cf5644d195aaf8b8b27f7ffe9c88c,NaN,taz_cc1616,San Francisco
20,taz_cc1927,"LINESTRING (-122.395382 37.738404, -122.396420...",64e44320c4e0d6e97a42e9388676ad71,NaN,taz_cc1927,San Francisco
21,taz_cc1905,"LINESTRING (-122.3931805 37.76407099999999, -1...",82c41aadd14f4b971c31a080932126b5,NaN,taz_cc1905,San Francisco
22,taz_cc899,"LINESTRING (-122.4257282 37.7770191, -122.4254...",b734856442a687365125728d25a3c6c1,NaN,taz_cc899,San Francisco
23,taz_cc317,"LINESTRING (-122.4117998 37.75264840000001, -1...",abaac61e32bf8a2eebe6cad88a8bdd0c,NaN,taz_cc317,San Francisco
24,taz_cc16136,"LINESTRING (-122.4932174 37.7628624, -122.4899...",0d9a70c80c6b951a1992bb4575ba4c2d,NaN,taz_cc16136,San Francisco
25,taz_cc45,"LINESTRING (-122.4248226 37.7550711, -122.4232...",36011dff4dcab46be83f5e475705c6a2,NaN,taz_cc45,San Francisco
26,taz_cc1631,"LINESTRING (-122.4287367 37.7771151, -122.4281...",88ea31b650ecf6e1751eff7f3459db31,NaN,taz_cc1631,San Francisco
27,taz_cc1236,"LINESTRING (-122.4207875 37.79052830000001, -1...",267afade1946fffec76c151a4adee5d1,NaN,taz_cc1236,San Francisco
28,taz_cc1603,"LINESTRING (-122.4474623 37.7809742, -122.4443...",b2afb251dcbb9a3f88f733dab605c337,NaN,taz_cc1603,San Francisco
29,taz_cc16232,"LINESTRING (-122.4291208 37.79886339999999, -1...",91c2fb11f4e3067dce32536b86d2bfbd,NaN,taz_cc16232,San Francisco
...,...,...,...,...,...,...
282217,maz_cc253314,"LINESTRING (-122.877464 38.259812, -122.870968...",82779bf5a2410ad03582e4c0af5a058a,NaN,maz_cc253314,Marin
282218,maz_cc254352,"LINESTRING (-122.5593918 38.1009182, -122.5599...",cf4994e2f1786e05c102508048e2ee43,NaN,maz_cc254352,Marin
282219,maz_cc248791,"LINESTRING (-122.5219302 38.05660439999999, -1...",95a9a77b2cc22986fb54a02c4c470cb9,NaN,maz_cc248791,Marin
282220,maz_cc254977,"LINESTRING (-122.5333151 37.93419609999999, -1...",2a662e4e79ce57de0fd654efb3a989bc,NaN,maz_cc254977,Marin
282221,maz_cc251544,"LINESTRING (-122.529345 37.945322, -122.529000...",4a3525481bd90d5619debf920ce39de3,NaN,maz_cc251544,Marin
282222,maz_cc252417,"LINESTRING (-122.5055449 37.9489767, -122.5058...",8a5740a98d7b9cdf414cf94373dc64ba,NaN,maz_cc252417,Marin
282223,maz_cc254260,"LINESTRING (-122.5628328 37.9739166, -122.5630...",0964c2808e31c0993ea2bef0c5ce55e4,NaN,maz_cc254260,Marin
282224,maz_cc254497,"LINESTRING (-122.5273565 38.07961260000001, -1...",c2a337f975a7ba3688bffc09bcedb468,NaN,maz_cc254497,Marin
282225,maz_cc250347,"LINESTRING (-122.591768 37.9866238, -122.59118...",270008eb0372766a61bc39e2e580ef8d,NaN,maz_cc250347,Marin
282226,maz_cc250395,"LINESTRING (-122.5267786 37.9852868, -122.5272...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc250395,Marin
282227,maz_cc252201,"LINESTRING (-122.5267786 37.9852868, -122.5263...",6274240f7a4d38169d58ff41334d9e31,NaN,maz_cc252201,Marin
282228,maz_cc253482,"LINESTRING (-122.5131382 37.9048471, -122.5131...",ef287af93022c399901af589f0be66d3,NaN,maz_cc253482,Marin
282229,maz_cc253038,"LINESTRING (-122.5256318 37.95144490000001, -1...",0c86f193adf1b238db38143dc6b77410,NaN,maz_cc253038,Marin
282230,maz_cc251576,"LINESTRING (-122.5448781 37.9442016, -122.5458...",224ad3832d8b2ebce1b8b373bcfc81a9,NaN,maz_cc251576,Marin
282231,maz_cc254903,"LINESTRING (-122.6511097 38.10950980000001, -1...",8e6b814da7d9646170d1db0d8d6c498c,NaN,maz_cc254903,Marin
282232,maz_cc249683,"LINESTRING (-122.5483253 37.90679859999999, -1...",a3d3c4c9fe8e774baf8280519c3aab81,NaN,maz_cc249683,Marin
282233,maz_cc252187,"LINESTRING (-122.524952 37.973314, -122.524867...",bc3b90103d7c56d71b1d200407e68c01,NaN,maz_cc252187,Marin
282234,maz_cc251632,"LINESTRING (-122.5247643 38.0008318, -122.5247...",90391578d2ee1791a9448b347eabfda8,NaN,maz_cc251632,Marin
282235,maz_cc251695,"LINESTRING (-122.577554 37.98585199999999, -12...",052cba7f644042a8cdf7586a40fd1c59,NaN,maz_cc251695,Marin
282236,maz_cc250740,"LINESTRING (-122.5233627 37.9497102, -122.5225...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc250740,Marin
282237,maz_cc251501,"LINESTRING (-122.5233627 37.9497102, -122.5220...",6dc3482f11128a440d96a4fa75c0d9ad,NaN,maz_cc251501,Marin
282238,maz_cc252678,"LINESTRING (-122.5388123 37.9904987, -122.5374...",b7458570f597d4258706da0a0e935a30,NaN,maz_cc252678,Marin
282239,maz_cc250037,"LINESTRING (-122.4814345 37.89680300000001, -1...",643b4f423f0682f6fb1f9dc316c73c92,NaN,maz_cc250037,Marin
282240,maz_cc249018,"LINESTRING (-122.5382195 37.90647139999999, -1...",64e775a2aa81f99a692c0e14d24d0877,NaN,maz_cc249018,Marin
282241,maz_cc252047,"LINESTRING (-122.5251204 37.9622695, -122.5261...",3b4cf2174e85e420942ac8a72821137b,NaN,maz_cc252047,Marin
282242,maz_cc254645,"LINESTRING (-122.5339937 37.97254539999999, -1...",76a5f9c2d6475f92407e74851390afcd,NaN,maz_cc254645,Marin
282243,maz_cc252071,"LINESTRING (-122.505786 38.014422, -122.507917...",fe0248568538ee4788947378fe2103ee,NaN,maz_cc252071,Marin
282244,maz_cc251213,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc251213,Marin
282245,maz_cc251499,"LINESTRING (-122.5215015 37.94814620000002, -1...",a53800167102307969b5b6b68cfcf79a,NaN,maz_cc251499,Marin
282246,maz_cc252416,"LINESTRING (-122.5057648 37.9487303, -122.5058...",44c53879b5a9797cbb2eff72b5f64699,NaN,maz_cc252416,Marin

In [296]:
all_cc_shape_gdf.id.nunique()

282247

all_link_df = pd.concat([link_df,
                        all_cc_link_df],
                       sort = False,
                       ignore_index = True)

all_shape_gdf = pd.concat([shape_gdf,
                          all_cc_shape_gdf],
                         sort = False,
                         ignore_index = True)

In [297]:
#concat centroid and centroid connectors to network

all_link_df = pd.concat([link_df,
                        all_cc_link_df.drop(['county_last_id'], axis = 1)],
                       sort = False,
                       ignore_index = True)

all_shape_gdf = pd.concat([shape_gdf,
                          all_cc_shape_gdf],
                         sort = False,
                         ignore_index = True)

node_gdf = node_gdf.to_crs(epsg = 4326)

all_node_gdf = pd.concat([node_gdf,
                         all_centroid_node_gdf],
                        sort = False,
                        ignore_index = True)

# add length

In [298]:
all_cc_link_gdf = pd.merge(all_cc_link_df, all_cc_shape_gdf[["id", "geometry"]], how = "left", on = "id")

In [299]:
all_cc_link_gdf[all_cc_link_gdf.geometry.isnull()]

Empty DataFrame
Columns: [A, B, drive_access, walk_access, bike_access, shstGeometryId, id, u, v, fromIntersectionId, toIntersectionId, roadway, county, rail_only, county_last_id, model_link_id, geometry]
Index: []

In [300]:
all_cc_link_gdf = gpd.GeoDataFrame(all_cc_link_gdf, 
                                   geometry = all_cc_link_gdf["geometry"], 
                                   crs = shape_gdf.crs)

In [301]:
geom_length = all_cc_link_gdf[['geometry']].copy()
geom_length = geom_length.to_crs(epsg = 26915)
geom_length["length"] = geom_length.length

all_cc_link_gdf["length"] = geom_length["length"]

# add locationreference

In [302]:
all_node_gdf['X'] = all_node_gdf['geometry'].apply(lambda p: p.x)
all_node_gdf['Y'] = all_node_gdf['geometry'].apply(lambda p: p.y)
all_node_gdf['point'] = [list(xy) for xy in zip(all_node_gdf.X, all_node_gdf.Y)]
node_dict = dict(zip(all_node_gdf.model_node_id, all_node_gdf.point))
    
all_cc_link_gdf['A_point'] = all_cc_link_gdf['A'].map(node_dict)
all_cc_link_gdf['B_point'] = all_cc_link_gdf['B'].map(node_dict)
all_cc_link_gdf['locationReferences'] = all_cc_link_gdf.apply(lambda x: [{'sequence':1, 
                                                             'point': x['A_point'],
                                                             'distanceToNextRef':x['length'],
                                                            'bearing' : 0,
                                                             'intersectionId':x['fromIntersectionId']},
                                                                         {'sequence':2, 
                                                             'point': x['B_point'],
                                                             'intersectionId':x['toIntersectionId']}],
                                                   axis = 1)

In [303]:
all_cc_link_gdf.locationReferences.iloc[-1]

[{'sequence': 1,
  'point': [-122.50580293859502, 37.94830473568058],
  'distanceToNextRef': 51.382886808196375,
  'bearing': 0,
  'intersectionId': nan},
 {'sequence': 2,
  'point': [-122.50576480000001, 37.9487303],
  'intersectionId': '44c53879b5a9797cbb2eff72b5f64699'}]

# add shape_id (not necessary for MTC)

all_shape_gdf["shape_id"] = range(1, 1+ len(all_shape_gdf))

shape_id_dict = dict(zip(all_shape_gdf.id, all_shape_gdf.shape_id))

all_link_gdf["shape_id"] = all_link_gdf["id"].map(shape_id_dict)

# write out

In [304]:
all_centroid_node_gdf[all_centroid_node_gdf.model_node_id == 10186]

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
4855,10186,POINT (-122.3304153039983 37.78318054990585),1,1,1,0

In [305]:
all_centroid_node_gdf.head(3)

,model_node_id,geometry,drive_access,walk_access,bike_access,rail_only
0,1,POINT (-122.4235552308525 37.7704613164878),1,1,1,0
1,2,POINT (-122.4185110411505 37.76430798097193),1,1,1,0
2,3,POINT (-122.424376790239 37.76776767513344),1,1,1,0

In [306]:
all_cc_shape_gdf.head(3)

,id,geometry,fromIntersectionId,toIntersectionId,shstGeometryId,county
0,taz_cc661,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc661,San Francisco
1,taz_cc830,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc830,San Francisco
2,taz_cc1710,"LINESTRING (-122.4888978 37.77797810000001, -1...",55d370526a55a5d348e23751aad86ac0,NaN,taz_cc1710,San Francisco

In [307]:
int_col = ["bike_access", "walk_access", "drive_access", "rail_only", "A", "B", "u", "v"]
for c in int_col:
    all_cc_link_gdf[c] = all_cc_link_gdf[c].fillna(0).astype(np.int64)

int_col = ["bike_access", "walk_access", "drive_access", "rail_only"]
for c in int_col:
    all_centroid_node_gdf[c] = all_centroid_node_gdf[c].fillna(0).astype(np.int64)

# write out centroid and centroid connectors seperately

In [296]:
%%time

print("-------write out link shape geojson---------")

shape_prop = ['id', 'fromIntersectionId', 'toIntersectionId']
shape_geojson = link_df_to_geojson(all_cc_shape_gdf, shape_prop)

with open("../../data/interim/step7_centroid_connector/cc_shape.geojson", "w") as f:
    json.dump(shape_geojson, f)

-------write out link shape geojson---------
Wall time: 51 s

In [297]:
%%time

# write out link variable json
# link unique handle "shstReferenceId" + "shstGeometryId"

print("-------write out link json---------")

link_prop = all_cc_link_gdf.drop(["geometry"], axis = 1).columns.tolist()

out = all_cc_link_gdf[link_prop].to_json(orient = "records")

with open("../../data/interim/step7_centroid_connector/cc_link.json", 'w') as f:
    f.write(out)

-------write out link json---------
Wall time: 11.1 s

In [298]:
%%time

print("-------write out node geojson---------")

node_prop = all_centroid_node_gdf.drop(["geometry"], axis = 1).columns.tolist()
node_geojson = point_df_to_geojson(all_centroid_node_gdf, node_prop)

with open("../../data/interim/step7_centroid_connector/centroid_node.geojson", "w") as f:
    json.dump(node_geojson, f)

-------write out node geojson---------
Wall time: 9.23 s

In [308]:
print("-------write out pickle---------")

all_cc_link_gdf.drop(['county_last_id','A_point', 'B_point'], axis = 1).to_pickle(
    "../../data/interim/step7_centroid_connector/cc_link.pickle")
all_cc_shape_gdf.to_pickle("../../data/interim/step7_centroid_connector/cc_shape.pickle")
all_centroid_node_gdf.to_pickle("../../data/interim/step7_centroid_connector/centroid_node.pickle")

-------write out pickle---------

In [309]:
print(all_cc_link_gdf.shape)
print(all_cc_shape_gdf.shape)
print(all_centroid_node_gdf.shape)

(564494, 21)
(282247, 6)
(44482, 6)

In [310]:
maz_cc_link_df[maz_cc_link_df.A == 811960]

,A,B,drive_access,walk_access,bike_access,shstGeometryId,id,u,v,fromIntersectionId,toIntersectionId,roadway
522430,811960,5000992,1.000,0.000,0.000,maz_cc87612,maz_cc87612,nan,1331496807.000,NaN,8e0433654142f54bc4f33dd4c4582aa4,maz
523076,811960,5002710,nan,1.000,1.000,maz_cc251561,maz_cc251561,nan,1818437417.000,NaN,04b5de8ff00f922a8da9322520234ac5,maz
523558,811960,5003988,1.000,0.000,0.000,maz_cc87611,maz_cc87611,nan,110446729.000,NaN,540c8a5c9a5a7ca5e9c9214a558224a0,maz
523992,811960,5005125,nan,1.000,1.000,maz_cc251562,maz_cc251562,nan,3400303578.000,NaN,cb8023db19f6149505629e577fa2b833,maz
524319,811960,5005974,nan,1.000,1.000,maz_cc251564,maz_cc251564,nan,110367504.000,NaN,c949eaecf7386c443aaa7012b7aaacbf,maz
524364,811960,5006150,nan,1.000,1.000,maz_cc251565,maz_cc251565,nan,110367528.000,NaN,c67db9c9f0c1d1fabccb861ba3632cf0,maz
525600,811960,5009415,nan,1.000,1.000,maz_cc251563,maz_cc251563,nan,2837192655.000,NaN,b204a4bc90efafeef1877e923bfda759,maz

In [311]:
taz_cc_link_df[taz_cc_link_df.A == 300963]

,A,B,drive_access,walk_access,bike_access,shstGeometryId,id,u,v,fromIntersectionId,toIntersectionId,roadway
26691,300963,2579949,1,0,0,taz_cc16369,taz_cc16369,nan,2286923039.000,NaN,42fb9b206860ef90946ee5631f76a081,taz
27609,300963,2607569,1,0,0,taz_cc16370,taz_cc16370,nan,53017923.000,NaN,a5c4242ffd0dee287f0ad0007bff5d9e,taz